.client {
  padding-left: 0.7rem;
  padding-right: 1.2rem;
  padding-top: 0.4rem;
}
.client .red {
  color: #E50012;
}
.client .el-tabs__item.is-active {
  color: #161EDE;
}
.client .el-tabs__active-bar {
  background-color: #161EDE;
}
.client .el-tabs__nav-wrap::after {
  height: 1px;
}
.client .top-search {
  display: flex;
  align-content: center;
  margin-top: 0.25rem;
  margin-bottom: 0.2rem;
}
.client .top-search .el-select,
.client .top-search .el-input {
  width: 2rem;
  height: 44px;
  margin-right: 0.1rem;
}
.client .top-search .el-select .el-input__inner,
.client .top-search .el-input .el-input__inner {
  height: 100%;
}
.client .top-search .search-btn {
  background: #161EDE;
  color: #FFF;
  height: 44px;
}
.client .top-search .complaints-btn {
  background: #161EDE;
  color: #FFF;
  height: 44px;
}
.client .el-table thead {
  margin-bottom: 0.1rem;
  padding-bottom: 0.1rem;
}
.client .el-table thead tr th {
  background: #656A88;
  border: 1px solid #FFF;
  color: #FFF;
}
.client .el-table tbody tr:nth-child(2n) td {
  border: 1px solid #FFF;
}
.client .el-table tbody tr:nth-child(2n+1) td {
  background: #EFF9FC;
  border: 1px solid #FFF;
}
.client .el-table .el-table__body-wrapper {
  margin-top: 0.1rem;
}
.client .order-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.client .operation-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client .operation-4 .see-btn {
  cursor: pointer;
  color: rgba(28, 37, 255, 0.8);
}
.client .operation-4 .blue-btn {
  cursor: pointer;
  color: rgba(28, 37, 255, 0.8);
}
.client .operation-4 .column-line {
  width: 2px;
  height: 12px;
  opacity: 1;
  background-color: #E3E8EE;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.client .operation-4 .red-btn {
  cursor: pointer;
  color: #E50012;
}
.client .operation-4 .back-btn {
  cursor: pointer;
  color: #E50012;
}
.client .complaints-dialog .el-dialog__header {
  padding-top: 10px;
  background: #EFF9FC;
}
.client .complaints-dialog .el-dialog__header .el-dialog__headerbtn {
  top: 10px;
}
.client .complaints-dialog .el-dialog__header .dialog-title {
  display: flex;
  align-items: center;
}
.client .complaints-dialog .el-dialog__header .dialog-title p {
  margin-left: 8px;
}
.client .complaints-dialog .dialog-main .el-select {
  height: 44px;
  width: 100%;
}
.client .complaints-dialog .dialog-main .el-select .el-input {
  height: 100%;
}
.client .complaints-dialog .dialog-main .el-select .el-input .el-input__inner {
  height: 100%;
}
.client .complaints-dialog .dialog-main .content .content-item {
  background: #F5F5F5;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: 1px solid #E3E8EE;
  margin-bottom: 0.1rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
}
.client .complaints-dialog .dialog-main .content .content-item .images {
  display: flex;
  flex-wrap: wrap;
}
.client .complaints-dialog .dialog-main .content .content-item .images img {
  width: 1.2rem;
  height: 0.8rem;
  margin-right: 0.08rem;
  margin-bottom: 0.1rem;
  cursor: pointer;
}
.client .complaints-dialog .dialog-footer .sub-btn {
  color: #FFF;
  background: #161EDE;
}
.client .complaints-dialog .dialog-footer .close-btn {
  color: #4B4B6B;
}
.client .appraise-dialog .el-dialog__body {
  padding-bottom: 0;
}
.client .appraise-dialog .dialog-footer .sub-btn {
  color: #FFF;
  background: #161EDE;
}
.client .appraise-dialog .dialog-footer .close-btn {
  color: #4B4B6B;
}
.client .comon-dialog .el-dialog__header {
  padding-top: 10px;
  background: #EFF9FC;
}
.client .comon-dialog .el-dialog__header .el-dialog__headerbtn {
  top: 10px;
}
.client .comon-dialog .el-dialog__header .dialog-title {
  display: flex;
  align-items: center;
}
.client .comon-dialog .el-dialog__header .dialog-title p {
  margin-left: 8px;
}
.client .comon-dialog .dialog-main .number-input {
  width: 100%;
  height: 44px;
}
.client .comon-dialog .dialog-main .number-input .el-input {
  height: 100%;
}
.client .comon-dialog .dialog-main .number-input .el-input .el-input__inner {
  height: 100%;
  text-align: left;
}
.client .comon-dialog .dialog-main .content .content-item {
  background: #F5F5F5;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: 1px solid #E3E8EE;
  margin-bottom: 0.1rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
}
.client .comon-dialog .dialog-main .content .content-item .images {
  display: flex;
  flex-wrap: wrap;
}
.client .comon-dialog .dialog-main .content .content-item .images img {
  width: 1.2rem;
  height: 0.8rem;
  margin-right: 0.08rem;
  margin-bottom: 0.1rem;
  cursor: pointer;
}
.client .comon-dialog .dialog-footer .sub-btn {
  color: #FFF;
  background: #161EDE;
}
.client .comon-dialog .dialog-footer .close-btn {
  color: #4B4B6B;
}
.client .renew-dialog .el-dialog__header {
  padding-left: 0.8rem;
  padding-top: 0.5rem;
}
.client .renew-dialog .el-dialog__header .dialog-title p {
  font-size: 0.24rem;
  color: #171725;
}
.client .renew-dialog .el-dialog__body {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.client .renew-dialog .el-dialog__body .dialog-main .renew-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.client .renew-dialog .el-dialog__body .dialog-main .renew-content .renew-item {
  width: 1.6rem;
  min-height: 0.62rem;
  border: 1px solid #E6E7EB;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  position: relative;
}
.client .renew-dialog .el-dialog__body .dialog-main .renew-content .renew-item:nth-child(3) {
  margin-right: 0;
}
.client .renew-dialog .el-dialog__body .dialog-main .renew-content .renew-item:nth-child(6) {
  margin-right: 0;
}
.client .renew-dialog .el-dialog__body .dialog-main .renew-content .renew-item .item-top {
  font-size: 0.15rem;
  color: #1E2736;
  margin-top: 0.08rem;
}
.client .renew-dialog .el-dialog__body .dialog-main .renew-content .renew-item .item-bottom {
  font-size: 0.15rem;
  color: #0058FF;
  margin-top: 0.04rem;
}
.client .renew-dialog .el-dialog__body .dialog-main .renew-content .renew-item .check {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: #FFF;
}
.client .renew-dialog .el-dialog__body .dialog-main .renew-content .renew-active {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
}
.client .renew-dialog .el-dialog__body .dialog-main .renew-content .renew-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 0;
  height: 0;
  border-bottom: 0.24rem solid #0058FF;
  border-left: 0.24rem solid transparent;
}
.client .renew-dialog .el-dialog__body .dialog-main .pay-content {
  border: 1px solid #E6E7EB;
  border-radius: 3px;
  padding: 0.2rem 0;
  padding-right: 0.3rem;
}
.client .renew-dialog .el-dialog__body .dialog-main .pay-content .pay-price {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.client .renew-dialog .el-dialog__body .dialog-main .pay-content .pay-price .money {
  display: flex;
  align-items: center;
}
.client .renew-dialog .el-dialog__body .dialog-main .pay-content .pay-price .money .text {
  font-size: 0.14rem;
  color: #1E2736;
  margin-right: 0.08rem;
}
.client .renew-dialog .el-dialog__body .dialog-main .pay-content .pay-price .money .num {
  font-size: 0.28rem;
  font-family: Helvetica;
  font-weight: bold;
  color: #F0142F;
}
.client .renew-dialog .dialog-footer {
  padding-right: 0.6rem;
}
.client .renew-dialog .dialog-footer .sub-btn {
  color: #FFF;
  background: #161EDE;
}
.client .renew-dialog .dialog-footer .close-btn {
  color: #4B4B6B;
}
