.shop_detail .top-back {
  display: flex;
  align-items: center;
  margin-left: 0.4rem;
  margin-top: 0.16rem;
  cursor: pointer;
}
.shop_detail .top-back .back-img {
  width: 14px;
  height: 14px;
}
.shop_detail .top-back .back-text {
  color: #090A3A;
  margin-left: 0.03rem;
}
.shop_detail .app-detail {
  padding-left: 1.2rem;
  padding-right: 3.6rem;
}
.shop_detail .app-detail .app-top {
  padding-bottom: 0.9rem;
  border-bottom: 1px solid #E3E8EE;
  margin-top: 0.31rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.14rem;
}
.shop_detail .app-detail .app-top .app-msg {
  display: flex;
}
.shop_detail .app-detail .app-top .app-msg .app-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.41rem;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce {
  padding-bottom: 0.1rem;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .name {
  display: flex;
  align-items: center;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .name .name-text {
  font-size: 0.24rem;
  font-weight: bold;
  color: #090A3A;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .name .safe-img {
  margin-left: 0.08rem;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .name .copyright-img {
  margin-left: 0.08rem;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .star {
  margin-top: 0.1rem;
  width: 95px;
  height: 22px;
  position: relative;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .star .star-on {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .star .star-on i {
  width: 19px;
  font-size: 19px;
  color: #FEBF13;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .star .star-off {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .star .star-off i {
  color: #FEBF13;
  font-size: 19px;
  width: 19px;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .bottom-msg {
  min-width: 3.35rem;
  margin-top: 0.21rem;
  padding-top: 0.21rem;
  border-top: 1px dashed #E3E8EE;
  display: flex;
  flex-direction: column;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .bottom-msg .mar-top-37 {
  margin-top: 0.3rem;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .bottom-msg .row {
  display: flex;
  margin-bottom: 0.06rem;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .bottom-msg .row .item {
  width: 50%;
  display: flex;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .bottom-msg .row .item .label {
  color: #656A88;
}
.shop_detail .app-detail .app-top .app-msg .app-introduce .bottom-msg .row .item .value {
  color: #090A3A;
}
.shop_detail .app-detail .app-top .app-msg .app-bug-ts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.1rem;
  margin-left: 0.85rem;
}
.shop_detail .app-detail .app-top .app-msg .app-bug-ts .ts {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.shop_detail .app-detail .app-top .app-msg .app-bug-ts .ts img {
  width: 14px;
  height: 14px;
  margin-right: 0.04rem;
}
.shop_detail .app-detail .app-top .app-msg .app-bug-ts .el-button {
  color: #FFFFFF;
  font-size: 16px;
  background: #161EDE;
}
.shop_detail .app-detail .app-top .client {
  width: 255px;
  border: 1px solid #E3E8EE;
  border-radius: 14px;
  padding-top: 0.2rem;
  padding-left: 0.24rem;
  padding-right: 0.21rem;
  padding-bottom: 0.17rem;
}
.shop_detail .app-detail .app-top .client .client-top {
  display: flex;
}
.shop_detail .app-detail .app-top .client .client-top .client-logo {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}
.shop_detail .app-detail .app-top .client .client-top .client-goods-name {
  display: flex;
  flex-direction: column;
  margin-left: 0.14rem;
  margin-top: 0.03rem;
}
.shop_detail .app-detail .app-top .client .client-top .client-goods-name .name {
  font-size: 0.18rem;
  font-weight: bold;
  color: #090A3A;
}
.shop_detail .app-detail .app-top .client .client-top .client-goods-name .goods {
  display: flex;
  align-items: center;
}
.shop_detail .app-detail .app-top .client .client-top .client-goods-name .goods .label {
  font-size: 12px;
  font-weight: 500;
  color: #656A88;
}
.shop_detail .app-detail .app-top .client .client-top .client-goods-name .goods .value {
  font-size: 16px;
  color: #090A3A;
  margin-left: 0.06rem;
}
.shop_detail .app-detail .app-top .client .client-top .client-goods-name .goods .colum-line {
  width: 0px;
  height: 0.1rem;
  border: 1px solid #E3E8EE;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.shop_detail .app-detail .app-top .client .client-top .a-style {
  cursor: pointer;
}
.shop_detail .app-detail .app-top .client .profile {
  margin-top: 0.12rem;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #656A88;
}
.shop_detail .app-detail .app-top .client .contact-way {
  margin-top: 0.22rem;
}
.shop_detail .app-detail .app-top .client .contact-way .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.09rem;
}
.shop_detail .app-detail .app-top .client .contact-way .row:last-child {
  margin-bottom: 0;
}
.shop_detail .app-detail .app-top .client .contact-way .row img {
  width: 14px;
  height: 14px;
}
.shop_detail .app-detail .app-top .client .contact-way .row .label {
  width: 48px;
  font-size: 12px;
  font-weight: 500;
  color: #656A88;
  margin-left: 0.02rem;
  margin-right: 0.19rem;
}
.shop_detail .app-detail .app-top .client .contact-way .row .value {
  font-size: 14px;
  color: #090A3A;
  text-decoration: none;
}
.shop_detail .app-detail .el-tabs__item {
  color: #161EDE;
  height: 30px;
}
.shop_detail .app-detail .el-tabs__active-bar {
  height: 1px;
  background: #161EDE;
}
.shop_detail .app-detail .el-tabs__nav-wrap::after {
  background: none;
}
.shop_detail .app-detail .el-tabs__content {
  background: #F7FAFC;
}
.shop_detail .app-detail .instruction {
  padding: 0.16rem 0.3rem;
}
.shop_detail .app-detail .evaluation {
  padding: 0.16rem 0.3rem;
}
.shop_detail .app-detail .evaluation .top-score .text {
  font-size: 18px;
  font-weight: bold;
  color: #4B4B6B;
}
.shop_detail .app-detail .evaluation .top-score .num {
  font-size: 0.36rem;
  font-weight: bold;
}
.shop_detail .app-detail .evaluation .top-score .num .num-text {
  font-weight: 400;
  font-size: 14px;
  color: #4B4B6B;
}
.shop_detail .app-detail .evaluation .evaluation-list {
  height: 500px;
  overflow: auto;
}
.shop_detail .app-detail .evaluation .evaluation-list .evaluation-item {
  padding: 20px;
  background: #FFFFFF;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.shop_detail .app-detail .evaluation .evaluation-list .evaluation-item .star-box {
  display: flex;
}
.shop_detail .app-detail .evaluation .evaluation-list .evaluation-item .star-box > div {
  width: 28px;
  height: 26px;
  margin-right: 8px;
}
.shop_detail .app-detail .evaluation .evaluation-list .evaluation-item .star-box > div img {
  width: 100%;
  height: 100%;
}
.shop_detail .app-detail .evaluation .evaluation-list .evaluation-item .user-info {
  margin-top: 13px;
  color: #4B4B6B;
  font-size: 12px;
}
.shop_detail .app-detail .evaluation .evaluation-list .evaluation-item .evaluation-content {
  margin-top: 16px;
  font-size: 14px;
  color: #090A3A;
}
.shop_detail .app-detail .evaluation .evaluation-list .evaluation-item .replay-box {
  margin-top: 17px;
  padding-top: 16px;
  border-top: 1px solid #E3E8EE;
}
.shop_detail .app-detail .evaluation .evaluation-list .evaluation-item .replay-box .replay-item {
  font-size: 0.14rem;
  color: #090A3A;
}
.shop_detail .app-detail .evaluation .evaluation-list .evaluation-item .replay-box .replay-item .red-replay {
  color: #E50012;
}
.price-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.price-box .price-item {
  cursor: pointer;
  margin-bottom: 16px;
  width: 202px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
  border: 1px solid #E6E7EB;
  font-size: 16px;
  color: #090A3A;
}
.price-box .actice-pay {
  background: #FFFFFF;
  border: 1px solid #161EDE;
}
.dialog-footer .el-button {
  border-radius: 0;
  height: 44px;
  font-size: 16px;
  width: 96px;
}
.dialog-footer .ok-btn {
  color: #FFFFFF;
  background: #161EDE;
}
.dialog-footer .cancel-btn {
  font-size: 16px;
  color: #4B4B6B;
}
.complaints-dialog .el-dialog__header {
  padding-top: 10px;
  background: #EFF9FC;
}
.complaints-dialog .el-dialog__header .el-dialog__headerbtn {
  top: 10px;
}
.complaints-dialog .el-dialog__header .dialog-title {
  display: flex;
  align-items: center;
}
.complaints-dialog .el-dialog__header .dialog-title p {
  margin-left: 8px;
}
.complaints-dialog .dialog-main .el-select {
  height: 44px;
  width: 100%;
}
.complaints-dialog .dialog-main .el-select .el-input {
  height: 100%;
}
.complaints-dialog .dialog-main .el-select .el-input .el-input__inner {
  height: 100%;
}
.complaints-dialog .dialog-main .content .content-item {
  background: #F5F5F5;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: 1px solid #E3E8EE;
  margin-bottom: 0.1rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
}
.complaints-dialog .dialog-main .content .content-item .images {
  display: flex;
  flex-wrap: wrap;
}
.complaints-dialog .dialog-main .content .content-item .images img {
  width: 1.2rem;
  height: 0.8rem;
  margin-right: 0.08rem;
  margin-bottom: 0.1rem;
  cursor: pointer;
}
.complaints-dialog .dialog-footer .sub-btn {
  color: #FFF;
  background: #161EDE;
}
.complaints-dialog .dialog-footer .close-btn {
  color: #4B4B6B;
}
.red-text {
  color: #E50012 !important;
}
.text-decoration {
  text-decoration: line-through;
}
.version-box {
  padding: 20px 30px 30px 30px;
  background: #F7FAFC;
}
.version-box .version-item {
  margin-bottom: 16px;
  padding: 12px 22px 20px 20px;
  background: #FFFFFF;
}
.version-box .version-item .version-num {
  font-size: 16px;
  font-weight: bold;
  color: #090A3A;
  border-bottom: 1px solid #E3E8EE;
  padding-bottom: 10px;
}
.version-box .version-item .version-desc {
  margin-top: 10px;
  font-size: 14px;
  color: #656A88;
}
.version-box .version-item:nth-last-of-type(1) {
  margin-bottom: 0;
}
