.config-box .contract-box {
  font-size: 0.14rem;
}
.config-box .contract-box .contract-top .back-img {
  width: 0.24rem;
  height: 0.26rem;
  cursor: pointer;
}
.config-box .contract-box .contract-top .top-product-name {
  font-size: 0.28rem;
  color: #171725;
  margin-left: 0.25rem;
}
.config-box .contract-box .go-contract {
  margin-top: 1.96rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.config-box .contract-box .go-contract .contract-img {
  width: 1.72rem;
  height: 1.72rem;
}
.config-box .contract-box .go-contract .contract-text {
  margin: 0.4rem 0 0.24rem;
  font-size: 0.16rem;
  color: #1E2736;
}
.config-box .contract-box .go-contract .contract-btn {
  font-size: 0.16rem;
  color: rgba(255, 255, 255, 0.9);
  width: 1.12rem;
  height: 0.46rem;
  background: #0058FF;
  border-radius: 0.03rem 0.03rem 0.03rem 0.03rem;
}
