.promotionDetail-contetn header {
  display: flex;
  margin-bottom: 0.4rem;
  padding-bottom: 0.2rem;
  border-bottom: 0.01rem solid #e6e7eb;
  font-size: 0.28rem;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 0.25rem;
  color: #171725;
}
.promotionDetail-contetn header img {
  display: block;
  width: 0.24rem;
  height: 0.26rem;
  margin-right: 0.24rem;
  cursor: pointer;
}
.promotionDetail-contetn main .title {
  padding-left: 0.1rem;
  border-left: 0.03rem solid #0058ff;
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  font-size: 0.18rem;
  font-family: PingFang SC;
  font-weight: 500;
  line-height: 0.25rem;
  color: #1e2736;
}
.promotionDetail-contetn main .el-form {
  padding-left: 0.5rem;
}
.promotionDetail-contetn main .el-form .el-form-item {
  width: 5.4rem;
}
.promotionDetail-contetn main .el-form .el-form-item .el-form-item__label {
  font-size: 0.16rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #1e2736;
}
.promotionDetail-contetn main .el-form .el-form-item .el-form-item__content {
  width: 4rem;
}
.promotionDetail-contetn main .el-form .el-form-item .el-form-item__content .el-input {
  width: 3.6rem;
  margin-right: 0.1rem;
}
.promotionDetail-contetn main .el-form .el-form-item .el-form-item__content .textarea .el-textarea__inner {
  width: 3.6rem;
  height: 1.12rem;
}
.promotionDetail-contetn main .el-form .el-form-item .el-form-item__content .text {
  font-size: 0.15rem;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 0.24rem;
  color: #8692b0;
}
.promotionDetail-contetn main .content-table {
  border: 1px solid #e6e7eb;
  border-radius: 3px;
}
