/* 管理相关 */
.log-system .common-header {
  justify-content: flex-end;
  margin-bottom: 14px;
}
.log-system .common-header .search {
  width: 360px;
}
.log-system .log-description-width img {
  width: 140px;
  height: 84px;
}
/* log-notice-sms */
.log-notice-sms .common-header,
.log-notice-email .common-header {
  margin-bottom: 14px;
}
.log-notice-sms .common-header .t-button,
.log-notice-email .common-header .t-button {
  margin-right: 20px;
}
.log-notice-sms .common-header .search,
.log-notice-email .common-header .search {
  width: 360px;
}
/* task */
.task .t-form {
  flex-wrap: nowrap;
}
.task .t-form .t-form__label {
  width: auto !important;
  padding-right: 10px !important;
}
.task .t-form .t-form__controls {
  margin-left: 0 !important;
  margin-right: 0;
}
.task .t-form .t-form__item {
  margin-right: 0 !important;
  min-width: auto;
}
.task .t-form .search {
  margin-left: 10px;
}
.task .t-form .search .t-form__controls {
  width: 200px;
}
.task .t-form .f-btn {
  margin-left: 20px;
}
.task .t-form .f-btn .t-button {
  margin-right: 20px;
}
.task .task-icon {
  width: 14px;
  height: 14px;
}
.task .t-date-range-picker {
  width: 300px;
  margin: 0 10px;
}
@media screen and (max-width: 1400px) {
  .task .t-form .search .t-form__controls {
    width: 200px;
  }
  .task .t-form .t-form__controls {
    width: 200px;
  }
  .task .t-form .t-form__item {
    margin-right: 20px !important;
  }
  .task .t-form .f-btn {
    margin-left: 0;
    margin-right: 0 !important;
  }
  .task .t-form .f-btn .t-form__controls {
    width: auto;
  }
}
@media screen and (max-width: 1100px) {
  .task .t-form .search .t-form__controls {
    width: 150px;
  }
  .task .t-form .t-form__controls {
    width: 150px;
  }
}
