.re-order-details .list-card-container .t-card__body {
  padding: 42px 40px;
  display: flex;
  flex-direction: column;
}
.re-order-details .list-card-container .t-card__body .top {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}
.re-order-details .list-card-container .t-card__body .content {
  display: flex;
  justify-content: space-between;
}
.re-order-details .list-card-container .t-card__body .content .left {
  flex: 1;
  padding-right: 90px;
}
.re-order-details .list-card-container .t-card__body .content .left .item {
  margin-top: 60px;
}
.re-order-details .list-card-container .t-card__body .content .left .item:first-child {
  margin-top: 42px;
}
.re-order-details .list-card-container .t-card__body .content .left .item .item-title {
  display: flex;
}
.re-order-details .list-card-container .t-card__body .content .left .item .item-title .text {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  white-space: nowrap;
}
.re-order-details .list-card-container .t-card__body .content .left .item .item-title .row-bottom-line {
  width: 100%;
  border-bottom: 1px solid #DCDCDC;
}
.re-order-details .list-card-container .t-card__body .content .left .item .item-content {
  margin-top: 20px;
}
.re-order-details .list-card-container .t-card__body .content .left .item .item-content .status-item .operation-btn {
  margin-left: 14px;
}
.re-order-details .list-card-container .t-card__body .content .left .item .item-content .buy-item {
  display: flex;
  flex-direction: column;
}
.re-order-details .list-card-container .t-card__body .content .left .item .item-content .buy-item span {
  font-size: 14px;
  color: #333333;
}
.re-order-details .list-card-container .t-card__body .content .right {
  flex: 1;
  padding: 60px 30px 30px 46px;
  box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.re-order-details .list-card-container .t-card__body .content .right .top-config .item-title {
  display: flex;
}
.re-order-details .list-card-container .t-card__body .content .right .top-config .item-title .text {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  white-space: nowrap;
}
.re-order-details .list-card-container .t-card__body .content .right .top-config .item-title .row-bottom-line {
  width: 100%;
  border-bottom: 1px solid #DCDCDC;
}
.re-order-details .list-card-container .t-card__body .content .right .top-config .item-name {
  padding: 11px 10px;
  margin-top: 30px;
  margin-bottom: 28px;
  background: #F7F7F7;
  display: flex;
  align-items: center;
}
.re-order-details .list-card-container .t-card__body .content .right .top-config .item-name .product-name {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.re-order-details .list-card-container .t-card__body .content .right .top-config .item-name .code {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin-left: 20px;
}
.re-order-details .list-card-container .t-card__body .content .right .top-config .item-config {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 9px;
}
.re-order-details .list-card-container .t-card__body .content .right .top-config .item-config .item-left {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}
.re-order-details .list-card-container .t-card__body .content .right .top-config .item-config .item-left .l-name {
  margin-right: 8px;
}
.re-order-details .list-card-container .t-card__body .content .right .top-config .item-config .item-right {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}
.re-order-details .list-card-container .t-card__body .content .right .bottom-money {
  border-top: 1px solid #DCDCDC;
  padding-top: 30px;
}
.re-order-details .list-card-container .t-card__body .content .right .bottom-money .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.re-order-details .list-card-container .t-card__body .content .right .bottom-money .bottom-row .item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}
.re-order-details .list-card-container .t-card__body .content .right .bottom-money .bottom-row .item img {
  width: 16px;
  height: 16px;
  position: absolute;
  right: -20px;
}
