/* 系统设置 */
.configuration-system .box {
  padding: 13px 20px 20px;
}
.configuration-system .service .tip {
  position: relative;
  margin-top: -20px;
}
.configuration-system .service .tip p {
  margin: 0;
  line-height: 32px;
}
.configuration-system .t-col {
  margin-bottom: 25px;
}
.configuration-system .upload {
  width: 130px;
  height: 32px;
  background: #eee;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
.configuration-system .up-tip {
  font-size: 12px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
}
.configuration-system .up-tip p {
  line-height: 1;
  margin: 0;
  margin-bottom: 5px;
}
.configuration-system .t-form-item__system_logo {
  width: auto;
}
.configuration-system .t-form-item__system_logo .t-form__controls-content {
  align-items: flex-start;
}
.configuration-system .logo {
  margin-left: 35px;
  cursor: pointer;
}
.configuration-system .logo .box {
  width: 130px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  position: relative;
  background: #EEEEEE;
  padding: 0;
}
.configuration-system .logo img {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
.configuration-system .logo:hover .hover {
  opacity: 1;
}
.configuration-system .logo .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #656565;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
}
.configuration-system .logo .name {
  font-size: 12px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
}
.configuration-system .tab .box {
  width: 32px;
}
.configuration-system .t-form-item__tab_logo {
  margin-bottom: 24px !important;
}
.configuration-system .t-form-item__tab_logo .t-form__controls-content {
  display: flex;
  align-items: flex-start;
}
.configuration-system .t-input-number {
  width: 100%;
}
.configuration-system .t-pagination__jump .t-input-number {
  width: 56px;
}
.configuration-system .start-item {
  display: block;
}
.configuration-system .start-item .txt {
  min-width: 100px;
  display: inline-block;
}
.configuration-system .start-item .t-radio {
  display: inline-block;
  line-height: 32px;
  height: 32px;
}
.configuration-system .custom-label {
  display: flex;
  align-items: center;
}
/* configuration-login */
.configuration-login .t-col {
  display: flex;
  column-gap: 30px;
}
.configuration-login .btn {
  margin-top: 30px !important;
}
.configuration-login .btn .t-button {
  margin-right: 20px;
  margin-left: 0;
}
.configuration-login .tip {
  display: flex;
  color: var(--td-font-gray-2);
}
.configuration-login .tip svg {
  margin-right: 5px;
  color: var(--td-warning-color);
  position: relative;
  top: 2px;
}
.configuration-login .tip p {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}
/* configuration-security */
.configuration-security .t-input__help {
  font-size: 0;
  min-height: 0;
}
.configuration-security .submit {
  margin-top: 32px !important;
}
.configuration-security .t-select {
  width: 320px;
}
.configuration-security .t-row:first-child {
  margin-bottom: 30px;
}
.configuration-security .t-row:first-child .t-form__controls {
  margin-top: 8px;
}
.configuration-security .code .t-checkbox {
  margin-right: 28px;
}
.configuration-security .t-radio {
  margin-right: 50px;
}
.configuration-security .f-item {
  margin-top: 20px;
}
.configuration-security .t-divider {
  margin: 18px 0 35px;
}
.configuration-security .tip {
  display: flex;
  color: var(--td-font-gray-2);
}
.configuration-security .tip svg {
  margin-right: 5px;
  color: var(--td-warning-color);
  position: relative;
  top: 2px;
}
.configuration-security .tip p {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}
.configuration-security .item {
  display: flex;
  justify-content: space-between;
}
.configuration-security .item .t-form__item {
  width: 45%;
}
.configuration-security .codeUrl {
  height: 37px;
}
/* configuration_currency */
.configuration-currency .com-h-tit {
  margin-bottom: 27px;
}
.configuration-currency .f-btn .t-button {
  margin-right: 20px;
}
.configuration-currency svg {
  margin-right: 5px;
  color: var(--td-warning-color);
  margin-left: 10px;
}
.configuration-currency .tip {
  font-size: 12px;
  color: var(--td-font-gray-2);
}
.configuration-currency .btn {
  margin-top: 30px !important;
}
.configuration-currency .btn .t-button {
  margin-left: 0;
  margin-right: 20px;
}
.configuration-currency .t-row {
  margin-bottom: 25px;
}
/* gateway */
.gateway .status {
  padding: 0 17px;
}
.gateway .t-form .t-form__label label {
  width: 100%;
}
/* admin */
.admin {
  /* 2023-04-11 */
}
.admin .status {
  padding: 0 17px !important;
}
.admin .f-btn {
  text-align: right;
}
.admin .f-btn .t-button {
  margin-left: 20px;
  margin-right: 0;
}
.admin .right-search {
  display: flex;
}
.admin .right-search .com-search {
  margin-right: 20px;
}
.admin .right-search .search-input {
  width: 240px;
}
.admin .right-search .t-select__wrap {
  margin-right: 10px;
}
/* admin-role */
.admin-role .auth-dialog .t-form__controls-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.admin-role .opt {
  margin-top: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.admin-role .opt .tip {
  color: red;
}
.admin-role .auth {
  margin-left: -24px;
}
.admin-role .disable {
  cursor: not-allowed;
}
/* notice-sms */
.notice-sms .common-header .header-left,
.notice-email .common-header .header-left,
.gateway .common-header .header-left,
.notice-email-template .common-header .header-left {
  display: flex;
}
.notice-sms .common-header .change_log,
.notice-email .common-header .change_log,
.gateway .common-header .change_log,
.notice-email-template .common-header .change_log {
  margin-right: 20px;
}
.notice-sms .version div,
.notice-email .version div,
.gateway .version div,
.notice-email-template .version div {
  display: flex;
  align-items: center;
}
.notice-sms .version .upgrade img,
.notice-email .version .upgrade img,
.gateway .version .upgrade img,
.notice-email-template .version .upgrade img {
  width: 16px;
  cursor: pointer;
  display: block;
  margin-left: 10px;
}
.notice-email-template-create .com-f-btn {
  text-align: left;
}
.notice-email-template-create .com-f-btn .t-button {
  margin-left: 0;
  margin-right: 20px;
}
.notice-email-template-create .box {
  padding: 13px 20px 20px;
}
.notice-email-template-create .t-form {
  margin-top: 30px;
}
.notice-email-template-create .t-form .t-input {
  width: 320px;
}
.notice-email-template-create .t-form .emailTemp {
  width: 1230px;
  max-width: 100%;
}
.notice-email-template-create .t-form__label,
.notice-email-template-create .t-form__controls {
  width: 100% !important;
  text-align: left;
  margin-left: 0 !important;
}
.notice-email-template-create #tinymce ul,
.notice-email-template-create #tinymce li {
  list-style: none !important;
}
/* cron */
.cron .com-h-tit {
  margin-bottom: 27px;
}
.cron .item-box {
  margin-bottom: 25px;
}
.cron .tip {
  width: auto;
}
.cron .t-input-number {
  width: 80px;
  margin: 0 5px;
}
.cron .t-input-number .t-input__inner {
  text-align: center;
}
.cron .t-input-number + span {
  white-space: nowrap;
}
.cron .t-form__label {
  min-width: 140px;
}
.cron .f-btn {
  margin-top: 30px !important;
}
.cron .t-switch {
  margin: 0 20px 0 0;
}
.cron .half .t-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cron .half .t-form__label {
  width: 150px;
}
.cron .half .item {
  width: 48%;
  margin-bottom: 20px;
}
.cron .half .t-tag {
  height: 50px;
  line-height: 50px;
  display: block;
}
.cron .half .t-input__wrap {
  width: 80px;
  margin: 0 10px;
}
.cron .half .t-input__wrap input {
  text-align: center;
}
.cron .t-alert {
  margin-bottom: 50px;
}
.cron .f-btn .t-button {
  margin-left: 0;
  margin-right: 20px;
}
/* notice-send */
.notice-send .header-left .tit {
  margin-bottom: 10px;
  display: block;
}
.notice-send .header-left .t-form {
  display: flex;
}
.notice-send .header-left .t-form .t-form__label {
  width: auto !important;
}
.notice-send .header-left .t-form .t-form__controls {
  margin-left: 20px !important;
}
.notice-send .header-left .t-select {
  max-width: 280px;
  min-width: 200px;
}
.notice-send .none_pop .t-popup {
  display: none;
}
.notice-send .common-header {
  margin-bottom: 20px;
}
.notice-send .add {
  margin-top: 30px;
}
.notice-send .t-popup {
  z-index: 3;
}
.notice-send .required .t-select {
  border-color: var(--td-error-color);
}
/* 暗黑模式 */
:root[theme-mode=dark] .configuration-security .tip {
  color: #fff;
}
/* configuration-theme */
.configuration-theme .t-tabs__content {
  padding: 0 0 50px 50px;
}
.configuration-theme .chiled-tabs .t-tabs__content {
  padding: 20px 0 0 0;
}
.configuration-theme .theme-box {
  clear: both;
  width: 120%;
  padding: 0;
  margin: 0;
  margin-left: -30px;
}
.configuration-theme .t-form__label--top {
  color: #333;
  font-size: 14px;
}
.configuration-theme .item {
  width: 16%;
  float: left;
  margin-left: 30px;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
}
.configuration-theme .item .img {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.configuration-theme .item .img .jump_controller {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.configuration-theme .item .img .jump_controller .t-icon {
  color: #fff;
}
.configuration-theme .item .img .jump_controller .t-button__text {
  display: flex;
  align-items: center;
}
.configuration-theme .item img {
  width: 100%;
  height: 145px;
}
.configuration-theme .item .icon {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  background: var(--td-brand-color-8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.configuration-theme .item .icon .t-icon {
  color: #fff;
}
.configuration-theme .item .text {
  width: 100%;
  font-size: 14px;
  color: #333;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.configuration-theme .item.active .icon {
  opacity: 1;
}
.configuration-theme .item.active .text {
  color: var(--td-brand-color-8);
}
.configuration-theme .t-select {
  width: 320px;
}
/* captcha */
.captcha .no-allow {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.5;
  cursor: not-allowed;
}
/* upload */
.upgrade-box .upgrade-box-title {
  display: flex;
}
.upgrade-box .public-box {
  margin-top: 40px;
  margin-bottom: 10px;
}
.upgrade-box .upgrade-title-text {
  font-size: 14px;
  color: #333333;
}
.upgrade-box .upgrade-title-line {
  border-bottom: 1px solid #DCDCDC;
  flex: 1;
}
.upgrade-box .upgrade-contend {
  margin-top: 36px;
}
.upgrade-box .upgrade-contend .msg-item {
  display: flex;
  color: #333333;
  font-size: 14px;
  margin-bottom: 20px;
}
.upgrade-box .upgrade-contend .no-margin {
  margin-bottom: 0;
}
.upgrade-box .upgrade-contend .msg-footer {
  margin-left: 15px;
}
.upgrade-box .footer-btn .t-button {
  height: 24px;
  border-radius: 3px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
}
.upgrade-box .table-box {
  cursor: pointer;
}
.upgrade-box .table-row {
  padding-left: 25px !important;
}
.upgrade-box .s-item {
  display: flex;
  min-width: 400px;
  align-items: center;
}
.upgrade-box .auth-btn {
  margin-left: 10px;
}
@media screen and (max-width: 1400px) {
  .configuration-system .special {
    margin-top: 0;
  }
}
/* child-server */
.child-server .common-tab {
  margin: 0 0px 22px;
}
.child-server .back {
  font-size: 14px;
  color: var(--td-brand-color-active);
  cursor: pointer;
  font-weight: normal;
}
.child-server .help {
  color: var(--td-brand-color-active);
}
.child-server .t-input-number {
  width: 100%;
}
.child-server .t-pagination .t-input-number {
  width: 48px;
}
.child-server .more-module {
  margin-left: 10px;
}
.child-server .child-module .t-select__wrap {
  width: auto;
  flex: 1;
}
.child-server .child-module .t-form__controls-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* child-group-dialog */
.child-group-dialog .t-radio-group {
  flex-direction: column;
}
.child-group-dialog .t-radio-group .t-radio {
  width: 100%;
  line-height: 32px;
}
.child-group-dialog .t-radio-group .t-radio .tip {
  color: #999;
  margin-left: 10px;
  white-space: pre-wrap;
}
.isEn .cron .t-form .t-form__label {
  width: 220px !important;
}
.isEn .cron .t-switch + span {
  white-space: nowrap;
}
/* debug调试 */
.configuration-debug .s-tip {
  margin-left: 10px;
}
.configuration-debug .debug-con {
  max-width: 700px;
  display: flex;
}
.configuration-debug .debug-con .left {
  flex: 1;
  margin-right: 20px;
}
.configuration-debug .debug-con textarea {
  font-family: Microsoft YaHei;
  border: 1px solid var(--td-border-level-2-color);
  display: block;
  width: 100%;
  border-radius: 3px;
  min-height: 300px;
  padding: 5px 10px;
  outline: none;
  transition: all cubic-bezier(0.38, 0, 0.24, 1) 0.2s, height 0s;
}
.configuration-debug .debug-con textarea:focus {
  border-color: var(--td-brand-color);
  box-shadow: 0 0 0 2px var(--td-brand-color-focus);
}
.configuration-debug .debug-con .des {
  width: 100%;
  background: #fff6e6;
  color: #ffaa2f;
  line-height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0;
}
.configuration-debug .debug-con .t-button {
  margin-left: 20px;
}
.product_url .t-form__controls-content {
  display: flex;
  flex-direction: column;
}
.product_url .t-form__controls-content .s-tip {
  color: #999;
  line-height: 1.2;
  margin: 5px 0 0;
}
.isEn .configuration-login .t-form .t-form__label {
  width: auto !important;
}
.isEn .child-group-dialog .t-radio-group .t-radio .tip {
  margin-left: 0;
  display: block;
  padding-right: 20px;
}
.isEn .child-group-dialog .t-dialog__body {
  overflow: hidden;
}
.isEn .test-dialog .t-form .t-form__label {
  width: 180px !important;
}
.isEn .admin-dialog .t-form .t-form__label {
  width: 180px !important;
}
.isEn .auth-dialog .t-form .t-form__label {
  width: 160px !important;
}
.isEn .auth-dialog .t-form__controls {
  margin-left: 160px !important;
}
.isEn .auth-dialog .t-checkbox__label {
  flex: 1;
}
.isEn .child-dialog .t-form .t-form__label {
  width: 160px !important;
}
.isEn .child-group .t-dialog__body {
  overflow: hidden;
}
.theme_controller_tip {
  max-width: 320px !important;
}
.dia-tips,
.tips-text {
  color: var(--td-text-color-placeholder);
}
.oss-box .oss-setting {
  margin-top: 20px;
}
.oss-box .oss-setting .oss-method {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.oss-dia-change {
  display: flex;
  margin-bottom: 20px;
}
.oss-dia-change .left-icon {
  margin-top: 13px;
  margin-right: 13px;
  width: 32px;
  height: 32px;
}
.oss-dia-change .left-icon img {
  width: 100%;
  height: 100%;
}
.oss-dia-change .right-main .dia-title {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.oss-dia-change .right-main .dia-tip {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}
.oss-dia-change .right-main .dia-pass {
  margin-top: 20px;
}
.api-box .api-switch {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.api-box .api-radio {
  margin: 20px 0;
}
.api-box .add-user {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin: 20px 0;
}
