.supplier_list {
  flex-direction: column;
}
.supplier_list .add-btn {
  margin-top: 26px;
  margin-bottom: 18px;
}
.supplier_list .t-icon-help-circle {
  margin-left: 0;
}
.isEn .config-dialog .t-form .t-form__label {
  width: 160px !important;
}
.tip {
  margin: 0;
}
.s-tip {
  color: #666;
}
.t-input-number {
  width: 100%;
}
