.installAndUpdate {
    width: 100vw;
    min-width: 1195px;
    min-height: 100vh;
    background: #F3F4FB;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.iu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 86px;
}

.iu-logo {
    width: 223px;
    margin-bottom: 60px;

}


.iu-card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 1195px;
    height: 729px;
    border-radius: 3px;
    padding: 30px;
}

.iu-card-title {
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}

.iu-card-main {
    width: 100%;
    height: 100%;
    background: rgba(0, 82, 217, 0.08);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    padding: 16px 16px 16px 0;
}

.main-left {
    width: 162px;
    height: 100%;
}

.left-item {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(0, 82, 217, 0.08);
    margin-bottom: 4px;
}

.icon-l {
    opacity: 0;
}

.icon-r {
    margin-left: 8px;
}

.menu-active {
    background: #FFFFFF;
}

.menu-active>.icon-l {
    opacity: 1;
}

.item-text {
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 16pxpx;
    color: #182F56;
    margin-left: 12px;
}

.main-right {
    width: 947px;
    height: 100%;
    margin-left: 10px;
    background: #FFFFFF;
    opacity: 1;
    border-radius: 3px;
}

.r-content {
    padding: 20px;
}

.content-title {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.welcome-main {
    margin-left: 94px;
    margin-top: 25px;
    font-family: PingFang SC;
    font-weight: 400;
}

.welcome-row1 {
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.9);
}

.welcome-row2 {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.row2-item {
    height: 17px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row2-item-l {
    width: 17px;
    height: 17px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    opacity: 1;
}

.row2-item-r {
    margin-left: 12px;
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.9);
}

.welcome-row3 {
    margin-top: 29px;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
}

.row3-imp {
    font-weight: bold;
}

.welcome-row4 {
    margin-top: 44px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.9);
}

.welcome-btn {
    margin-top: 87px;
}


/* 提示界面 */
.warning-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warning-img {
    width: 125.15px;
    margin-top: 119px;
    margin-bottom: 33px;
}

.warning-text {
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    opacity: 1;
}

/* 数据库检查 */
.db-text {
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
}

.db-content {
    margin-left: 84px;
    margin-top: 24px;
    width: 569px;
}

.db-form {
    margin-top: 40px;
}

.submit-btn {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.auto-pass-btn {
    color: #0052D9 !important;
}

.main-table {
    border: 1px solid #EEEEEE;
    margin: 54px 32px 0px 32px;
}

.content-footer {
    margin-top: 66px;
    margin-left: 32px;
}

/* 安装完成 */
.content-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.over-msg {
    width: 719px;
    height: 190px;
    border: 1px solid #DDDDDD;
    opacity: 1;
    border-radius: 3px;
    margin: 52px auto;
    padding-bottom: 33px;
}

.msg-item {
    margin-left: 30px;
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.item-l {
    width: 75px;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.item-r {
    color: rgba(0, 0, 0, 0.9);
}

.toBack-btn {
    width: 104px;
    height: 32px;
    border: 1px solid #0052D9 !important;
    opacity: 1;
    border-radius: 3px;
    color: #0052D9 !important;
    margin: 0 auto;
}

.teach-btn {
    width: 40px;
    height: 24px;
    background: #FEFFFF;
    border: 1px solid #DDDDDD;
    opacity: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}
.error-teach{
    display: flex;
    flex-direction: row;
    align-items: center;
}