.recording-title {
    height: 22px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-text {
    width: 86px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 16px;
    color: #333333;
}

.title-line {
    height: 22px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #DCDCDC;

}

.search-way {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    margin-bottom: 40px;
}

.search-select,
.search-input {
    width: 320px;
}

.search-input {
    margin-left: 20px;
    margin-right: 10px;
}

.times-over,
.no-result {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.9);
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.l-icon {
    margin-right: 4px;
}

.user-result {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    line-height: 16px;
    color: #333333;
    opacity: 1;
}

.user-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.user-label {
    min-width: 68px;
    text-align: right;
    margin-right: 10px;
}