<!DOCTYPE html>
<html lang="en" theme-color="default" theme-mode>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title></title>
  <!-- element-css -->
  <link rel="stylesheet" href="./css/common/element.css">
  <!-- 公共样式 -->
  <link rel="stylesheet" href="./css/common/common.css">
  <!-- 页面独有样式 -->
  <link rel="stylesheet" href="./css/buy_goods.css">
</head>

<body>
  <div id="mainLoading">
    <div class="ddr ddr1"></div>
    <div class="ddr ddr2"></div>
    <div class="ddr ddr3"></div>
    <div class="ddr ddr4"></div>
    <div class="ddr ddr5"></div>
  </div>
  <div id="content" v-cloak>
    <el-container style="flex-direction: column;">
      <top-menu @authorizechange="authorizechange"></top-menu>
      <el-container>
        <aside-menu></aside-menu>
        <el-main>
          <!-- 自己的 -->
          <div class="main-box">
            <div class="top-back" @click="goBack">
              <img class="back-img" src="./img/common/back.png" alt="">
              <p class="back-text">返回</p>
            </div>
            <div class="buy-box">
              <div class="goods-title">
                <span class="goods-name">您即将购买{{appData.developer.name}}的商品，请确认您的购买信息</span>
                <span class="goods-tip">站点信息(如这不是您的网站，请点击右上角却换域名后购买)</span>
              </div>
              <div class="info-item">
                <div class="info-title">基础信息</div>
                <div class="info-content">
                  <div class="info-div">
                    <span class="info-left">安装域名</span><span class="info-right">{{marketAuthorize.domain}}</span>
                  </div>
                  <div class="info-div">
                    <span class="info-left">安装授权</span><span class="info-right">{{marketAuthorize.license}}</span>
                  </div>
                </div>
              </div>
              <div class="info-item">
                <div class="info-title">您正在购买开发者：{{appData.developer.name}} 的应用</div>
                <div class="info-content">
                  <div class="info-div">
                    <span class="info-left">商品名称</span><span class="info-right">{{appData.name}}</span>
                  </div>
                  <div class="info-div">
                    <span class="info-left">商品价格</span><span class="info-right">{{commontData.currency_prefix}}{{type==='free' ? '0.00' : appData[type]}}</span>
                  </div>
                </div>
              </div>
              <div class="info-item">
                <div class="info-title">支付信息</div>
                <div class="info-content">
                  <div class="info-div">
                    <span class="info-left">原价</span><span class="info-right">{{commontData.currency_prefix}}{{type==='free' ? '0.00' : appData[type]}}</span>
                  </div>
                  <div class="info-div" v-if="appData.activity && appData.activity[type]">
                    <span class="info-left">优惠</span><span class="info-right">{{commontData.currency_prefix}}{{type==='free' ? '0.00' : appData.activity[type]}}</span>
                  </div>
                  <div class="info-div">
                    <span class="info-left">合计</span><span class="info-right">{{commontData.currency_prefix}}{{type==='free' ? '0.00' : appData.activity && appData.activity[type] ?  appData.activity && appData.activity[type] : appData[type]}}</span>
                  </div>
                </div>
              </div>
              <div class="pay-btn">
                <el-button :loading="payLoading" @click="handelPay">支付</el-button>
              </div>
            </div>
          </div>
        </el-main>
        <!-- 支付弹窗 -->
        <pay-dialog ref="payDialog" @payok="paySuccess" @paycancel="payCancel"></pay-dialog>
      </el-container>
    </el-container>
  </div>
  <!-- =======页面独有======= -->
  <script src="./api/shop.js"></script>
  <script src="./js/buy_goods.js"></script>
  <script src="./components/payDialog/payDialog.js"></script>
  <!-- =======公共======= -->
  <script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/crypto-js.min.js"></script>
  <script src="./components/captchaDialog/captchaDialog.js"></script>
  <script src="./components/countDownButton/countDownButton.js"></script>
  <script src="./components/loginDialog/loginDialog.js"></script>
  <script src="./components/topMenu/topMenu.js"></script>
  <script src="./components/asideMenu/asideMenu.js"></script>
  <script src="./utils/util.js"></script>
  <script src="./js/common/common.js"></script>
  <script src="./js/common/vue.js"></script>
  <script src="./js/common/element.js"></script>
  <script src="./js/common/axios.min.js"></script>
  <script src="./utils/request.js"></script>
</body>

</html>