<!DOCTYPE html>
<html lang="en" theme-color="default" theme-mode>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title></title>
  <!-- element-css -->
  <link rel="stylesheet" href="./css/common/element.css">
  <!-- 公共样式 -->
  <link rel="stylesheet" href="./css/common/common.css">
  <!-- 页面独有样式 -->
  <link rel="stylesheet" href="./css/shop_detail.css">
</head>

<body>
  <div id="mainLoading">
    <div class="ddr ddr1"></div>
    <div class="ddr ddr2"></div>
    <div class="ddr ddr3"></div>
    <div class="ddr ddr4"></div>
    <div class="ddr ddr5"></div>
  </div>
  <div id="content" v-cloak>
    <el-container style="flex-direction: column;">
      <top-menu></top-menu>
      <el-container>
        <aside-menu></aside-menu>
        <el-main>
          <!-- 自己的 -->
          <div class="shop_detail" v-loading="loading">
            <div class="top-back" @click="goBack">
              <img class="back-img" src="./img/common/back.png" alt="">
              <p class="back-text">返回</p>
            </div>
            <div class="app-detail">
              <div class="app-top">
                <div class="app-msg">
                  <img :src="appData.icon" alt="" class="app-icon">
                  <div class="app-introduce">
                    <div class="name">
                      <span class="name-text">{{appData.name}}</span>
                      <img class="safe-img" src="./img/home/safe.png" alt="">
                      <img v-show="appData.develope  && appData.developer.deposit && Number(appData.developer.deposit) > 0" class="copyright-img" src="./img/home/copyright.png" alt="">
                    </div>
                    <div class="star">
                      <!-- 亮 -->
                      <div class="star-on" :style="{'width':`${Number(appData.score)/5*100}%`}">
                        <i class="el-icon-star-on" v-for="start in 5"></i>
                      </div>
                      <!-- 暗 -->
                      <div class="star-off">
                        <i class="el-icon-star-off" v-for="start in 5"></i>
                      </div>

                    </div>
                    <div class="bottom-msg">
                      <div class="row">
                        <div class="item">
                          <p class="label">所属分类：</p>
                          <p>{{type[appData.type]}}</p>
                        </div>
                        <div class="item">
                          <p class="label">当前版本：</p>
                          <p>{{appData.last_version}}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="item">
                          <p class="label">销量：</p>
                          <p>{{appData.sell_count}}</p>
                        </div>
                        <div class="item">
                          <p class="label">更新时间：</p>
                          <p>{{appData.update_time | formateTime}}</p>
                        </div>
                      </div>
                      <div class="row mar-top-37">
                        <div class="item">
                          <p class="label red-text" v-if="appData.activity && appData.activity.onetime">{{commontData.currency_prefix}}{{appData.activity.onetime}}/一次性</p>
                        </div>
                        <div class="item">
                          <p class="label red-text" v-if="appData.activity && appData.activity.monthly">{{commontData.currency_prefix}}{{appData.activity.monthly}}/月</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="item">
                          <p class="label" :class="(appData.activity && appData.activity.onetime) ? 'text-decoration' : ''">{{commontData.currency_prefix}}{{appData.onetime}}/一次性</p>
                        </div>
                        <div class="item">
                          <p class="label" :class="(appData.activity && appData.activity.monthly) ? 'text-decoration' : ''">{{commontData.currency_prefix}}{{appData.monthly}}/月</p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="app-bug-ts">
                    <div class="ts" @click="showComplaints">
                      <img src="./img/common/waring.png" alt="">
                      <p>投诉</p>
                    </div>
                    <el-button @click="handleClickBuy">立即购买</el-button>
                  </div>
                </div>
                <div class="client" v-show="JSON.stringify(developerData)!='{}'">
                  <div class="client-top">
                    <img class="client-logo a-style" @click="goBusunessDetail" :src="developerData.logo" alt="">
                    <div class="client-goods-name" @click="goBusunessDetail">
                      <div class="name a-style">{{developerData.name}}</div>
                      <div class="goods">
                        <p class="label">商品数量</p>
                        <p class="value">{{developerData.app_count}}</p>
                        <div class="colum-line"></div>
                        <p class="label">购买量</p>
                        <p class="value">{{developerData.sell_count}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="profile" :title="developerData.desc">
                    {{developerData.desc}}
                  </div>
                  <div class="contact-way">
                    <div class="row">
                      <img src="./img/common/url.png" alt="">
                      <div class="label">作者网站</div>
                      <a class="value" :href="developerData.web" target="_blank">{{developerData.web}}</a>
                    </div>
                    <div class="row">
                      <img src="./img/common/email.png" alt="">
                      <div class="label">电子邮箱</div>
                      <div class="value">{{developerData.email}}</div>
                    </div>
                    <div class="row">
                      <img src="./img/common/qq.png" alt="">
                      <div class="label">咨询QQ</div>
                      <div class="value">{{developerData.qq}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="商品介绍" name="1">
                  <div v-html="appData.instruction"></div>
                </el-tab-pane>
                <el-tab-pane label="商品评论" name="2">
                  <div class="evaluation" v-loading="evaluationLoading">
                    <div class="top-score">
                      <div class="text">总评分及评论</div>
                      <div class="num">{{evaluation_score}}<span class="num-text">（分）</span></div>
                    </div>
                    <div class="evaluation-list">
                      <div class="evaluation-item" v-for="(item,index) in evaluation_list" :key="index">
                        <div class="star-box">
                          <div v-for="items in  Number(item.score)">
                            <img src="./img/home/star_yellow.png" alt="">
                          </div>
                          <div v-for="items in (5- Number(item.score))">
                            <img src="./img/home/star_greey.png" alt="">
                          </div>
                        </div>
                        <div class="user-info">
                          <span>{{item.username}},</span>
                          <span>{{item.create_time | formateTime}}</span>
                        </div>
                        <div class="evaluation-content">{{item.content}}</div>
                        <div class="replay-box">
                          <div class="replay-item" v-for="replyItem in item.reply" :key="replyItem.id">
                            <span class="red-replay">商家回复：</span><span>{{replyItem.content}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </el-tab-pane>
                <el-tab-pane label="版本说明" name="3">
                  <div class="version-box">
                    <div class="version-item" v-for="(item,index) in appData.version" :key="index">
                      <div class="version-num">{{item.version}}</div>
                      <div class="version-desc">{{item.desc}}</div>
                    </div>
                  </div>
                </el-tab-pane>
              </el-tabs>
            </div>
          </div>


          <el-dialog title="购买周期" :visible.sync="dialogVisible" width="480px" @open="dialogOpen">
            <div class="price-box">
              <div class="price-item" @click="handelPayType('onetime')" :class="pay_type === 'onetime' ? 'actice-pay' :''">
                <div>一次性</div>
                <div class="red-text" v-if="appData.activity && appData.activity.onetime">{{commontData.currency_prefix}}{{appData.activity.onetime}}</div>
                <div :class="(appData.activity && !appData.activity.onetime) ? 'text-decoration' : ''">{{commontData.currency_prefix}}{{appData.onetime}}</div>
              </div>
              <div class="price-item" @click="handelPayType('monthly')" :class="pay_type === 'monthly' ? 'actice-pay' :''">
                <div>月付</div>
                <div class="red-text" v-if="appData.activity && appData.activity.monthly">{{commontData.currency_prefix}}{{appData.activity.monthly}}</div>
                <div :class="(appData.activity && !appData.activity.monthly) ? 'text-decoration' : ''">{{commontData.currency_prefix}}{{appData.monthly}}</div>
              </div>
              <div class="price-item" @click="handelPayType('quarterly')" :class="pay_type === 'quarterly' ? 'actice-pay' :''">
                <div>季付</div>
                <div class="red-text" v-if="appData.activity && appData.activity.quarterly">{{commontData.currency_prefix}}{{appData.activity.quarterly}}</div>
                <div :class="(appData.activity && !appData.activity.quarterly) ? 'text-decoration' : ''">{{commontData.currency_prefix}}{{appData.quarterly}}</div>
              </div>
              <div class="price-item" @click="handelPayType('semiannually')" :class="pay_type === 'semiannually' ? 'actice-pay' :''">
                <div>半年付</div>
                <div class="red-text" v-if="appData.activity && appData.activity.semiannually">{{commontData.currency_prefix}}{{appData.activity.semiannually}}</div>
                <div :class="(appData.activity && !appData.activity.semiannually) ? 'text-decoration' : ''">{{commontData.currency_prefix}}{{appData.semiannually}}</div>
              </div>
              <div class="price-item" @click="handelPayType('annually')" :class="pay_type === 'annually' ? 'actice-pay' :''">
                <div>年付</div>
                <div class="red-text" v-if="appData.activity && appData.activity.annually">{{commontData.currency_prefix}}{{appData.activity.annually}}</div>
                <div :class="(appData.activity && !appData.activity.annually) ? 'text-decoration' : ''">{{commontData.currency_prefix}}{{appData.annually}}</div>
              </div>
            </div>
            <span slot="footer" class="dialog-footer">
              <el-button class="ok-btn" @click="goBuyPage">确认</el-button>
              <el-button class="cancel-btn" @click="dialogVisible = false">取消</el-button>
            </span>
          </el-dialog>
          <!-- 投诉弹窗/查看投诉弹窗 -->
          <el-dialog :visible.sync="complaintsVisible" width="5.8rem" custom-class="complaints-dialog" :close-on-click-modal="false" @close="closeComplaints">
            <div slot="title" class="dialog-title">
              <img src="./img/common/waring.png" class="title-icon">
              <p>投诉</p>
            </div>
            <div class="dialog-main">
              <el-form ref="complaintsform" :model="complaintsForm" label-position="top" :rules="complaintsRules">
                <el-form-item label="投诉内容" prop="content">
                  <el-input type="textarea" placeholder="请输入内容" v-model="complaintsForm.content" maxlength="500" show-word-limit :autosize="{minRows: 4, maxRows: 4}" resize="none">
                  </el-input>
                </el-form-item>
                <el-form-item label="投诉附件" prop="attachment">
                  <el-upload action="http://kfc.idcsmart.com/console/v1/upload" list-type="picture-card" :on-preview="handlePictureCardPreview" ref="fileupload" :before-remove="beforeRemove" :file-list="fileList" :on-success="handleSuccess" :before-upload="beforeUpload">
                    <i class="el-icon-plus"></i>
                  </el-upload>
                </el-form-item>
              </el-form>
            </div>
            <div slot="footer" class="dialog-footer">
              <el-button class="sub-btn" @click="subComplaints" v-loading="complaintsLoading">提交
              </el-button>
              <el-button class="close-btn" @click="closeComplaints">取消</el-button>
            </div>
          </el-dialog>
          <!-- 图片查看 -->
          <el-dialog :visible.sync="imgVisible">
            <img width="100%" :src="dialogImageUrl" alt="">
          </el-dialog>
        </el-main>
      </el-container>
    </el-container>
  </div>
  <!-- =======页面独有======= -->
  <script src="./api/shop.js"></script>
  <script src="./js/shop_detail.js"></script>
  <!-- =======公共======= -->
  <script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/crypto-js.min.js"></script>
  <script src="./components/captchaDialog/captchaDialog.js"></script>
  <script src="./components/countDownButton/countDownButton.js"></script>
  <script src="./components/loginDialog/loginDialog.js"></script>
  <script src="./components/topMenu/topMenu.js"></script>
  <script src="./components/asideMenu/asideMenu.js"></script>
  <script src="./utils/util.js"></script>
  <script src="./js/common/common.js"></script>
  <script src="./js/common/vue.js"></script>
  <script src="./js/common/element.js"></script>
  <script src="./js/common/axios.min.js"></script>
  <script src="./utils/request.js"></script>
</body>

</html>