@font-face {
  font-family: "iconfont"; /* Project id 3703550 */
  src: url('iconfont.woff2?t=1673333107816') format('woff2'),
       url('iconfont.woff?t=1673333107816') format('woff'),
       url('iconfont.ttf?t=1673333107816') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bangzhu:before {
  content: "\e62c";
}

.icon-dingzhixitong:before {
  content: "\e62d";
}

.icon-gongdanzhongxin:before {
  content: "\e62e";
}

.icon-R:before {
  content: "\e62f";
}

.icon-shuju:before {
  content: "\e631";
}

.icon-VIP:before {
  content: "\e632";
}

.icon-caiwuzhongxin:before {
  content: "\e633";
}

.icon-fenpei:before {
  content: "\e634";
}

.icon-shimingjiekou:before {
  content: "\e636";
}

.icon-rengongkefu:before {
  content: "\e637";
}

.icon-mofang:before {
  content: "\e638";
}

.icon-zhikong:before {
  content: "\e639";
}

.icon-wodefuwu:before {
  content: "\e63a";
}

.icon-jiexi:before {
  content: "\e63b";
}

.icon-fapiao:before {
  content: "\e62b";
}

.icon-a-ziyuan55:before {
  content: "\e62a";
}

.icon-a-ziyuan54:before {
  content: "\e629";
}

.icon-a-17:before {
  content: "\e61b";
}

.icon-a-16:before {
  content: "\e61d";
}

.icon-a-18:before {
  content: "\e622";
}

.icon-a-14:before {
  content: "\e623";
}

.icon-a-15:before {
  content: "\e624";
}

.icon-a-21:before {
  content: "\e625";
}

.icon-a-20:before {
  content: "\e626";
}

.icon-a-19:before {
  content: "\e627";
}

.icon-a-22:before {
  content: "\e628";
}

.icon-a-1:before {
  content: "\e615";
}

.icon-a-7:before {
  content: "\e616";
}

.icon-a-10:before {
  content: "\e617";
}

.icon-a-4:before {
  content: "\e618";
}

.icon-a-12:before {
  content: "\e619";
}

.icon-a-6:before {
  content: "\e61a";
}

.icon-a-11:before {
  content: "\e61c";
}

.icon-a-9:before {
  content: "\e61e";
}

.icon-a-13:before {
  content: "\e61f";
}

.icon-a-5:before {
  content: "\e620";
}

.icon-a-2:before {
  content: "\e621";
}

