* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
/* elemenu-ui组件 部分样式统一修改 开始*/
.el-tabs__item {
  color: #666B80;
}
.el-tabs__item.is-active {
  color: #1E2736;
}
.el-tabs__active-bar {
  background: #0058FF;
}
.el-tabs__nav-wrap::after {
  height: 1px;
}
.el-slider__button {
  width: 1px;
  height: 13px;
  border: 6px solid #0058FF;
  border-radius: 0%;
}
/* elemenu-ui组件 部分样式统一修改 结束*/
/* 提示弹窗 */
.el-message-box {
  width: 5.2rem;
}
/* 取消number类型输入框的加减按钮 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
.el-tooltip__popper {
  max-width: 50%;
}
.el-message {
  z-index: 99999999999 !important;
}
/* 加载中 开始 */
#mainLoading {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template:first-child {
  display: none;
}
#mainLoading .ddr {
  width: 8px;
  height: 100px;
  float: left;
  margin: 2px;
  background-color: #4890FF;
  animation: loading 1s infinite ease-in-out;
  /*animation：动画名称 持续时间 动画速度曲线 延迟 执行多少次 是否正反方向轮流播放*/
}
#mainLoading .ddr2 {
  animation-delay: -0.9s;
  /*定义开始执行的地方，负号表示直接从第900ms开始执行*/
}
#mainLoading .ddr3 {
  animation-delay: -0.8s;
}
#mainLoading .ddr4 {
  animation-delay: -0.7s;
}
#mainLoading .ddr5 {
  animation-delay: -0.6s;
}
@keyframes loading {
  0%,
  40%,
  100% {
    /*定义每帧的动作*/
    -webkit-transform: scaleY(0.5);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
/* 加载中结束 */
/* 表格 表头和每一行 的统一高度 */
thead tr {
  height: 0.56rem;
  color: #757575;
}
tbody .el-table__row {
  height: 0.6rem;
}
.el-table .el-table__cell {
  padding: 0;
}
/* #template {
      height: 100vh;
      width: 100vw;
  } */
.el-container:nth-child(2) {
  flex-direction: column;
}
/* header部分开始 */
.el-header {
  /* position: sticky;
      position: -webkit-sticky; */
  position: fixed;
  width: calc(100% - 160px);
  top: 0;
  height: 40px !important;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(21, 34, 50, 0.08);
  opacity: 1;
  border-radius: 0px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
.search-value {
  font-size: 0.14rem;
  color: #040e34;
}
.search-name {
  font-size: 0.12rem;
  color: #9696a3;
  margin-bottom: 0.1rem;
}
.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-left: .46rem; */
}
.header-left .el-input input {
  width: 4rem;
}
.menu-img {
  display: none;
}
.header-left .el-input input {
  border: none;
}
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.header-right .cloum-line-item {
  margin-left: 20px;
  margin-right: 16px;
}
.header-right .car-item {
  margin-right: 40px;
  cursor: pointer;
}
.header-right .car-item .el-badge {
  height: 24px;
}
.header-right .car-item .el-badge .el-badge__content.is-fixed {
  top: 5px;
}
.header-right .hg-24 {
  height: 24px;
}
.header-right .header-right-item .cloum-line {
  width: 0px;
  height: 13px;
  border: 1px solid #E6E7EB;
  opacity: 1;
}
.header-right .header-right-item img {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.header-right .header-right-item .right-icon {
  width: 7px;
}
.header-right .header-right-item .el-dropdown-country {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.header-right .header-right-item .el-dropdown-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.header-right .header-right-item .el-dropdown-header .head-box {
  width: 24px;
  height: 24px;
  font-size: 15px;
  color: #FFFFFF;
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right .header-right-item .un-login {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.14rem;
  color: #8692B0;
}
.header-right .header-right-item .un-login img {
  width: 24px;
  height: 24px;
  margin-right: 0.06rem;
}
/* header部分结束 */
/* 主体部分开始 */
.el-main {
  padding-top: 0.83rem;
  padding-left: 2.1rem;
  padding-right: 1.02rem;
}
/* 图形验证码弹窗 开始*/
.captcha-dialog .el-dialog__body {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.dialog-title {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 24px;
  color: #171725;
}
.dialog-form {
  display: flex;
  flex-direction: row;
  padding-top: 0.38rem;
}
.dialog-form .el-input__inner {
  height: 0.46rem;
}
.dialog-form img {
  height: 0.46rem;
  width: 1.11rem;
  margin-left: 0.1rem;
  cursor: pointer;
}
.err-alert {
  margin-top: 0.2rem;
  padding-right: 1.21rem;
}
.dialog-footer {
  margin-top: 0.4rem;
  display: flex;
  justify-content: flex-end;
}
.dialog-footer .btn-ok {
  height: 0.46rem;
  width: 1.12rem;
  background: #0058FF;
  border-radius: 3px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-footer .btn-no {
  height: 0.46rem;
  width: 1.12rem;
  background: #E7E7E7;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 图形验证码弹窗 结束*/
/* 换页相关开始 */
.main-card {
  height: 100%;
  font-size: 0.14rem;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 1.5715;
  color: #171725;
  word-break: break-all;
  max-width: 1500px;
  margin: auto;
}
.myPage {
  margin-bottom: 0.26rem;
}
.myPage .el-pagination {
  display: flex;
  justify-content: flex-end;
}
.el-pagination .page-total {
  margin: 0 auto 0 22px;
  font-size: 12px !important;
  font-family: PingFang SC;
  font-weight: 400;
  color: #757575;
}
.el-pager .number {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #E6E7EB;
  margin-right: 8px;
  border-radius: 3px;
}
.el-pager .number:last-child {
  margin-right: 0;
}
/* .el-input__inner {
      height: 32px !important;
  } */
.el-pager .active {
  background: #F4F7FC;
  border: 1px solid #0058FF;
}
.el-pager li.active + li {
  border-left: 1px solid #E6E7EB;
}
/* 换页相关结束 */
/* 主体部分结束 */
/* 左侧菜单开始 */
.el-menu {
  border-right: none;
}
.menu-top {
  margin-top: 86px;
}
/* .menu-top .el-menu-item {
      margin-left: .07rem;
      height: auto;
      line-height: normal;
      margin-bottom: .24rem;
  } */
.aside-menu-text {
  margin-left: 20px;
}
.menu-top .el-menu-item.is-active::after {
  /* margin-left: .04rem; */
  /* border-left: 3px solid #FFF; */
  content: "";
  height: 12px;
  width: 3px;
  background: #FFF;
  position: absolute;
  left: 4px;
  top: calc(50% - 6px);
}
.menu-top .el-submenu__title {
  height: 40px;
  line-height: 40px;
  display: flex;
}
.menu-top .el-submenu__title i {
  color: rgba(255, 255, 255, 0.6);
}
/* .menu-top .el-submenu {
      margin-left: .07rem;
      height: 44px;
      line-height: 44px;
  } */
.menu-top .el-menu-item {
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
}
.menu-top .el-submenu .el-menu-item {
  min-width: auto;
  height: 30px;
  line-height: 30px;
  padding-left: 60px !important;
  /* margin-bottom: .12rem;
      margin-left: .03rem; */
}
.menu-top .el-submenu .el-menu-item.is-active {
  margin-left: 0;
}
.el-aside {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #1E41C9;
  height: 100vh;
  font-size: 14px;
  z-index: 5;
}
.el-aside::-webkit-scrollbar {
  width: 6px;
}
.el-aside::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.16);
}
.el-aside::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}
.menu-list-top,
.menu-list-bottom {
  margin-top: 86px;
  color: #FFFFFF;
}
.father-item {
  margin-bottom: 12px !important;
}
.child-menu {
  display: flex;
  flex-direction: column;
}
.child-menu .child-item-text {
  padding-left: 5px;
  margin-bottom: 12px;
  margin-left: 15px;
  opacity: 0.6;
  cursor: pointer;
  border-left: 3px solid #1E41C9;
}
.child-item-text:last-child {
  margin-bottom: 24px;
}
.child-active {
  opacity: 1 !important;
  border-left: 3px solid #FFFF !important;
}
.menu-list-top > .menu-active,
.menu-list-bottom > .menu-active {
  border-left: 3px solid #FFFF;
  opacity: 1;
  margin-left: 4px;
}
.ali-logo {
  height: 28px;
  width: 130px;
  margin: 12px auto 0;
  display: block;
  cursor: pointer;
}
.line {
  width: 123px;
  height: 0px;
  border: 1px solid #FFFFFF;
  opacity: 0.1;
  margin: 90px auto;
}
.menu-item {
  padding-left: 0.18px;
  margin-left: 7px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #FFFFFF;
  opacity: 0.6;
}
.el-menu-item i {
  color: #8692B0;
}
.item-img {
  height: 16px;
}
.item-text {
  line-height: 20px;
  margin-left: 20px;
}
/* 左侧菜单结束 */
/* message */
.el-message {
  font-size: 20px;
}
.el-date-picker .el-picker-panel__footer .el-button {
  display: inline-flex;
}
.el-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* el弹窗自带底部按钮 */
.el-message-box__btns > .el-button {
  display: inline-block;
  margin-left: 10px;
}
.el-message-box__btns {
  display: flex;
  flex-direction: row-reverse;
}
/* 表格 */
tr > td {
  padding-left: 20px !important;
}
th {
  padding-left: 20px !important;
}
.com-search .el-input__suffix {
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* 支付弹窗开始 */
.zf-dialog .el-dialog__body {
  padding: 0 !important;
  text-align: center;
  font-size: 0.16rem;
}
.zf-dialog .dialog-form {
  display: flex;
  flex-direction: column;
}
.zf-dialog .el-row {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
}
.zf-dialog .form-footer {
  display: flex;
  justify-content: flex-end;
}
.zf-dialog .form-footer > .btn-ok {
  background: #0058FF;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.zf-dialog .btn-no {
  background: #E7E7E7;
  border-radius: 3px;
  color: #1E2736;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zf-dialog .true-money {
  color: #FFA800;
}
.zf-dialog .pay-html {
  display: flex;
  justify-content: center;
}
.zf-dialog .pay-img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zf-dialog .blue {
  color: #0058FF;
}
.zf-dialog .red {
  color: #F0142F;
}
.zf-dialog .pay-html > img {
  width: 2.5rem;
  height: 2.5rem;
}
.zf-dialog .el-select {
  width: 100%;
}
.zf-dialog .el-dialog__header {
  display: flex;
  padding: 0 0.2rem;
  height: 0.48rem;
  border: 1px solid #E6E7EB;
}
.zf-dialog .el-dialog__title {
  font-size: 0.14rem;
  color: #171725;
  line-height: 0.48rem;
}
.zf-dialog .tip {
  text-align: center;
  font-size: 0.13rem;
  color: #8692B0;
  line-height: 0.3rem;
}
.zf-dialog .money {
  font-size: 0.24rem;
  color: #1E2736;
  text-align: center;
  line-height: 1;
  display: block;
  margin-top: 0.2rem;
}
.zf-dialog .pay-way .el-select {
  width: 2rem;
  margin: 0.12rem auto 0.6rem;
}
.zf-dialog .pay-img-content img {
  width: 2rem;
  height: 2rem;
}
.zf-dialog .pay-way .pay-html > img {
  width: 2rem;
  height: 2rem;
  margin: 0;
}
.zf-dialog .f-btn {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  border-top: 1px solid #E6E7EB;
  align-items: center;
}
.zf-dialog .f-btn .total {
  font-size: 0.14rem;
  color: #1E2736;
}
.zf-dialog .f-btn .img {
  width: 0.18rem;
  height: 0.18rem;
  margin-right: 0.1rem;
}
.zf-dialog .el-button {
  background: #0058FF;
  color: #fff;
}
.zf-dialog .el-checkbox,
.zf-dialog .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #0058FF;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #0058FF;
  color: #0058FF;
}
.buy-product-btn {
  width: 0.6rem;
  height: 90%;
  background: #0058FF;
  opacity: 1;
  border-radius: 3px;
  color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 0.08rem;
  font-size: 0.14rem;
  font-weight: bold;
  font-family: PingFang SC;
  margin-left: 0.1rem;
  align-self: center;
}
/* 优惠码开始 */
.discount-popover {
  padding: 0;
}
.discount-content {
  position: relative;
  height: 1.74rem;
  width: 4.22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discount-content .close-btn-img {
  position: absolute;
  cursor: pointer;
  top: 0.1rem;
  right: 0.12rem;
  width: 0.24rem;
  height: 0.24rem;
}
.discount-content .close-btn-img img {
  width: 100%;
  height: 100%;
}
.discount-content .discount-input {
  width: 2.4rem;
  font-size: 0.15rem;
}
.discount-content .discount-input .el-input__inner {
  height: 0.46rem;
  line-height: 0.46rem;
}
.discount-content .discount-btn {
  display: inline-block;
  font-size: 0.16rem;
  border: none;
  color: rgba(255, 255, 255, 0.9);
  background: #0058FF;
  width: 1.12rem;
  height: 0.46rem;
  border-radius: 0.03rem;
  margin-left: 0.1rem;
}
.discount-text {
  display: inline-block;
  padding: 0 0.04rem;
  border-radius: 0.03rem;
  border: 1px solid #F99600;
  font-size: 0.12rem;
  cursor: pointer;
  color: #F99600;
}
.cash-code {
  display: inline-block;
  padding: 0 0.04rem;
  border-radius: 0.03rem;
  border: 1px solid #F0142F;
  cursor: pointer;
  font-size: 0.12rem;
  color: #F0142F;
}
/* 支付弹窗结束 */
.withdraw-dialog .el-dialog__body {
  padding: 0.3rem 0.8rem 0 0.8rem;
}
.withdraw-dialog .dialog-main {
  margin-top: 0.4rem;
}
.withdraw-dialog .dialog-main .el-form-item__label {
  font-size: 0.16rem;
  color: #1E2736;
  line-height: 1.5715;
}
.withdraw-dialog .dialog-main .input-select {
  height: 0.46rem;
  width: 100%;
}
.withdraw-dialog .dialog-main .input-select .el-input__inner {
  height: 0.46rem;
}
.withdraw-dialog .dialog-main .amount-input .el-input__suffix {
  right: 0;
}
.withdraw-dialog .dialog-main .amount-input .all-btn {
  font-size: 15px;
  color: #0058FF;
  cursor: pointer;
  padding-right: 0.16rem;
}
.withdraw-dialog .withdraw-rule .label {
  font-size: 14px;
  color: #1E2736;
  font-weight: bold;
  margin-bottom: 0.1rem;
}
.withdraw-dialog .withdraw-rule .rules .rules-item {
  font-size: 14px;
  color: #1E2736;
}
@media screen and (max-width: 750px) {
  .el-main {
    padding-top: 1.66rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .el-header {
    width: 100%;
  }
  .withdraw-dialog .amount-input .el-input__suffix {
    height: auto;
  }
  /* 左侧菜单 */
  .el-aside {
    display: none;
  }
  /* 顶部展示 */
  .el-header {
    height: 1rem !important;
  }
  .menu-img {
    display: inline-block;
    cursor: pointer;
    height: 0.56rem;
  }
  .header-right {
    margin-right: 0px;
  }
  .right-item img {
    width: 0.56rem;
    height: 0.56rem;
  }
  /* 左侧弹窗菜单 */
  .drawer-menu {
    background: #1E41C9;
    font-size: 0.32rem;
  }
  .drawer-menu-top {
    width: 3.8rem;
    height: 50px;
    display: flex;
    align-items: center;
  }
  .drawer-menu-logo {
    width: 2rem;
    margin: 0 auto;
  }
  .drawer-menu-list-top {
    margin-top: 0.86rem;
    color: #FFFFFF;
  }
  .drawer-menu-list-top > .drawer-menu-active {
    border-left: 3px solid #FFFF;
    opacity: 1;
    margin-left: 0.04rem;
  }
  .drawer-menu-item {
    padding-left: 0.41rem;
    margin-left: 0.07rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #FFFFFF;
    opacity: 0.6;
  }
  .menu-child-item {
    display: flex;
    flex-direction: column;
  }
  .menu-top {
    margin-top: 0;
  }
  .drawer-item-img {
    height: 0.38rem;
  }
  .drawer-item-text {
    line-height: 20px;
    margin-left: 0.41rem;
  }
  .el-input__inner {
    height: 0.8rem;
    font-size: 0.3rem;
  }
  .dialog-title {
    font-size: 0.32rem;
  }
  .el-tabs__item {
    font-size: 0.34rem;
    margin-bottom: 0.15rem;
    margin-top: 0.51rem;
  }
  .el-icon-search {
    font-size: 0.4rem;
  }
  .el-button {
    font-size: 0.34rem;
  }
  .right-item {
    margin-left: 0.3rem;
  }
  .el-divider__text {
    font-size: 0.28rem;
  }
  .head-box {
    cursor: pointer;
    width: 0.56rem;
    height: 0.56rem;
    font-size: 0.16rem;
    color: #FFFFFF;
    background: #fff;
    border-radius: 50%;
  }
  /* .el-input .el-input__clear {
          font-size: .4rem;
      } */
  .select-input .el-input--suffix {
    width: 1.86rem;
  }
  .el-message-box__message {
    font-size: 0.32rem;
  }
  .myPage .page-total {
    display: none !important;
  }
  .myPage .el-pagination .el-pagination__sizes {
    display: none;
  }
  .zf-dialog .el-dialog__headerbtn {
    top: 0.1rem;
  }
  .zf-dialog .pay-select {
    width: 4rem !important;
  }
}
/* 申请返现 */
.common-cashback {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.1rem;
  background: #3699FF;
  color: #fff;
  line-height: 0.24rem;
  padding: 0 0.08rem;
  border-radius: 0.03rem;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.14rem;
}
.common-cashback.big {
  line-height: 0.32rem;
  padding: 0 0.16rem;
}
.common-cashback-dialog {
  width: 6.36rem;
  max-width: 90%;
  padding: 0.6rem 0.6rem 0.4rem;
}
.common-cashback-dialog .el-dialog__header {
  display: none !important;
}
.common-cashback-dialog .el-dialog__body {
  padding: 0 !important;
}
.common-cashback-dialog .dialog-title {
  font-size: 0.24rem !important;
  color: #1E2736;
}
.common-cashback-dialog .con {
  font-size: 0.16rem;
  color: #1E2736;
  margin: 0.3rem 0 0.6rem;
}
.common-cashback-dialog .con .price {
  font-weight: bold;
}
.common-cashback-dialog .dialog-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.common-cashback-dialog .dialog-footer .tip {
  font-size: 0.14rem;
  color: #8692B0;
}
.common-cashback-dialog .opt {
  display: flex;
}
