.section-content {
  padding: 80px 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.section-title .section-desc {
  margin-top: 16px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}


.section-bg {
  color: #fff;
}


.section-bg .section-title .section-desc {
  color: rgba(255, 255, 255, 0.90);
}

.section-p {
  padding: 0 20px;
}

.common-empty {
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.common-empty img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.common-empty .des {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.60);
}

.section-w {
  max-width: 100%;
}

.section-title {

  text-align: center;

}

.document .section-content {
  max-width: unset;
}

#header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 888;


}

.nav-shadow {
  top: 0;
  box-shadow: 0px 0px 8px rgba(52, 52, 52, 0.08);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

}

.nav-header .nav-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-header .nav-left .nav-icon img {
  width: 135px;
  height: 30px;
  margin-right: 50px;
}

.nav-menu {
  display: flex;
}

.nav-menu .nav-item {
  color: #333;
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.nav-menu .nav-item:hover {
  border-bottom: 2px solid #FF6739;
}


.nav-right {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.nav-right .control {
  margin: 0 20px;
  color: #333;
}

.breadcrumb {
  padding-left: 0;
  margin-bottom: 8px;
  background-color: transparent;
}


/* 菜单栏 */
.nav-cont {
  position: absolute;
  top: 72px;
  width: 100%;
  overflow: hidden;
  background: #F7F8FA;
  transition: all .5s;
  height: 0px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
}

.nav-cont .section-content {
  padding: 0;
}

.nav-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 60px 20px;

}

.nav-cont .nav-cont-menu {
  display: none;

}

.nav-cont .nav-cont-empty {
  display: none !important;
}

.nav-item-box {
  min-width: 335px;
  height: 96px;
  padding: 24px 20px;
  border-radius: 3px;
  background: #fff;
  display: flex;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(52, 52, 52, 0.08);
}

.nav-item-box:hover .title {
  color: rgba(255, 103, 57, 1);
}

.nav-item-box img {
  width: 48px;
  height: 48px;
}

.nav-item-box .item-box-title {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 16px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
}

.nav-item-box .item-box-title .desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.nav-header .login-in {
  cursor: pointer;
  position: relative;
  height: 72px;
  display: flex;
  align-items: center;
  z-index: 999;
  padding: 0 32px;
}

.nav-header .login-in::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 32px;
  transform: translateY(-50%);
  border-left: 1px solid #E6EAED;
}

.nav-header .login-in:hover .login-menu {
  display: block;
}

.nav-header .login-in .head-img {
  width: 32px;
  height: 32px;
  background: #eee;
  border: 1px solid #E6EAED;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-header .login-in .name {
  display: inline-block;
  max-width: 140px;
}



.nav-header .login-in .login-menu {
  display: none;
  padding: 8px;
  position: absolute;
  top: 72px;
  left: 0;
  width: 157px;
  height: 188px;
  background: #FEFFFF;
  border: 1px solid #DCDCDC;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  opacity: 1;
  border-radius: 3px;
}

.nav-header .login-in .login-menu .login-menu-item {
  cursor: pointer;
  height: 40px;
  padding: 10px 12px;
}

.nav-header .login-in .login-menu .login-menu-item:hover {
  background: rgba(255, 103, 57, 0.08);
  color: rgba(255, 103, 57, 1);
}

.nav-header .login-in .login-menu .login-menu-item .real-name {
  display: inline-block;
  text-align: center;
  border: 1px solid #FF6739;
  color: rgba(255, 103, 57, 1);
  font-size: 12px;
  width: 44px;
  height: 18px;
  border-radius: 3px;
}

.nav-header .login-in .login-menu .login-menu-item .no-real-name {
  border: 1px solid #E34D59;
  color: rgba(227, 77, 89, 1);
}

/* 底部导航栏 */

.footer {
  background: #1E2130;
  color: rgba(255, 255, 255, 0.90);
}

.section-promise {
  background-color: #1A1C2A;
}

.promise {
  display: flex;
  flex-wrap: wrap;
}

.promise-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 200px;
  padding: 28px 0;
  font-size: 16px;
}

.promise-box img {
  height: 32px;
  width: 32px;
}

.footer-content {

  background-color: rgba(30, 33, 48, 1);
  font-size: 14px;
}

.footer-content .footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.footer .footer-nav .footer-nav-left {
  margin-right: 120px;
}

.footer-content .footer-nav .footer-nav-left {
  display: flex;
  width: 100%;
  gap: 30px;
}

.footer-nav-box {
  flex: 1;
}

.footer-nav-box .footer-nav-head {
  padding: 12px 0;
  width: 120px;
  border-bottom: 1px solid #2D3544;
}

.footer-nav-box .footer-nav-cont {
  padding-top: 20px;
}

.footer-nav-box .footer-nav-item {
  margin-bottom: 7px;
}

.footer-content .footer-nav .footer-nav-right {
  width: 210px;
}

.footer-nav-right .footer-nav-box .footer-nav-item {
  width: 210px;
  color: rgba(255, 255, 255, 0.50);
}

.footer-nav-right .qr-code img {
  margin-top: 20px;
  width: 80px;
  height: 80px;
}

.footer .footer-link {
  display: none;
  font-size: 13px;
  color: #666;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #2D3544;

}

.footer .link-hover {
  color: rgba(255, 255, 255, 0.50);
}

.footer .link-hover:hover {
  color: rgba(255, 103, 57, 1);
}

.footer .footer-link a {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.50);
}

.footer .footer-link a:hover {
  margin-right: 10px;
  color: rgba(255, 103, 57, 1);
}

.footer .footer-record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #2D3544;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  color: #666;
}


.jr-tabs {
  display: flex;
  border-bottom: 1px solid #E6EAED;
}

.jr-tabs .title {
  color: rgba(0, 0, 0, 0.60);
  font-size: 18px;
  width: auto !important;
  padding: 10px 40px;
  cursor: pointer;
  margin-right: 0 !important;
}

.jr-tabs .title.swiper-slide-thumb-active {
  color: rgba(255, 103, 57, 1);
  border-bottom: 2px solid #FF6739;
}

.jr-tabs .title:hover {
  color: rgba(255, 103, 57, 1);
  border-bottom: 2px solid #FF6739;
}


/* banner */
.server-banner {
  background: rgba(247, 248, 250, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.server-banner2 {
  background: rgba(0, 0, 0, 0.40);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.server-banner-desc {
  font-size: 16px;
  max-width: 700px;
  margin-top: 20px;
  margin-bottom: 90px;
}

.server-banner-desc2 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}


.banner-cloud {
  background-image: url('../assets/img/cloud/banner.png');
}

.banner-trademark {
  background-image: url('../assets/img/trademark/banner.png');
}

.banner-dedicated {
  background-image: url('../assets/img/dedicated/banner.png');
}

.banner-domain {
  background-image: url('../assets/img/domain/banner.png');
}

.banner-ssl {
  background-image: url('../assets/img/ssl/banner.png');
}

.banner-icp {
  background-image: url('../assets/img/icp/banner.png');
}

.banner-sms {
  background-image: url('../assets/img/sms/banner.png');
}

.banner-trusteeship {
  background-image: url('../assets/img/trusteeship/banner.png');
}

.banner-rent {
  background-image: url('../assets/img/rent/banner.png');
}

.banner-document {
  background-image: url('../assets/img/document/banner.png');
}

.banner-announce {
  background-image: url('../assets/img/document/banner.png');
}

.banner-guarantee {
  background: url('../assets/img/guarantee/banner.png') no-repeat center center;
  background-size: cover;
}

.banner-reward {
  background-image: url('../assets/img/reward/banner.png');
  color: #fff;
}

.banner-contact {
  background: url('../assets/img/guarantee/contact.png') no-repeat center center;
  background-size: cover;
}

.feedback-banner {
  background: url('../assets/img/guarantee/recruit.png') no-repeat center center;
  background-size: cover;
}

.activities-banner {
  background: url('../assets/img/guarantee/activities.png') no-repeat center center;
  background-size: cover;
}


.banner-reward .btn-normal {
  padding: 8px 32px;
}


/* 搜索 */
.input-search {
  display: flex;
  position: relative;
}

.input-search input {
  padding-left: 15px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 30%;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #FF6739;
}

.trademark-box .input-search input {
  border-left: none;
}

.domain-search .input-search input {
  border-right: none;
}

.input-search .search-btn {
  cursor: pointer;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 18px 32px;
  background: rgba(255, 103, 57, 1);
}




.input-search .input-search-select {
  cursor: pointer;
  text-align: center;
  line-height: 56px;
  width: 124px;
  height: 56px;
  margin-top: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #FF6739;
  border-left: none;
}

.input-search .input-search-left-select {
  border: 1px solid #FF6739;
  border-right: none;
}

.input-search .input-search-s {
  position: relative;
  line-height: 56px;
  height: 56px;
  width: 124px;
  display: flex;
  justify-content: center;
}

.input-search .input-search-select .input-search-s::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  background: #EDEDED;
  height: 24px;
  width: 1px;
}

.input-search .input-search-r {
  position: relative;
  line-height: 56px;
  height: 56px;
  width: 124px;
  display: flex;
  justify-content: center;
}

.input-search .input-search-select .input-search-r::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 0;
  background: #EDEDED;
  height: 24px;
  width: 1px;
}



.input-search .input-search-select .select-box {
  display: none;
  padding: 16px 10px;
  position: absolute;
  top: 86px;
  left: 0;
  width: calc(50% + 124px);
  background: #FEFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.input-search .input-search-select .select-box-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 110px;
  height: 40px;
  border: 1px solid #E6EAED;
}

.input-search .input-search-select .select-box-item:hover {
  border: 1px solid #FF6739;
  color: #FF6739;
}

.input-search .input-search-select .iconfont {
  font-size: 14px;
  margin-left: 10px;
}

.link-search-group {
  display: flex;
  align-items: center;
  margin-left: -12px;
}

.link-search-group .link-search-to {
  padding: 0 12px;
  display: flex;
  border-right: 1px solid #D6D6D6;
}

.link-search-group .link-search-to:nth-child(4) {
  border: none;
}

.link-search-group .price {
  margin-left: 5px;
  color: rgba(255, 103, 57, 1);
}

/* 分页 */
.jr-page .pagination .page-number {}

.jr-page .pagination .page-number:hover {
  background: rgba(255, 103, 57, 1);
  color: #fff;
}

.jr-page .pagination>li a {
  margin: 0 4px;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.60);
}

.jr-page .pagination>li .page-ellipsis {
  border: none;
}

.jr-page .pagination>li .page-ellipsis:hover {
  background: transparent;
}

.jr-page .pagination>li:first-child>a {
  border: none;
}

.jr-page .pagination>li:last-child>a {
  border: none;
}


.jr-select {

  width: 100px;
  border-radius: 5px;
  position: relative;


}

.jr-select select {
  border: 1px solid #EDEDED;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 32px;
  line-height: 32px;
  appearance: none;
  padding-left: 12px;
}

.jr-select:after {
  content: "\e674";
  width: 14px;
  height: 8px;
  font-size: 12px;
  font-family: 'iconfont';
  position: absolute;
  right: 20px;
  top: 25%;
  pointer-events: none;
}




/* 侧边 */
.aside-tools {
  position: fixed;
  top: 45%;
  right: 0;
}

.aside-tools .tools-list {
  width: 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(19, 55, 83, 0.08);
  opacity: 1;
  border-radius: 3px 0 0 3px;
}

.aside-tools .tools-list .tools-item {
  position: relative;
}

.aside-tools .tools-list .tools-item img {
  margin: 10px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.aside-tools .tools-list .tools-item::before {
  content: '';
  position: absolute;
  background: rgba(230, 234, 237, 1);
  bottom: 0;
  right: 10px;
  width: 16px;
  height: 1px;
}

.aside-tools .tools-list .tools-item:last-child:before {
  content: none;

}

.aside-tools .tools-list .tools-item:hover .tools-box {
  display: block;
}

.aside-tools .tools-list .tools-item .tools-box {
  display: none;
  position: absolute;
  left: -220px;
  top: 0;
  padding-right: 30px;
}

.aside-tools .tools-list .tools-item .tools-box-s {
  padding: 20px;
  width: 190px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(19, 55, 83, 0.08);
  opacity: 1;
  border-radius: 3px;
}

.aside-tools .tools-list .tools-item .tools-box h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.aside-tools .tools-list .tools-item .tools-box p {
  font-size: 13px;
}

.aside-tools .tools-list .tools-item .tools-box .button {
  font-size: 12px;
  display: inline-block;
  margin-top: 20px;
  padding: 4px 7px;
  border: 1px solid #E6EAED;
  opacity: 1;
  border-radius: 3px;
}

.aside-tools .tools-list .tools-item .tools-box .button:hover {
  border: 1px solid #FF6739;
  ;
}


.flex-none {
  flex-wrap: none !important;
}

#alert-container {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 300px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}