h1 {
  font-size: 40px;
  /* font-weight: bold; */
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

.font-theme {
  color: #FF6739;
}

textarea {
  resize: none;
}

body {
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.90);
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
}

input {
  outline: none;
}

/* 盒子阴影 */
.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(52, 52, 52, 0.16);
}

.box-shadow-light {
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(52, 52, 52, 0.08);
}




a {
  color: #666;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 103, 57, 1);
  text-decoration: none;
}

.link-hover {
  cursor: pointer;
}

.link-hover:hover {
  color: rgba(255, 103, 57, 1) !important;
}

.title-desc {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}



::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}


.animated {
  animation-duration: .5s !important;
}



/* 按钮 */
.btn {
  padding: 8px 20px;
  opacity: 1;
  border-radius: 3px;
  cursor: pointer;
}

.btn2 {
  padding: 8px 32px;
  opacity: 1;
  border-radius: 3px;
  cursor: pointer;
}


.btn-s {
  padding: 8px 32px;
}

.btn-normal {
  color: #fff;
  background: #FF6739;
}

.btn-normal:active {
  background: #E45931;
}

.btn-normal:hover {
  color: #fff;
  background: #FF754C;
}

.btn-normal:disabled {
  opacity: 0.4;
}

.btn-normal-light {
  color: rgba(0, 0, 0, 0.90);
  background: #FEFFFF;
  border: 1px solid #E6EAED;
}

.btn-normal-light:hover {
  border: 1px solid #FF6739;
  color: #FF6739;
}

.btn-dark {
  color: #fff;
  background: rgba(65, 65, 65, 1);
}

.btn-dark:hover {
  color: #fff;
  background: #FF754C;
}

.btn-orgin {
  color: rgba(255, 255, 255, 0.9);
  background: #FF6739;
}

.btn-orgin:hover {
  color: #fff;
  background: #FF754C;
}