.agent-advantage{
    background: rgba(247, 248, 250, 1);
}
.agent-advantage .advantage{
    padding-top: 60px;
}
.agent-advantage .advantage-left
{   
    padding: 40px 20px;
    color: #fff;
    background: url('../assets/img/reward/group-1.png');
    background-size: cover;
    min-width: 280px;
}



.agent-advantage .advantage-right{
    display: flex;
    background: #fff;
}

.agent-advantage .advantage-right .advantage-box{
    display: flex;
    position: relative;
    padding: 60px 50px;
    height: 183px;
    padding-bottom: 0;
    /* border: 1px solid #EDEDED; */
 
}
.agent-advantage .advantage-right .advantage-right-box .advantage-box:first-child{
    border-bottom: 1px solid #EDEDED;
}
.agent-advantage .advantage-right .advantage-right-box:first-child .advantage-box{
    border-right: 1px solid #EDEDED;
}
/* .agent-advantage .advantage-right  .advantage-box1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 60px;
    border: 1px solid #fff;
}

.agent-advantage .advantage-right  .advantage-box2::before{
    content: '';
    position: absolute;
    right: -1px;
    bottom: -1px;
    height: 60px;
    border: 1px solid #fff;
}
.agent-advantage .advantage-right  .advantage-box3::before{
    content: '';
    position: absolute;
    left:  -1px;
    top:  0;
    height: 60px;
    border: 1px solid #fff;
}
.agent-advantage .advantage-right  .advantage-box4::before{
    content: '';
    position: absolute;
    right: 0;
    top: -1px;
    width: 60px;
    border: 1px solid #fff;
} */



.agent-advantage .advantage-box img{
    min-width: 88px;
    height: 88px;

    opacity: 1;
    margin-right: 20px;
}

.agent-advantage .advantage-box h4{
    margin-bottom: 10px;
}

/* 代理支持 */
.agent-support{

}

.agent-support .support{
    margin: -10px;
    margin-top: 60px;
    color: rgba(0, 0, 0, 0.90);
}

.agent-support .support .support-box{
    flex: 1;
    margin: 10px;
    background: #fff;
    border-top: 4px solid rgba(255, 103, 57, 1);
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.08);
}

.agent-support .support .support-box .support-head{
    padding: 30px 0;
    border-bottom: 1px solid #EDEDED;
    text-align: center;
}

.agent-support .support .support-box .support-cont{
    padding: 40px 60px 70px 60px;
    font-size: 16px;
}
.agent-support .support .support-box .support-cont p{
    margin-bottom: 6px;
}
.agent-support .support .support-box .support-cont .icon-right{
    color: rgba(255, 103, 57, 1);
    margin-right: 10px;
}


/* 加入条件 */
.agent-condition .cloud {
   flex-wrap: nowrap!important;
}

.agent-condition .cloud .cloud-box{
    min-width: auto;
 }

/* 代理流程 */
.agent-flow .flow{
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
    margin-top: 60px;
}
.agent-flow .flow>div{
    margin: 15px;
}
.agent-flow .flow-box{
    position: relative;
    padding: 10px 10px 40px 40px;
    width: 280px;
    height: 360px;
    
background: linear-gradient(134deg, #FFFFFF 0%, #FAFAFA 100%);
    box-shadow: 0px 0px 10px rgba(19,55,83,0.08);
    opacity: 1;
    border-radius: 3px;
}



.agent-flow .flow-box .number{
    font-size: 70px;
    font-weight: bold;
}

.agent-flow .flow-box img{
    width: 128px;
    height: 128px;
    background: rgba(0, 0, 0, 0.40);
}

.agent-flow .flow-box h5{
    margin-top: 50px;
    margin-bottom: 10px;
}

.agent-flow .flow-box .title-desc{
    height: 32px;
}

.agent-flow .flow-box .btn{
    padding: 8px 32px;
}
.agent-flow .icon-right1{
    color: rgba(153, 153, 153, 1);
}

/* 常见问题 */
.agent-question{
    background: #F7F8FA;
}

.agent-question .question{
    padding: 40px;
    margin-top: 60px;
    background: #fff;
}

.agent-question .question .panel,
.agent-question .question .panel-heading,
.agent-question .question .panel-body
{
    background: transparent;
    border: none !important;
}

.agent-question .question .panel{
    box-shadow: none;
}

.agent-question .question .panel-body{
    background: rgba(247, 248, 250, 1);
    color: rgba(0, 0, 0, 0.60);
    width: 100%;
}

.agent-question .question .panel-heading a{
    text-decoration: none;
}


