.businessDetail-centent header {
  display: flex;
  margin-bottom: 0.4rem;
  padding-bottom: 0.2rem;
  border-bottom: 0.01rem solid #e6e7eb;
  font-size: 0.28rem;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 0.25rem;
  color: #171725;
}
.businessDetail-centent header img {
  display: block;
  width: 0.24rem;
  height: 0.26rem;
  margin-right: 0.24rem;
  cursor: pointer;
}
.businessDetail-centent main .main-info {
  margin-bottom: 0.4rem;
}
.businessDetail-centent main .main-info p {
  font-size: 0.2rem;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #171725;
  line-height: 0.25rem;
  margin-bottom: 0.2rem;
  margin: 0;
}
.businessDetail-centent main .main-info .info-box {
  margin-top: 0.2rem;
  background: #ffffff;
  border-radius: 0.03rem 0.03rem 0.03rem 0.03rem;
  opacity: 1;
  border: 0.01rem solid #e6e7eb;
  padding: 0.2rem;
  display: flex;
}
.businessDetail-centent main .main-info .info-box .info-item {
  width: 33%;
}
.businessDetail-centent main .main-info .info-box .info-item p {
  font-size: 0.14rem;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #171725;
  line-height: 0.25rem;
}
.businessDetail-centent main .table-box {
  width: 100%;
  border-radius: 0.03rem 0.03rem 0.03rem 0.03rem;
  border: 0.01rem solid #e6e7eb;
}
.businessDetail-centent main .table-box p {
  font-size: 0.16rem;
}
.file-title {
  font-size: 0.18rem;
}
.file-box {
  margin-top: 0.4rem;
  display: flex;
}
.file-box .file-right {
  margin-left: 0.3rem;
  width: 4rem;
}
.file-box .file-right p {
  font-size: 0.18rem;
}
.com-r-box {
  width: 3.58rem !important;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  padding: 0.3rem;
  box-sizing: border-box;
  float: right;
  margin-bottom: 10px;
  margin-right: 5px;
}
.com-r-box .tit {
  font-size: 0.2rem;
  color: #171725;
  line-height: 1;
  margin-bottom: 0.3rem;
}
.el-icon-download {
  color: #0058FF;
  font-size: 0.16rem;
  cursor: pointer;
}
.tag {
  line-height: 0.2rem;
  height: 0.2rem;
  padding: 0 0.05rem;
  border-radius: 0.03rem;
  font-size: 0.13rem;
  background: #E6E7EB;
  color: #4E5259;
}
.tag.suc {
  background: #C9F7F5;
  color: #1BC5BD;
}
.tag.war {
  background: #FFF4DE;
  color: #FFA800;
}
.tag.error {
  background: #FFE2E5;
  color: #F64E60;
}
.tag.def {
  background: #E1F0FF;
  color: #3699FF;
}
.total {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  line-height: 0.2rem;
  font-size: 0.16rem;
  color: #1E2736;
  padding-left: 0.2rem;
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  cursor: pointer;
}
.total.active {
  color: #0058FF;
}
.file_folder {
  padding-left: 0.1rem;
}
.file_folder .item {
  position: relative;
  line-height: 0.18rem;
  padding-left: 0.15rem;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.file_folder .item::before {
  content: '';
  width: 0.03rem;
  height: 0.18rem;
  background: #E6E7EB;
  position: absolute;
  left: 0;
  top: 0;
}
.file_folder .item.active {
  color: #0058FF;
}
.file_folder .item.active::before {
  background: #0058FF;
}
.el-icon-more {
  cursor: pointer;
}
.el-popover {
  min-width: 0.5rem !important;
}
.el-popover .operation-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.el-popover .operation-box .operation-item {
  margin-top: 0.05rem;
  margin-bottom: 0.05rem;
}
.el-popover .operation-box .operation-item:hover {
  background: #e6f3ff;
  color: #3699ff;
}
