.template .main-card .card-top .top-operation .operation-row1 {
  display: flex;
  align-items: end;
}
.template .main-card .card-top .top-operation .operation-row1 .back-img {
  width: 0.24rem;
  height: 0.24rem;
  margin-right: 0.25rem;
  align-self: center;
  cursor: pointer;
}
.template .main-card .card-top .top-operation .operation-row1 .top-product-name {
  font-size: 0.28rem;
  color: #171725;
  opacity: 1;
}
.template .main-card .card-top .top-operation .operation-row1 .top-area .country-img {
  width: 0.22rem;
  height: 0.14rem;
  margin-left: 0.1rem;
}
.template .main-card .card-top .top-operation .operation-row1 .top-area .country,
.template .main-card .card-top .top-operation .operation-row1 .top-area .city,
.template .main-card .card-top .top-operation .operation-row1 .top-area .area {
  font-size: 0.15rem;
  color: #1E2736;
}
.template .main-card .card-top .top-operation .operation-row2 {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
}
.template .main-card .card-top .top-operation .operation-row2 .row2-left .name,
.template .main-card .card-top .top-operation .operation-row2 .row2-left .ip {
  font-size: 0.16rem;
  color: #8692B0;
}
.template .main-card .card-top .top-operation .operation-row2 .row2-left .name {
  padding-right: 0.21rem;
  border-right: 1px solid #E6E7EB;
}
.template .main-card .card-top .top-operation .operation-row2 .row2-left .ip {
  margin-left: 0.2rem;
}
.template .main-card .card-top .top-operation .operation-row2 .row2-right img {
  cursor: pointer;
  width: 0.28rem;
  height: 0.28rem;
}
.template .main-card .card-top .top-operation .operation-row2 .row2-right i {
  font-size: 0.28rem;
}
.template .main-card .card-top .top-operation .operation-row2 .row2-right .console-img {
  margin-right: 0.3rem;
}
.template .main-card .card-top .top-operation .operation-row2 .row2-right .on-off {
  margin-right: 0.3rem;
}
.template .main-card .card-top .top-operation .operation-row2 .row2-right .fault {
  margin-left: 0.3rem;
}
.template .main-card .card-top .top-operation .operation-row3 {
  padding-left: 0.5rem;
}
.template .main-card .card-top .top-operation .operation-row3 .no-notes {
  color: #0058FF;
  cursor: pointer;
}
.template .main-card .card-top .top-operation .operation-row3 .yes-notes {
  cursor: pointer;
}
.template .main-card .card-top .top-operation .operation-row3 .yes-notes .notes-icon {
  color: #0058FF;
}
.template .main-card .card-top .top-operation .operation-row3 .yes-notes .notes-text {
  color: #1E2736;
}
.template .main-card .card-top .top-msg {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
}
.template .main-card .card-top .top-msg .msg-l {
  width: 6.5rem;
  height: 2.3rem;
  border: 1px solid #E6E7EB;
  opacity: 1;
  border-radius: 3px;
}
.template .main-card .card-top .top-msg .msg-l .system-t {
  display: flex;
  flex-direction: row;
  margin-top: 0.24rem;
  margin-left: 0.24rem;
}
.template .main-card .card-top .top-msg .msg-l .system-t .os-img {
  width: 0.32rem;
  height: 0.32rem;
}
.template .main-card .card-top .top-msg .msg-l .system-t .os {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.1rem;
}
.template .main-card .card-top .top-msg .msg-l .system-t .os .os-text {
  font-size: 0.18rem;
  color: #1E2736;
}
.template .main-card .card-top .top-msg .msg-l .system-t .os .os-name {
  font-size: 0.14rem;
  color: #8692B0;
}
.template .main-card .card-top .top-msg .msg-l .system-t .re-btn {
  height: 0.24rem;
  padding-left: 0.08rem;
  padding-right: 0.08rem;
  background: #0052D9;
  opacity: 1;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 0.05rem;
}
.template .main-card .card-top .top-msg .msg-l .system-b {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.4rem;
}
.template .main-card .card-top .top-msg .msg-l .system-b .b-item {
  display: flex;
  flex-direction: column;
}
.template .main-card .card-top .top-msg .msg-l .system-b .b-item .item-label {
  font-size: 0.14rem;
  color: #8692B0;
}
.template .main-card .card-top .top-msg .msg-l .system-b .b-item .item-val {
  font-size: 0.28rem;
  color: #0058FF;
}
.template .main-card .card-top .top-msg .msg-r {
  width: 6.02rem;
  height: 2.3rem;
  border: 1px solid #E6E7EB;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
}
.template .main-card .card-top .top-msg .msg-r .r-t {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.24rem;
}
.template .main-card .card-top .top-msg .msg-r .r-t .r-t-l {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.template .main-card .card-top .top-msg .msg-r .r-t .r-t-l .r-t-l-text {
  color: #1E2736;
  font-size: 18px;
  margin-right: 0.1rem;
}
.template .main-card .card-top .top-msg .msg-r .r-t .r-t-l .help {
  margin-left: 0.08rem;
  width: 0.12rem;
  height: 0.12rem;
  border: 1px solid #0058FF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0058FF;
  border-radius: 50%;
  font-size: 0.12rem;
  cursor: pointer;
}
.template .main-card .card-top .top-msg .msg-r .r-t .r-t-r {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.template .main-card .card-top .top-msg .msg-r .r-t .r-t-r .r-t-r-text {
  font-size: 0.14rem;
  color: #1E2736;
}
.template .main-card .card-top .top-msg .msg-r .r-t .r-t-r .renew-btn {
  font-size: 0.14rem;
  color: #0058FF;
  cursor: pointer;
  margin-left: 0.1rem;
}
.template .main-card .card-top .top-msg .msg-r .r-t .r-t-r .renew-btn-disable {
  width: 0.64rem;
  height: 0.24rem;
  background: rgba(102, 107, 128, 0.1);
  border-radius: 3px;
  font-size: 0.12rem;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.1rem;
}
.template .main-card .card-top .top-msg .msg-r .r-t .r-t-r .refund-status {
  height: 0.24rem;
  border: 1px solid #F0142F;
  border-radius: 3px;
  font-size: 0.12rem;
  color: #F0142F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.1rem;
}
.template .main-card .card-top .top-msg .msg-r .r-t .r-t-r .refund-stop-btn {
  font-size: 0.12rem;
  color: #0058FF;
  cursor: pointer;
  margin-left: 0.08rem;
}
.template .main-card .card-top .top-msg .msg-r .r-t .r-t-r .refund-btn {
  color: #0058FF;
  cursor: pointer;
  margin-left: 0.08rem;
}
.template .main-card .card-top .top-msg .msg-r .r-b {
  margin-top: 0.4rem;
}
.template .main-card .card-top .top-msg .msg-r .r-b .row {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.template .main-card .card-top .top-msg .msg-r .r-b .row .row-l {
  display: flex;
  flex-direction: row;
}
.template .main-card .card-top .top-msg .msg-r .r-b .row .row-l .label {
  width: 1.1rem;
  font-size: 0.14rem;
  text-align: left;
  color: #1E2736;
}
.template .main-card .card-top .top-msg .msg-r .r-b .row .row-l .value {
  font-size: 0.14rem;
  margin-left: 0.3rem;
  color: #1E2736;
  width: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.template .main-card .card-top .top-msg .msg-r .r-b .row .row-r {
  display: flex;
  flex-direction: row;
}
.template .main-card .card-top .top-msg .msg-r .r-b .row .row-r .label {
  width: 1.1rem;
  font-size: 0.14rem;
  text-align: left;
  color: #1E2736;
}
.template .main-card .card-top .top-msg .msg-r .r-b .row .row-r .value {
  font-size: 0.14rem;
  margin-left: 0.3rem;
  color: #1E2736;
  width: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.template .main-card .card-top .refund-msg {
  display: flex;
  justify-content: flex-end;
}
.template .main-card .card-top .refund-msg .refund-success {
  width: 6.34rem;
  height: 0.46rem;
  background: #E1F0FF;
  border: 1px solid #3699FF;
  border-radius: 3px;
  color: #3699FF;
  display: flex;
  align-items: center;
  padding-left: 0.16rem;
  margin-top: 0.04rem;
}
.template .main-card .card-top .refund-msg .refund-fail {
  width: 6.34rem;
  height: 0.46rem;
  background: #FDE6E9;
  border: 1px solid rgba(240, 20, 47, 0.2);
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-left: 0.16rem;
  color: #f64e60;
  margin-top: 0.04rem;
}
.template .main-card .card-top .refund-msg .refund-fail .reason-text {
  color: #0058ff;
  text-decoration: underline;
  cursor: pointer;
}
.template .main-card .card-top .tabs {
  margin-top: 0.6rem;
}
.template .main-card .card-top .el-dialog__body {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.template .main-card .card-top .dialog-main {
  margin-top: 0.4rem;
}
.template .main-card .card-top .dialog-main .el-input__inner {
  height: 0.52rem;
}
.template .main-card .card-top .dialog-main .label {
  font-size: 0.16rem;
  color: #1E2736;
  margin-bottom: 0.1rem;
}
.template .main-card .card-top .dialog-main .label:not(:first-child) {
  margin-top: 0.2rem;
}
.template .main-card .card-top .dialog-footer .btn-no {
  margin-left: 0.12rem;
  cursor: pointer;
}
.template .main-card .card-top .dialog-footer .btn-ok {
  cursor: pointer;
}
.template .main-card .card-top .reinstall-dialog .os-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.template .main-card .card-top .reinstall-dialog .os-content .os-select {
  margin-left: 0.1rem;
}
.template .main-card .card-top .reinstall-dialog .os-content .os-select .os-group-img {
  width: 0.48rem;
  height: 0.48rem;
}
.template .main-card .card-top .reinstall-dialog .os-content .os-group-select {
  margin-left: 0;
}
.template .main-card .card-top .reinstall-dialog .os-content .os-group-select .el-input__inner {
  padding-left: 0.65rem;
}
.template .main-card .card-top .reinstall-dialog .el-input__suffix {
  right: 0;
}
.template .main-card .card-top .reinstall-dialog .pass-btn {
  width: 1.12rem;
  height: calc(100% - 0.02rem);
  background: #EEF4FF;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.16rem;
  color: #4E5259;
  border-top: 1px solid #E6E7EB;
  border-right: 1px solid #E6E7EB;
  border-bottom: 1px solid #E6E7EB;
  cursor: pointer;
}
.template .main-card .card-top .reinstall-dialog .pass-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.template .main-card .card-top .reinstall-dialog .pass-content .pass-select .el-input__inner {
  width: 1.35rem;
}
.template .main-card .card-top .reinstall-dialog .pass-content .help-icon {
  font-size: 0.12rem;
  margin-left: 0.04rem;
  margin-right: 0.04rem;
  color: #DBDBDD;
  cursor: pointer;
}
.template .main-card .card-top .reinstall-dialog .pass-content .key-select {
  width: 100%;
}
.template .main-card .card-top .reinstall-dialog .pass-content .key-select .el-select {
  width: 100%;
}
.template .main-card .card-top .reinstall-dialog .alert {
  margin-top: 0.2rem;
}
.template .main-card .card-top .reinstall-dialog .alert .remind {
  height: 0.46rem;
  width: calc(100% - 0.16rem);
  background: #FDE9CB;
  border: 1px solid rgba(249, 150, 0, 0.2);
  border-radius: 3px;
  color: #F99600;
  line-height: 0.46rem;
  padding-left: 0.16rem;
}
.template .main-card .card-top .reinstall-dialog .pay-img {
  display: flex;
  align-items: center;
  background: #fff4de;
  border: 1px solid #ffa800;
  border-radius: 0.04rem;
  color: #525666;
  font-size: 0.14rem;
  justify-content: space-between;
  padding: 0.12rem 0.2rem;
  margin-top: 0.2rem;
}
.template .main-card .card-top .reinstall-dialog .pay-img .buy-btn {
  background: #feb63b;
  border-radius: 0.04rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.14rem;
  line-height: 1;
  padding: 0.13rem 0.16rem;
}
.template .main-card .card-top .renew-dialog .dialog-main .renew-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.template .main-card .card-top .renew-dialog .dialog-main .renew-content .renew-item {
  width: 1.6rem;
  height: 0.62rem;
  border: 1px solid #E6E7EB;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  position: relative;
}
.template .main-card .card-top .renew-dialog .dialog-main .renew-content .renew-item:nth-child(3) {
  margin-right: 0;
}
.template .main-card .card-top .renew-dialog .dialog-main .renew-content .renew-item:nth-child(6) {
  margin-right: 0;
}
.template .main-card .card-top .renew-dialog .dialog-main .renew-content .renew-item .item-top {
  font-size: 0.15rem;
  color: #1E2736;
  margin-top: 0.08rem;
}
.template .main-card .card-top .renew-dialog .dialog-main .renew-content .renew-item .item-bottom {
  font-size: 0.15rem;
  color: #0058FF;
  margin-top: 0.04rem;
}
.template .main-card .card-top .renew-dialog .dialog-main .renew-content .renew-item .check {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: #FFF;
}
.template .main-card .card-top .renew-dialog .dialog-main .renew-content .renew-active {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
}
.template .main-card .card-top .renew-dialog .dialog-main .renew-content .renew-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 0;
  height: 0;
  border-bottom: 0.24rem solid #0058FF;
  border-left: 0.24rem solid transparent;
}
.template .main-card .card-top .renew-dialog .dialog-main .pay-content {
  width: 100%;
  border: 1px solid #E6E7EB;
  border-radius: 3px;
}
.template .main-card .card-top .renew-dialog .dialog-main .pay-content .pay-price {
  margin-top: 0.3rem;
  margin-left: 1.9rem;
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.template .main-card .card-top .renew-dialog .dialog-main .pay-content .pay-price .text {
  color: #1E2736;
  margin-right: 1.43rem;
}
.template .main-card .card-top .renew-dialog .dialog-main .pay-content .pay-price .money {
  font-size: 0.28rem;
  font-family: Helvetica;
  font-weight: bold;
  color: #F0142F;
}
.template .main-card .card-top .refund-dialog .host-content {
  background: rgba(102, 107, 128, 0.08);
  display: flex;
  flex-direction: column;
}
.template .main-card .card-top .refund-dialog .host-content .host-item {
  display: flex;
  flex-direction: row;
  margin-top: 0.1rem;
  margin-left: 0.3rem;
}
.template .main-card .card-top .refund-dialog .host-content .host-item:first-child {
  margin-top: 0.2rem;
}
.template .main-card .card-top .refund-dialog .host-content .host-item:last-child {
  margin-bottom: 0.2rem;
}
.template .main-card .card-top .refund-dialog .host-content .host-item .left {
  color: #8692B0;
}
.template .main-card .card-top .refund-dialog .host-content .host-item .right {
  display: flex;
  flex-direction: column;
  margin-left: 0.34rem;
  color: #4E5259;
}
.template .main-card .card-top .refund-dialog .amount-content {
  height: 0.46rem;
  background: rgba(102, 107, 128, 0.08);
  border: 1px solid #E6E7EB;
  padding-left: 0.16rem;
  display: flex;
  align-items: center;
}
.template .main-card .card-top .refund-dialog .el-select {
  width: 100%;
}
.template .main-card .card-top .refund-dialog .el-select .el-input {
  width: 100%;
}
.sure-remind {
  display: flex;
  align-items: center;
}
.sure-remind .text {
  margin-right: 0.05rem;
  margin-left: 0.1rem;
}
.sure-remind .status {
  color: #0058ff;
  margin-right: 0.05rem;
}
.sure-remind .sure-btn {
  width: 0.6rem;
  height: 0.32rem;
  background: #0058FF;
  opacity: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFF;
  margin-left: 0.1rem;
}
.option-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.option-label .option-img {
  width: 0.24rem;
  height: 0.24rem;
}
.option-label .option-text {
  margin-left: 0.1rem;
}
