.main-card .time-select {
  margin-top: 0.3rem;
}
.main-card .echart-main {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-card .echart-main .my-echart {
  width: 570px;
  height: 352px;
  margin-right: 1.2rem;
  margin-bottom: 0.3rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
}
.main-card .echart-main .my-echart:nth-child(2n) {
  margin-right: 0;
}
