.enterDev-content header {
  font-size: 0.28rem;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #171725;
  line-height: 0.25rem;
}
.enterDev-content .enterDev-main {
  margin: 0.4rem 0;
  display: flex;
}
.enterDev-content .enterDev-main .enterDev-left .el-step.is-vertical .el-step__line {
  left: 42px;
}
.enterDev-content .enterDev-main .enterDev-left .el-step__icon.is-text {
  position: absolute !important;
  border: none !important;
  border-radius: 0% !important;
  width: 1rem !important;
  height: 0.8rem !important;
}
.enterDev-content .enterDev-main .enterDev-left .el-step__icon.is-text .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enterDev-content .enterDev-main .enterDev-left .el-step__icon.is-text .box img {
  width: 0.48rem;
  height: 0.48rem;
  margin-bottom: 0.1rem;
  display: block;
}
.enterDev-content .enterDev-main .enterDev-left .el-step__icon.is-text .box .text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.enterDev-content .enterDev-main .enterDev-left .el-step__head.is-process {
  color: #8692b0;
}
.enterDev-content .enterDev-main .enterDev-left .el-step__head.is-wait {
  color: #8692b0;
}
.enterDev-content .enterDev-main .enterDev-right {
  margin-top: 2.2rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4.36rem;
}
.enterDev-content .enterDev-main .enterDev-right img {
  width: 2.2rem;
  height: 2.2rem;
  display: block;
  margin-bottom: 0.2rem;
}
.enterDev-content .enterDev-main .enterDev-right h1 {
  font-size: 0.18rem;
  font-family: PingFang SC-Bold, PingFang SC;
  font-weight: bold;
  color: #1e2736;
  line-height: 0.24rem;
  margin-bottom: 0.2rem;
}
.enterDev-content .enterDev-main .enterDev-right p {
  font-size: 0.14rem;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #4e5259;
  line-height: 0.21rem;
  margin-bottom: 0.2rem;
}
.enterDev-content .enterDev-main .enterDev-right button {
  width: 1.44rem;
  height: 0.46rem;
  background: #0058ff;
  border-radius: 0.03rem 0.03rem 0.03rem 0.03rem;
  font-size: 0.16rem;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  line-height: 0.24rem;
  border: none;
}
