.main-card .order-name {
  font-size: 0.28rem;
  color: #171725;
}
.main-card .order-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-card .order-main .order-left {
  margin-right: 3.6rem;
}
.main-card .order-main .order-left .order-item {
  margin-top: 0.4rem;
}
.main-card .order-main .order-left .order-item .label {
  padding-left: 0.13rem;
  border-left: 3px solid #0058FF;
  font-size: 0.18rem;
  color: #1E2736;
  margin-bottom: 0.2rem;
}
.main-card .order-main .order-left .order-item .area-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-card .order-main .order-left .order-item .area-content .active {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
  position: relative;
}
.main-card .order-main .order-left .order-item .area-content .active::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 0;
  height: 0;
  border-bottom: 0.24rem solid #0058FF;
  border-left: 0.24rem solid transparent;
}
.main-card .order-main .order-left .order-item .area-content .area-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 3rem;
  height: 0.52rem;
  border: 1px solid #E6E7EB;
  border-radius: 3px;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  position: relative;
}
.main-card .order-main .order-left .order-item .area-content .area-item .check {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #FFF;
  z-index: 3;
}
.main-card .order-main .order-left .order-item .area-content .area-item .country-img {
  width: 0.29rem;
  height: 0.19rem;
  margin-left: 0.16rem;
}
.main-card .order-main .order-left .order-item .area-content .area-item .country-text,
.main-card .order-main .order-left .order-item .area-content .area-item .city-text {
  font-size: 0.15rem;
  color: #1E2736;
}
.main-card .order-main .order-left .order-item .area-content .area-item .country-text {
  margin-left: 0.2rem;
}
.main-card .order-main .order-left .order-item .area-content .area-item .city-text {
  margin-left: 0.05rem;
}
.main-card .order-main .order-left .package-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-card .order-main .order-left .package-content .active {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
  position: relative;
}
.main-card .order-main .order-left .package-content .active::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 0;
  height: 0;
  border-bottom: 0.24rem solid #0058FF;
  border-left: 0.24rem solid transparent;
}
.main-card .order-main .order-left .package-content .package-item {
  width: 3rem;
  height: 2.55rem;
  border: 1px solid #E6E7EB;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}
.main-card .order-main .order-left .package-content .package-item .check {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #FFF;
  z-index: 3;
}
.main-card .order-main .order-left .package-content .package-item .money {
  font-size: 0.22rem;
  font-weight: 800;
  line-height: 28px;
  color: #0058FF;
  margin-top: 0.3rem;
}
.main-card .order-main .order-left .package-content .package-item .package-line {
  width: 0.42rem;
  height: 0px;
  border: 2px solid #0058FF;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background: #0058FF;
}
.main-card .order-main .order-left .package-content .package-item .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-card .order-main .order-left .package-page {
  width: 9.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-card .order-main .order-left .package-page .page-item {
  width: 0.18rem;
  height: 0.05rem;
  background: rgba(134, 146, 176, 0.8);
  margin-left: 0.06rem;
  cursor: pointer;
}
.main-card .order-main .order-left .package-page .page-item:first-child {
  margin-left: 0;
}
.main-card .order-main .order-left .package-page .page-item-active {
  background: #0058ff;
}
.main-card .order-main .order-left .disk-item {
  display: flex;
  flex-direction: row;
}
.main-card .order-main .order-left .disk-item .left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 0.1rem;
}
.main-card .order-main .order-left .disk-item .left .left-text {
  font-size: 0.16rem;
  margin-right: 0.18rem;
  line-height: 0.16rem;
}
.main-card .order-main .order-left .disk-item .right {
  margin-left: 0.4rem;
  display: flex;
  flex-direction: column;
}
.main-card .order-main .order-left .disk-item .right .right-item {
  display: flex;
  flex-direction: row;
}
.main-card .order-main .order-left .disk-item .right .right-item .item-name {
  font-size: 0.14rem;
  color: #1E2736;
  margin-right: 0.3rem;
}
.main-card .order-main .order-left .disk-item .right .right-item .item-min-size,
.main-card .order-main .order-left .disk-item .right .right-item .item-max-size {
  font-size: 0.14rem;
  color: #999999;
}
.main-card .order-main .order-left .disk-item .right .right-item .el-slider {
  width: 4.34rem;
  margin-left: 0.12rem;
  margin-right: 0.12rem;
}
.main-card .order-main .order-left .disk-item .right .right-item .item-max-size {
  margin-right: 0.2rem;
}
.main-card .order-main .order-left .disk-item .right .right-item .del,
.main-card .order-main .order-left .disk-item .right .right-item .add {
  font-size: 0.18rem;
}
.main-card .order-main .order-left .disk-item .right .right-item .del {
  color: #F0142F;
  margin-right: 0.15rem;
}
.main-card .order-main .order-left .disk-item .right .right-item .add {
  color: #0058FF;
}
.main-card .order-main .order-left .bs-item {
  display: flex;
  flex-direction: row;
}
.main-card .order-main .order-left .bs-item .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-card .order-main .order-left .bs-item .left .left-text {
  font-size: 0.16rem;
  margin-right: 0.32rem;
  line-height: 0.16rem;
}
.main-card .order-main .order-left .bs-item .right {
  margin-left: 0.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-card .order-main .order-left .bs-item .right .text {
  margin-right: 0.06rem;
}
.main-card .order-main .order-left .bs-item .right .num-price {
  color: #0058FF;
}
.main-card .order-main .order-left .bs-item .right .num-price-select {
  margin-left: 0.24rem;
}
.main-card .order-main .order-left .bs-item .right .num-price-select .el-input__inner {
  height: 0.52rem;
}
.main-card .order-main .order-left .os-item .os-content .os-select .el-input__inner {
  height: 0.52rem;
  width: 3rem;
}
.main-card .order-main .order-left .os-item .os-content .os-select .os-group-img {
  width: 0.48rem;
  height: 0.48rem;
}
.main-card .order-main .order-left .os-item .os-content .os-group-select .el-input__inner {
  padding-left: 0.65rem;
}
.main-card .order-main .order-left .pass-item .item-bottom {
  margin-top: 0.2rem;
}
.main-card .order-main .order-left .pass-item .item-bottom .pass {
  display: flex;
  flex-direction: column;
}
.main-card .order-main .order-left .pass-item .item-bottom .pass .pass-label {
  font-size: 0.16rem;
  color: #1E2736;
  margin-bottom: 0.2rem;
}
.main-card .order-main .order-left .pass-item .item-bottom .pass .pass-input {
  width: 4.2rem;
  height: 0.46rem;
}
.main-card .order-main .order-left .pass-item .item-bottom .pass .pass-input .el-input__inner {
  width: 4.2rem;
  height: 0.46rem;
}
.main-card .order-main .order-left .pass-item .item-bottom .pass .pass-input .el-input__suffix {
  right: 0;
}
.main-card .order-main .order-left .pass-item .item-bottom .pass .pass-input .pass-btn {
  width: 1.12rem;
  height: calc(100% - 0.02rem);
  background: #EEF4FF;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.16rem;
  color: #4E5259;
  border-top: 1px solid #E6E7EB;
  border-right: 1px solid #E6E7EB;
  border-bottom: 1px solid #E6E7EB;
  cursor: pointer;
}
.main-card .order-main .order-left .pass-item .item-bottom .pass .text {
  font-size: 0.13rem;
  margin-top: 0.1rem;
}
.main-card .order-main .order-left .pass-item .item-bottom .pass .text .text-1 {
  color: #3dd598;
}
.main-card .order-main .order-left .pass-item .item-bottom .pass .text .text-2 {
  color: #8692B0;
}
.main-card .order-main .order-left .pass-item .item-bottom .key {
  display: flex;
  flex-direction: column;
}
.main-card .order-main .order-left .pass-item .item-bottom .key .key-label {
  font-size: 0.16rem;
  color: #1E2736;
  margin-bottom: 0.2rem;
}
.main-card .order-main .order-left .pass-item .item-bottom .key .key-select {
  display: flex;
  flex-direction: row;
}
.main-card .order-main .order-left .pass-item .item-bottom .key .key-select .el-input__inner {
  width: 4.2rem;
  height: 0.46rem;
}
.main-card .order-main .order-left .pass-item .item-bottom .key .key-select .key-btn {
  width: 1.28rem;
  height: 0.46rem;
  border: 1px solid #0058FF;
  border-radius: 3px;
  font-size: 0.16rem;
  color: #0058FF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.1rem;
}
.main-card .order-main .order-left .pay-item .pay-content .more-time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-card .order-main .order-left .pay-item .pay-content .active {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
  position: relative;
}
.main-card .order-main .order-left .pay-item .pay-content .active::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 0;
  height: 0;
  border-bottom: 0.24rem solid #0058FF;
  border-left: 0.24rem solid transparent;
}
.main-card .order-main .order-left .pay-item .pay-content .pay-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2.2rem;
  height: 0.62rem;
  border: 1px solid #E6E7EB;
  border-radius: 3px;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}
.main-card .order-main .order-left .pay-item .pay-content .pay-content-item .check {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #FFF;
  z-index: 3;
}
.main-card .order-main .order-left .pay-item .pay-content .pay-content-item .item-top {
  font-size: 0.15rem;
  color: #1E2736;
  margin-top: 0.08rem;
}
.main-card .order-main .order-left .pay-item .pay-content .pay-content-item .item-bottom {
  font-size: 0.15rem;
  color: #0058FF;
  margin-top: 0.04rem;
}
.main-card .order-main .order-right {
  width: 3.6rem;
  height: 8.59rem;
  box-shadow: 0px 3px 12px rgba(52, 52, 90, 0.1);
  border-radius: 3px;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background: #FFF;
  right: 0.2rem;
  top: 0.4rem;
}
.main-card .order-main .order-right .right-title {
  width: 100%;
  font-size: 0.16rem;
  font-weight: bold;
  color: #1E2736;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 0.05rem;
}
.main-card .order-main .order-right .right-country-os {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #DCDCDC;
}
.main-card .order-main .order-right .right-country-os .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.14rem;
  color: #757575;
}
.main-card .order-main .order-right .right-country-os .row:not(:first-child) {
  margin-top: 0.12rem;
}
.main-card .order-main .order-right .order-right-item {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #DCDCDC;
}
.main-card .order-main .order-right .order-right-item .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.14rem;
  color: #757575;
}
.main-card .order-main .order-right .order-right-item .row:not(:first-child) {
  margin-top: 0.12rem;
}
.main-card .order-main .order-right .order-right-item .row .del-add {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-card .order-main .order-right .order-right-item .row .del-add .del,
.main-card .order-main .order-right .order-right-item .row .del-add .add {
  width: 0.3rem;
  height: 0.3rem;
  border: 1px solid #E6E7EB;
  opacity: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.16rem;
  cursor: pointer;
}
.main-card .order-main .order-right .order-right-item .row .del-add .del {
  margin-right: 0.04rem;
}
.main-card .order-main .order-right .order-right-item .row .del-add .num {
  width: 0.48rem;
  height: 0.32rem;
}
.main-card .order-main .order-right .order-right-item .row .del-add .num .el-input {
  height: 0.32rem;
  width: 0.48rem;
  display: flex;
}
.main-card .order-main .order-right .order-right-item .row .del-add .num .el-input__inner {
  height: 0.32rem;
  width: 0.48rem;
}
.main-card .order-main .order-right .order-right-item .row .del-add .add {
  margin-left: 0.04rem;
}
.main-card .order-main .order-right .order-right-footer {
  padding-bottom: 0.1rem;
}
.main-card .order-main .order-right .order-right-footer .footer-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-card .order-main .order-right .order-right-footer .footer-total .left {
  color: #1E2736;
}
.main-card .order-main .order-right .order-right-footer .footer-total .right {
  font-size: 0.28rem;
  font-family: Helvetica;
  font-weight: bold;
  color: #F0142F;
}
.main-card .order-main .order-right .order-right-footer .footer-code {
  display: flex;
  flex-direction: column;
}
.main-card .order-main .order-right .order-right-footer .footer-code .code-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.08rem;
}
.main-card .order-main .order-right .order-right-footer .footer-code .code-main .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #F99600;
  cursor: pointer;
}
.main-card .order-main .order-right .order-right-footer .footer-code .code-main .left .btn-add {
  width: 0.12rem;
  height: 0.12rem;
  border: 1px solid #F99600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.06rem;
  border-radius: 50%;
}
.main-card .order-main .order-right .order-right-footer .footer-code .code-main .right {
  color: #F99600;
}
.main-card .order-main .order-right .order-right-footer .footer-code .code-detail {
  display: flex;
  flex-direction: column;
  margin-top: 0.08rem;
}
.main-card .order-main .order-right .order-right-footer .footer-code .code-detail .code-detail-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #4E5259;
}
.main-card .order-main .order-right .order-right-footer .footer-code .code-detail .code-detail-item .code {
  font-weight: bold;
  margin-right: 0.09rem;
}
.main-card .order-main .order-right .order-right-footer .footer-code .code-detail .code-detail-item .num {
  margin-right: 0.05rem;
}
.main-card .order-main .order-right .order-right-footer .footer-code .code-detail .code-detail-item .btn {
  font-size: 0.12rem;
  cursor: pointer;
}
.main-card .order-main .order-right .order-right-footer .read {
  margin-top: 0.4rem;
}
.main-card .order-main .order-right .order-right-footer .read a {
  text-decoration: none;
}
.main-card .order-main .order-right .order-right-footer .buy-btn {
  width: 100%;
  margin-top: 0.16rem;
}
.option-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.option-label .option-img {
  width: 0.24rem;
  height: 0.24rem;
}
.option-label .option-text {
  margin-left: 0.1rem;
}
.show-config-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.code-input-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.code-input-btn .code-sub-btn {
  background: #feb63b;
  border-radius: 0.04rem;
  color: #fff;
  font-size: 0.14rem;
  margin-left: 0.08rem;
  padding: 0 0.16rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
