.real_name_setting .t-switch {
  margin-right: 20px;
}
.real_name_setting .f-btn {
  margin-left: 113px;
}
.real_name_interface .status-icon {
  display: flex;
  justify-items: center;
}
.real_name_interface .status-icon img {
  width: 16px;
  position: relative;
  top: 3px;
}
/* real_name_approval */
.real_name_approval {
  /* detailDialog */
}
.real_name_approval .detailDialog .card-img {
  display: flex;
  flex-wrap: wrap;
  padding-left: 32px;
  justify-content: space-between;
}
.real_name_approval .detailDialog .card-img .item {
  margin-bottom: 15px;
}
.real_name_approval .detailDialog .card-img .item .tit {
  margin: 0;
  margin-bottom: 15px;
  color: var(--td-text-color-primary);
}
.real_name_approval .detailDialog .card-img .item img {
  width: 230px;
  height: 143px;
}
.real_name_approval .detailDialog .f-btn {
  text-align: right;
  margin-top: 10px;
}
.real_name_approval .detailDialog .disabled {
  position: relative;
  background: #eee;
  border: 1px solid #DCDCDC;
  border-radius: 2px;
  min-height: 32px;
  flex: 1;
  margin: 0;
  line-height: 32px;
  padding: 0 8px;
  color: var(--td-text-color-disabled);
  cursor: not-allowed;
}
.real_name_approval .detailDialog .copy {
  position: absolute;
  right: 1px;
  background: #ECF2FE;
  color: #0052D9;
  padding: 0 10px;
  border-left: 1px solid #DCDCDC;
  cursor: pointer;
}
.real_name_approval .detailDialog .s-tip {
  margin: 0;
  color: #FF0000;
  margin: 24px 0;
  line-height: 1;
}
.real_name_approval .detailDialog #account,
.real_name_approval .detailDialog #name {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
