.contact-support {
  background: #fff;
}

.contact-support.service {
  background: #F7F8F9;
}

.contact-support.service .support-box {
  background: #fff;
}

.contact-support .support {
  margin-top: 60px;
}

.contact-support .support-box {
  min-width: 500px;
  margin: 10px;
  flex: 1;
  display: flex;
  border: 1px solid #E6EAED;
  background: #fff;
  padding: 40px;

}

.contact-support .support-box:hover {
  box-shadow: 0px 0px 16px rgba(52, 52, 52, 0.16);
}

.contact-support .support-box img {
  width: 88px;
  height: 88px;
  background: #F7F8FA;
  border-radius: 50%;
  margin-right: 30px;
}

.contact-support .support-box .support-box-right p {
  margin-top: 16px;
  margin-bottom: 12px;
  height: 32px;
}

.contact-support .support-box .support-box-right .btn:hover {
  border: 1px solid #FF6739;
  color: #FF6739;
}


/* 售前支持 */
.server-sustain {
  background: #fff;
}

.server-sustain2 {
  background: #fff;
}

.server-sustain .sustain {
  margin-top: 60px;
}

.server-sustain .sustain .sustain-box {
  flex: 1;
  position: relative;
  margin-right: 20px;
  font-size: 16px;
  background: #fff;
  padding: 10px 38px 0 38px;
  border-radius: 3px;
}

.server-sustain2 .sustain .sustain-box {
  margin-right: 90px;
}


.server-sustain .sustain .sustain-box:last-child {
  margin-right: 0;
}

.server-sustain2 .sustain .sustain-box:last-child::before {
  content: none;
}

.server-sustain2 .sustain .sustain-box::before {
  content: '';
  position: absolute;
  top: 45%;
  right: -55px;
  height: 40px;
  width: 40px;
  background: url('../assets/img/index/arrow-right.png');
  background-size: cover;
}


.server-sustain .sustain .sustain-box:hover {
  box-shadow: 0px 0px 16px rgba(52, 52, 52, 0.16);
}

.server-sustain .sustain .sustain-box {
  border: 1px solid #E6EAED;
  background: linear-gradient(134deg, #FFFFFF 0%, #FAFAFA 100%);

}

.server-sustain .sustain .sustain-box .sustain-head img {
  width: 116px;
  height: 116px;
}

.server-sustain .sustain .sustain-box2 {
  padding: 10px 10px 0 37px;
}

.server-sustain .sustain .sustain-box2 .sustain-head h4 {
  font-size: 70px;
}

.server-sustain .sustain .sustain-box2 .btn {
  padding: 8px 32px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.server-sustain .sustain .sustain-box2 .btn:hover {
  color: rgba(255, 103, 57, 1);
  border: 1px solid #FF6739;
}




.server-sustain .sustain .sustain-box p {
  /* text-align: center; */
  height: 40px;
}

.server-flow .flow .flow-icon {
  margin: 0;
}

.server-flow .flow-box::before {
  right: -100px;
}

/* 期待您的发声 */
.product-phonation {

  background: #fff;
}

.server-flow.refund {
  background: #F7F8F9;
}

.product-phonation .phonation {
  display: flex;
}

.product-phonation .phonation .phonation-left {
  width: 600px;
  height: 400px;
  background: rgba(0, 0, 0, 0.4);
  margin-right: 150px;
}

.product-phonation .phonation p {
  line-height: 24px;
}

.product-phonation .phonation .btn {
  padding: 8px 32px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: transparent;
}

.product-phonation .phonation .btn:hover {
  color: rgba(255, 103, 57, 1);
  border: 1px solid rgba(255, 103, 57, 1);
}



/* 关于 */
.about-details {
  display: flex;
  flex-wrap: wrap;

}

.about-details .about-details-box {
  gap: 80px;
}

.about-details .about-details-left p {
  font-size: 16px;
  text-indent: 32px;
  line-height: 32px;
  max-width: 698px;
}


.about-details .about-details-right .about-details-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  flex: 1;
}

.about-details .about-details-right {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.about-details .about-details-right .about-details-item p {
  margin-top: 24px;
}

/* 
为什么选择 */
.about-reason {
  background: rgba(247, 248, 250, 1);
}

.about-reason .reason {
  margin: -10px;
  margin-top: 60px;
}

.about-why {
  background: url('../assets/img/about/mid-bg.png') no-repeat;
  background-size: contain;
}


.about-reason .reason-box {
  margin: 10px;

  padding: 40px 30px;
  width: 260px;
  height: 320px;
  line-height: 28px;
  border-radius: 3px;
}

.about-reason .reason-item-1 {

  background: url("../assets/img/about/mid-item-bg-1.png") no-repeat;
  background-size: 100px 123px;
  background-position: right bottom;
  background-color: #FFFFFF;
}

.about-reason .reason-item-2 {
  background: url("../assets/img/about/mid-item-bg-2.png") no-repeat;
  background-size: 100px 123px;
  background-position: right bottom;
  background-color: #FFFFFF;
}

.about-reason .reason-item-3 {
  background: url("../assets/img/about/mid-item-bg-3.png") no-repeat;
  background-size: 100px 123px;
  background-position: right bottom;
  background-color: #FFFFFF;
}

.about-reason .reason-item-4 {
  background: url("../assets/img/about/mid-item-bg-4.png") no-repeat;
  background-size: 100px 123px;
  background-position: right bottom;
  background-color: #FFFFFF;
}

.about-reason .reason-item-5 {
  background: url("../assets/img/about/mid-item-bg-5.png") no-repeat;
  background-size: 100px 123px;
  background-position: right bottom;
  background-color: #FFFFFF;
}

.about-together {
  background: #fff;
}

.about-together .reason-box {
  width: 453px;
  height: auto;
  padding: 40px 60px;
  color: rgba(255, 255, 255, 0.90);
  background: linear-gradient(92deg, #546DA7 0%, #A2B5D8 100%);
}


/* 里程碑  */
.about-time {

  background: rgba(19, 24, 44, 1);
}

.about-time .time-line {
  margin-top: 70px;
}

/* 荣誉资质 */

.about-box .box-list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 60px;
}

.about-box .box-list .box-item {
  padding: 0 30px;
  padding: 40px;
  margin: 10px;
  width: 335px;
  height: 276px;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(52, 52, 52, 0.08);
  border-radius: 3px;
  cursor: pointer;
}

.about-box .box-list .box-item:hover {
  box-shadow: 0px 0px 16px rgba(52, 52, 52, 0.16);
}

.about-box .box-list .box-item img {
  width: 248px;
  height: 174px;
  background: #eee;
}

.about-example {
  background: rgba(247, 248, 250, 1);
}

.about-example .box-list .box-item {
  width: 453px;
  height: 282px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(52, 52, 52, 0.08);

}

.about-example .box-list .box-item img {
  width: 177px;
  height: 66px;
}

.about-custom .custom {
  margin-top: 60px;
}

.about-custom .custom-box {
  display: flex;
  align-items: center;
}

.about-custom .custom-box .custom-icon {
  width: 52px;
  height: 52px;
  background: url("../assets/img/about/success-icon.png") no-repeat;
  background-size: contain;
  margin-right: 20px;
}

.about-custom .custom-box .custom-icon .iconfont {
  font-size: 44px;
}

.about-custom .btn-contact {
  margin-top: 60px;
}

/* 行业趋势 */

.solution-trend {
  background: rgba(247, 248, 250, 1);
}

.trend {
  margin: -10px;
  margin-top: 60px;
}

.trend-box {
  flex: 1;
  margin: 10px;
  padding: 40px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 3px;
}



.trend .trend-box img {
  width: 100%;
  height: 140px;
  background: #F7F8FA;
}

.trend .trend-box p {
  margin-top: 16px;
}


.solution-scene {}

.solution-scene .scene-box {
  padding: 0 100px;
  padding-top: 140px;
  display: flex;
  gap: 150px;
  align-items: center;
}

.solution-scene .scene-box img {
  width: 480px;
  height: 401px;
  background: rgba(0, 0, 0, 0.4);
}


/* 一小步，大未来 */
.solution-future {
  background: rgba(0, 0, 0, 0.20);
}

.solution-future h2 {
  color: rgba(255, 255, 255, 0.90);
}

.solution-future .solution-contact {
  padding: 40px;
  background: #fff;
  border-radius: 3px;
}

.solution-future .solution-contact .form-group {
  margin-right: 0;
  margin-left: 0;
}

.solution-future .solution-contact .form-group input,
.solution-future .solution-contact .form-group textarea {
  width: 100%;
  background: rgba(230, 234, 237, 1);
  border: 1px solid #E6EAED;
  box-shadow: none;
}

.solution-future .solution-contact .form-group label {
  color: rgba(0, 0, 0, 0.6);
}


.solution-future .solution-contact .form-group .btn {
  padding: 8px 46px;
}



.feedback-banner .server-banner-desc {
  margin-bottom: 0;
}




.feedback-form {
  background: #F7F8FA;
}

.feedback-form .form-horizontal .form-group input,
.feedback-form .form-horizontal .form-group textarea {
  background: #fff;
}


.feedback-form .form-horizontal .form-group input,
.feedback-form .form-horizontal .form-group textarea {
  background: #fff;
}

.feedback-form .form-horizontal .input-group-addon,
.feedback-form .form-horizontal .form-select {

  background: rgba(247, 248, 250, 1);
}

.feedback-form .form-horizontal .input-group-addon {
  padding: 0;
  border: 1px solid #E6EAED;
  border-right: none;
}

.feedback-form .form-horizontal .form-select {
  border: none;
  outline: none;
  box-shadow: none;
  width: 80px;
  height: 100%;
}

.feedback-form .form-horizontal .btn-normal-light {
  margin-left: 16px;
  background: rgba(0, 0, 0, 0.08);
}


.feedback-form .form-horizontal .radio label {
  padding-top: 10px;
  width: 175px;
  height: 80px;
  background: #F7F8FA;
  border: 1px solid #E6EAED;
  opacity: 1;
  border-radius: 3px;
}


.feedback-form .form-horizontal .form-radio {
  display: flex;
  gap: 20px;
}

.feedback-form .form-horizontal .radio input {
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

.feedback-form .form-horizontal .radio input:hover~label {
  background: rgba(255, 103, 57, 0.08);
  border: 1px solid #FF6739;
}

.feedback-form .form-horizontal .radio input:checked+label {
  color: rgba(255, 103, 57, 1);
  background: rgba(255, 103, 57, 0.08);
  border: 1px solid #FF6739;
}

.feedback-form .form-horizontal .radio .radio-desc {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  margin-top: 5px;
}

.feedback-form .form-horizontal .radio label:hover {
  background: rgba(255, 103, 57, 0.08);
  border: 1px solid #FF6739;
}

.feedback-form .form-horizontal .radio:hover .radio-title {
  color: rgba(255, 103, 57, 1);
}

.feedback-form .form-horizontal .form-group .form-upload {
  margin-left: 0;
  background: #fff;
  padding: 6px 18px;
}

.feedback-form .form-horizontal .form-group .icon-upload {
  margin-right: 5px;
}

.feedback-form .form-horizontal .form-group .form-file {
  border: none;
  outline: none;
  height: 35px;
  width: 115px;
  opacity: 0;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
}


/* 招聘岗位 */
.recuit-info {
  padding-top: 40px;
  padding-bottom: 60px;
  background: rgba(247, 248, 250, 1);
}

.recuit {
  padding: 60px;
  background: #fff;
}

.recuit .recuit-btn-group {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  overflow: auto;
}

.recuit .recuit-btn-group .btn:hover {
  color: rgba(255, 103, 57, 1);
  border: 1px solid rgba(255, 103, 57, 1);
}


.recuit .recuit-content .recuit-box {
  padding-top: 60px;
}

.recuit .recuit-box .recuit-head {
  padding: 20px 0;
  border-bottom: 1px solid rgba(230, 234, 237, 1);
}

.recuit .recuit-box .recuit-box-title {
  padding-top: 30px;
  padding-bottom: 20px;
}

.recuit .recuit-box p {
  line-height: 28px;
}

.recuit-right {
  width: 390px;
  background: #FFFFFF;
  opacity: 1;
  border-radius: 3px;
  margin-left: 20px;
  text-align: center;
}

.recuit-right .recuit-right-box {
  padding: 30px 40px;
}

.recuit-right img {
  height: 40px;
  width: 40px;
}

.recuit-right .recuit-right-box>p {
  margin: 15px 0;
}



/* 方案优势 */
.solution-advantage {

  background-color: #F7F8FA;

}

.solution-advantage .advantage {
  height: 704px;
  position: relative;
  background-image: url('../assets/img/index/solution.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.solution-advantage .advantage-box {
  width: 260px;
  height: 320px;
  border: 6px solid #FFFFFF;
  background: linear-gradient(180deg, #F4F3F9 0%, #FCFDFD 100%);
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08);
  opacity: 1;
  border-radius: 3px;
  text-align: center;
  padding: 40px;
  position: relative;
}

.solution-advantage .advantage-box img {
  width: 92px;
  height: 92px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  border-radius: 0px;
}

.solution-advantage .advantage-box p {
  color: rgba(0, 0, 0, 0.6);
  ;
}

.solution-advantage .advantage-box::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 45%;
  border-left: 15px solid transparent;
  border-top: 15px solid #fff;
  border-right: 15px solid transparent;
}

.solution-advantage .advantage-box:nth-child(1) {
  position: absolute;
  bottom: 130px;
  left: 82px;
}

.solution-advantage .advantage-box:nth-child(2) {
  position: absolute;
  bottom: 240px;
  left: 418px;
}

.solution-advantage .advantage-box:nth-child(3) {
  position: absolute;
  right: 425px;
  bottom: 130px;
}

.solution-advantage .advantage-box:nth-child(4) {
  position: absolute;
  right: 86px;
  bottom: 240px;
}

.recuit-info .section-content {
  padding-top: 0;
}

.recuit-info .recuit-btn-group a.active .btn-normal-light,
.recuit-info .recuit-btn-group a:hover .btn-normal-light {
  background: rgba(255, 103, 57, 1);
  color: #fff;
  border-color: rgba(255, 103, 57, 1);
}

.recuit-content .recuit-box {
  display: none;
}

.recuit-content .recuit-box:first-child {
  display: block;
}
