.cps .advantage-left {
  background: url(../assets/img/reward/group-10.png) no-repeat;
}
.agent-banner {
  background: url(../assets/img/reward/agent.png) no-repeat center center;
  color: #fff;
}
.agent .advantage .advantage-right .advantage-box {
  padding-right: 25px !important;
}
.product-cloud .cloud-box {
  padding: 30px 20px;
}
.product-cloud .cloud-box img {
  margin-right: 14px;
}
.sustain .title-desc {
  padding-right: 30px;
}
.cps-link {
  color: #fff;
}
.cps-link:hover {
  color: #333 !important;
}
