.product-banner {
  padding: 20px 0;
  height: 440px;
}
/* 热门组合 */
.product-hot {
  background: #F7F8FA;
}
.product-hot .hot-cont {
  margin: -10px;
  margin-top: 30px;
  overflow: hidden;
}
.product-hot .hot-list {
  display: flex;
  flex-wrap: wrap;
}
.cloud-pro-list .hot-list {
  display: none;
}
.cloud-pro-list .hot-list.active {
  display: flex;
  flex-wrap: wrap;
}
.product-hot .hot-item {
  cursor: pointer;
  font-size: 14px;
  padding: 30px;
  margin: 10px;
  width: 335px !important;
  border: 1px solid #E6EAED;
  border-radius: 3px;
}
.product-hot .hot-item:hover {
  box-shadow: 0px 0px 16px rgba(52, 52, 52, 0.16);
}
.product-hot .hot-item:hover h4 {
  color: #ff6739;
}
.product-hot .standard p {
  height: 32px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
}
.product-hot .standard .attr {
  width: 120px;
  text-align: left;
}
.product-hot .hot-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.product-hot .hot-price .price {
  color: #ff6739;
}
.product-hot .hot-price .price-desc {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.product-hot .hot-price .btn {
  width: 120px;
}
.product-hot .hot-item .title-desc,
.product-hot .section-title .section-desc {
  color: #666;
  min-height: 60px;
}
/* 无忧上云  */
.product-cloud {
  background: #f7f8fa;
}
.product-cloud .cloud {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 60px;
}
.product-cloud .cloud-box {
  flex: 1;
  min-width: 500px;
  margin: 10px;
  display: flex;
  padding: 30px;
  background: #fff;
  cursor: pointer;
}
.product-cloud .cloud-box:hover {
  box-shadow: 0px 0px 8px rgba(52, 52, 52, 0.08);
}
.product-cloud .cloud-box img {
  margin-right: 30px;
  width: 128px;
  height: 128px;
}
/* 高效能 */
.product-performance {
  background: #13182C url(../assets/img/index/home-bg.png) no-repeat center center;
  background-size: cover;
}
.product-performance .performance {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}
.product-performance .performance .performance-left img {
  margin-right: 50px;
  min-width: 600px;
  display: flex;
  max-height: 570px;
}
.product-performance .performance .performance-left2 img {
  max-height: 380px;
}
.product-performance .performance .performance-left3 img {
  height: 400px;
  width: 500px;
  margin-left: 36px;
  margin-right: 160px;
  min-width: auto;
}
.product-performance .performance-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 12px;
  padding: 0 16px;
  height: 85px;
  background: rgba(255, 255, 255, 0.08);
  min-width: 600px;
}
.product-performance .performance-item img {
  margin-right: 20px;
  height: 52px;
  width: 52px;
}
.product-performance .performance-item:hover {
  background: rgba(255, 255, 255, 0.16);
}
.product-performance .performance-item .desc {
  margin-top: 8px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
/* 高效上云 */
.product-efficient {
  background: #f7f8fa;
}
.efficient {
  padding-top: 60px;
}
.efficient .nav-tabs {
  display: flex;
  flex-direction: column;
  background: #f5f6f9;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 3px 0px 0px 3px;
  box-shadow: 0px 0px 10px rgba(19, 55, 83, 0.08);
}
.efficient .nav-tabs li {
  cursor: pointer;
  flex: 1;
  font-size: 18px;
}
.efficient .nav-tabs li.active,
.efficient .nav-tabs li:hover {
  background: #fff;
  border-radius: 3px 0px 0px 3px;
}
.efficient .nav-tabs li.active > a,
.efficient .nav-tabs li:hover a {
  background: transparent;
  border: none;
  /* border-bottom: 1px solid #E6EAED; */
  color: #FF6739;
}
.efficient .nav-tabs a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 260px;
  height: 100%;
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid #E6EAED;
}
.efficient .nav-tabs li:last-child a {
  border-bottom: none;
}
.efficient .nav-tabs li.active img,
.efficient .nav-tabs li:hover img {
  display: block;
}
.efficient .nav-tabs img {
  display: none;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.efficient .tab-content {
  min-width: 300px;
  flex: 1;
  background: #fff;
  border-radius: 0px 3px 3px 0px;
}
.tabs-efficient {
  padding: 50px 70px 30px 70px;
}
.tabs-efficient .tab-box {
  display: flex;
  justify-content: space-between;
}
.tab-box .tabs-content {
  flex: 1;
  padding-right: 100px;
}
.tab-box .tabs-content .layout-paragraph:nth-child(2) .layout-paragraph-s::before {
  background: #FF6739;
}
.tabs-efficient .tabs-img {
  flex-shrink: 0;
  width: 408px;
  height: 100%;
}
.tabs-efficient .tabs-img img {
  width: 100%;
  height: 100%;
}
/* 帮助 */
.help {
  margin: -10px;
  margin-top: 30px;
}
.help-box {
  margin: 10px;
  padding: 40px 30px;
  width: 453px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(19, 55, 83, 0.08);
  opacity: 1;
  border-radius: 3px;
}
/* 产品价格 */
.product-price .price {
  margin: -10px;
  margin-top: 60px;
}
.price .price-item {
  margin: 10px;
  width: 335px;
  height: 176px;
  padding: 20px 30px;
  border: 1px solid #E6EAED;
}
.price .price-item .title-desc {
  margin-top: 10px;
  margin-bottom: 30px;
}
.price .price-item .btn {
  padding: 8px 30px;
}
.product-price .price .more {
  background: #e6eaed;
}
.product-price .price .more a {
  display: inline-block;
  width: 290px;
  height: 136px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 136px;
}
/* 产品规格 */
.standards {
  margin: -10px;
  margin-top: 60px;
  flex-wrap: wrap;
}
.standards-box {
  width: calc(25% - 20px);
  flex-shrink: 0;
  margin: 10px;
  padding: 30px;
  border: 1px solid #E6EAED;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.standards-box .standards-box-s {
  position: relative;
  padding-left: 10px;
}
.standards-box .standards-box-s::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 4px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}
.standards-box .money-box {
  margin-top: 30px;
}
.standards-box .money {
  color: #ff6739;
}
.standards-box .btn {
  padding: 8px 26px;
}
.standards-box .stand-cont {
  margin-top: 30px;
}
.product-sms .standards-box .stand-cont {
  width: 230px;
}
.product-sms .title-desc {
  color: #666;
}
.standards-box .stand-s {
  margin-bottom: 15px;
}
.standards-box p .iconfont {
  margin-right: 8px;
}
/* 申请流程 */
.product-flow .flow {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.trademark-flow {
  height: 269px;
  background: url("../assets/img/trademark/flow_path.png") no-repeat;
  background-size: contain;
}
.product-flow .flow .flow-box {
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
  width: 242px;
}
.product-icp .flow .flow-box {
  width: 160px;
}
.product-rent .flow {
  gap: 0;
}
.product-rent .flow .flow-box {
  width: 242px;
}
.product-rent .flow .flow-box::before {
  right: -28px;
}
.product-trusteeship .flow .flow-box {
  width: 242px;
}
.product-trusteeship .flow .flow-box::before {
  right: -80px;
}
.product-flow .flow-box::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: -55px;
  height: 40px;
  width: 40px;
  background: url('../assets/img/index/arrow-right.png');
  background-size: cover;
}
.product-flow .flow-box:last-child:before {
  content: none;
}
.product-flow .flow .flow-icon {
  min-width: 52px;
  width: 52px;
  height: 52px;
  border: 2px solid #707070;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid #FF6739;
  background: linear-gradient(180deg, rgba(253, 169, 113, 0.3) 0%, #FC781F 100%);
  border-radius: 50%;
  color: #fff;
  z-index: 2;
}
.product-flow .flow .flow-icon::before {
  content: '';
  position: absolute;
  top: -14px;
  width: 74px;
  height: 74px;
  background: #FFFFFF;
  border: 1px solid rgba(255, 103, 57, 0.1608);
  border-radius: 50%;
  background: transparent;
}
.product-flow .flow h5 {
  color: #ff6739;
}
/* icp申请 */
.apply {
  margin-top: 60px;
  padding: 40px;
  background: #f7f8fa;
}
.apply .apply-left {
  flex: 2;
  opacity: 1;
  border-radius: 3px;
}
.apply .apply-left img {
  width: 100%;
}
.apply .apply-right {
  margin-left: 50px;
  flex: 3;
}
.apply .apply-right .money {
  margin-right: 60px;
}
.layout-paragraph {
  margin-bottom: 40px;
}
.apply .apply-right .layout-paragraph:last-child {
  margin-bottom: 0;
}
.tab-content .tabs-efficient .layout-paragraph:last-child {
  margin-bottom: 0;
}
.layout-paragraph .layout-paragraph-s {
  position: relative;
  padding-left: 12px;
  margin-bottom: 8px;
}
.layout-paragraph .layout-paragraph-s::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 4px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}
.layout-paragraph-tag {
  display: inline-block;
  margin-top: 4px;
  padding: 8px 16px;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}
.layout-paragraph .iconfont {
  margin-right: 8px;
}
.layout-paragraph .layout-title {
  font-size: 16px;
  margin-bottom: 12px;
}
.layout-paragraph .layout-desc {
  color: rgba(0, 0, 0, 0.6);
}
.product-rent .layout-paragraph-s {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.9);
}
.product-rent .layout-paragraph .layout-desc {
  margin-top: 0px;
}
.product-icp .layout-paragraph-s {
  margin-bottom: 15px;
}
.product-icp .layout-paragraph .layout-desc {
  margin-top: 4px;
}
.money {
  color: #ff6739;
  font-size: 14px;
}
.product-ssl .money-box {
  justify-content: space-between;
}
.money-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.extend .money-box .money {
  margin-right: 20px;
}
.money-box .btn-normal {
  padding: 8px 32px;
}
/* 域名注册 */
.domain-info {
  background: #f7f8fa;
}
.domain-register {
  padding: 40px;
  background: #fff;
}
.domain-register .register-box {
  padding-bottom: 60px;
}
.domain-register .register-box-head {
  position: relative;
}
.domain-register .register-box-head::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -10px;
  width: 2px;
  height: 16px;
  background: #ff6739;
}
.domain-register .domain-register-box {
  margin-bottom: 60px;
}
.domain-register .domain-register-box .register-box-item {
  display: flex;
  margin: 30px 0;
}
.domain-register .register-box-item .register-box-left {
  color: rgba(0, 0, 0, 0.6);
  width: 200px;
}
.domain-register .register-box-item .ok {
  color: #ff6739;
}
.domain-info .domain-desc-box {
  background: #FFFFFF;
  padding: 40px 20px 50px 20px;
  min-width: 400px;
}
.domain-info .domain-desc-box .search-btn {
  padding: 12px 30px;
  min-width: 92px;
}
.domain-info .domain-desc-box input {
  width: 100%;
  height: 46px;
  border: 1px solid #E6EAED;
  opacity: 1;
  border-radius: 3px 0px 0px 3px;
}
.domain-info .domain-desc-box .domain-desc-tips {
  padding: 13px 16px;
  background: #f7f8f9;
  margin-right: 10px;
}
/* 活动列表 */
.activities .activities-list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
}
.activities .activities-item:first-child {
  height: 424px;
  grid-row-start: 1;
  grid-row-end: 3;
}
.activities .activities-item {
  padding: 40px;
  height: 200px;
  background: #E6EAED;
  opacity: 1;
  border-radius: 3px;
  transition: all 0.5s ease;
}
.activities .activities-time {
  padding-top: 0;
}
.activities .activities-time .count-time {
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #fdfdfe;
}
.activities .activities-time .count-time .box {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #FF6739;
  color: #fff;
}
.activities .activities-item:hover {
  margin-top: -12px;
  box-shadow: 0px 0px 16px rgba(52, 52, 52, 0.16);
}
.activities .activities-item a {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #FF6739;
}
/* 域名购买 */
.domain-shop {
  background: #f7f8fa;
}
.domain-shop .shop-head {
  padding: 40px 30px;
  background: #fff;
}
.domain-shop .shop-head input {
  width: 100%;
  border-right: none;
  background: #f7f8fa;
}
.domain-shop .shop-head .search-btn {
  width: 140px;
}
.domain-shop .shop-head select {
  padding: 0 20px;
  width: 100px;
  height: 56px;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid #ff6739;
  border-left: none;
  border-radius: 0;
  box-shadow: none;
}
.domain-shop .number {
  color: #ff6739;
}
.domain-shop .shop-content {
  margin-top: 10px;
}
.domain-shop .shop-content .shop-left {
  padding: 30px;
  background: #fff;
}
.shop-left .attr {
  border: none;
  box-shadow: none;
  width: auto;
}
.shop-left .shop-item-right .item-right {
  width: 120px;
  text-align: right;
  margin-left: 30px;
}
.shop-content .shop-left .shop-list {
  border: 1px solid #EDEDED;
}
.shop-content .shop-left .shop-list .shop-item {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.shop-left .shop-item-right .add-car {
  padding: 6px 16px;
  cursor: pointer;
  border-radius: 16px;
  text-align: center;
  color: #ff6739;
  border: 1px solid #FF6739;
}
.shop-left .shop-item-right .add-car.disabled {
  border: 1px solid #E6EAED;
  color: rgba(0, 0, 0, 0.4);
}
.shop-left .shop-item-right .icon-bottom {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.shop-left .shop-item-right .icon-box {
  position: relative;
}
.shop-left .shop-item-right .icon-bottom:hover {
  transform: rotate(180deg);
}
.shop-left .shop-item-right .icon-box:hover .table-price {
  display: block;
}
.shop-left .table-price {
  position: absolute;
  margin-left: -100%;
  display: none;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 99;
}
.shop-left .table-price .table-list {
  display: flex;
  border-top: 1px solid #E6EAED;
}
.shop-left .table-price .table-list.table-head {
  background: #F7F8FA;
  color: rgba(0, 0, 0, 0.6);
  border: none;
}
.shop-left .table-price .table-list .table-item {
  padding: 10px 20px;
  min-width: 80px;
}
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #f7f8fa;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  outline: none;
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: none;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "iconfont";
  background: #ff6739;
  color: #fff;
  font-size: 14px;
  content: "\e68b";
}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.shop-content .shop-right {
  width: 400px;
  background: #fff;
}
.shop-content .shop-right .shop-car {
  padding: 20px 30px;
}
.shop-content .shop-right .shop-car .shop-car-head {
  background: #fff;
}
.shop-content .shop-right .shop-car .shop-car-content {
  border: 1px solid #EDEDED;
}
.shop-content .shop-car-content .shop-car-box {
  padding: 24px 20px;
  border-bottom: 1px solid #ededed;
}
.shop-content .shop-car-content .shop-car-box .remove {
  cursor: pointer;
}
.shop-content .shop-car-buy {
  background: #FF6739;
  opacity: 1;
  border-radius: 0px 0px 3px 3px;
  padding: 12px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.jr-select.select-border select {
  padding-left: 35px;
  border: none;
}
.jr-select.select-border:after {
  right: 5px;
}
.input-search .jr-select.select-border select {
  border: 1px solid #ff6739;
  border-left: none;
}
.input-search .jr-select.select-border:after {
  top: 50px;
  right: 10px;
}
.product-country {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  height: 52px;
  box-shadow: 0px 0px 12px 1px rgba(52, 52, 52, 0.08);
  border-radius: 3px 3px 3px 3px;
}
.product-country .country-item {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
.product-country .country-item:hover {
  cursor: pointer;
  color: #E2491B;
}
.product-country .country-item.active {
  background: linear-gradient(180deg, #FEDEBE 0%, rgba(255, 255, 255, 0) 100%);
  color: #E2491B;
}
.product-des {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.product-des .link-rule {
  color: #FF6739;
}
.product-item {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
  width: 335px !important;
  border: 2px solid #FFFFFF;
  background: #fff;
}
.product-item .product-active-text {
  position: absolute;
  top: 6px;
  right: 2px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  padding: 0 12px;
  font-size: 12px;
  color: #E2491B;
  background: #FEE2C6;
  border-radius: 40px 0px 0px 40px;
}
.product-item:hover {
  box-shadow: 0px 0px 16px rgba(52, 52, 52, 0.16);
}
.product-item:hover h4 {
  color: #ff6739 !important;
}
.product-item .product-item-top {
  padding: 21px 20px 20px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #E6EAED;
  border-radius: 3px 3px 0px 0px;
  background: linear-gradient(180deg, #FFF9F6 0%, #FFFFFF 100%);
}
.product-item .product-item-top h4 {
  font-size: 22px;
  color: #000000;
}
.product-item .product-item-top .title-desc {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.product-item .product-item-bottom {
  box-sizing: border-box;
  padding: 20px;
}
.product-item .product-item-bottom .product-config {
  min-height: 138px;
}
.product-item .product-item-bottom .product-config > p {
  margin-bottom: 16px;
  display: flex;
}
.product-item .product-item-bottom .product-config > p .config-lable {
  display: inline-block;
  width: 113px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}
.product-item .product-item-bottom .product-config > p .config-value {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  flex: 1;
}
.product-item .product-item-bottom .product-config > p .config-time {
  margin-top: 10px;
  display: flex;
}
.product-item .product-item-bottom .product-config > p .config-time > span {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 32px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #EDEDED;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}
.product-item .product-item-bottom .product-config > p .config-time > span:nth-of-type(1) {
  margin-left: 0;
}
.product-item .product-item-bottom .product-config > p .config-time > span.active {
  background: rgba(255, 103, 57, 0.08);
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #FF6739;
  color: #FF6739;
}
.product-item .product-item-bottom .product-config > p .config-time > span:hover {
  border: 1px solid #FF6739;
  color: #FF6739;
}
.product-item .product-item-bottom .product-text {
  font-size: 0;
}
.product-item .product-item-bottom .product-text .product-text-item {
  padding: 4px 8px;
  background: #F7F8F9;
  border-radius: 1px 1px 1px 1px;
  border: 1px solid #EDEDED;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 10px;
  font-size: 12px;
}
.product-item .product-item-bottom .product-text .product-text-item:nth-last-of-type(1) {
  margin-right: 0;
}
.product-item .product-item-bottom .product-price-box {
  margin-top: 21px;
}
.product-item .product-item-bottom .product-price-box .price-left {
  display: flex;
  align-items: center;
}
.product-item .product-item-bottom .product-price-box .price-left .price {
  font-size: 14px;
  color: #FF6739;
}
.product-item .product-item-bottom .product-price-box .price-left .origin-price {
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  text-decoration: line-through;
}
.product-item .product-item-bottom .product-price-box .price-desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.product-item .product-item-bottom .product-price-box .price-right {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-item .product-item-bottom .product-price-box .price-right a {
  flex: 1;
}
.product-item .product-item-bottom .product-price-box .price-right .product-btn {
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #FFFFFF;
  background: linear-gradient(85deg, #FF832D 0%, #FF550A 100%);
}
.product-item .product-item-bottom .product-price-box .price-right .shop-car-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 70px;
  height: 40px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #FF6739;
}
.product-event {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
}
.product-event .event-item {
  padding: 30px 30px 26px 30px;
  cursor: pointer;
  box-sizing: border-box;
  width: 32%;
  flex-shrink: 0;
  margin: 9px;
  border-radius: 3px 3px 3px 3px;
  border-top: 4px solid #FF6739;
  box-shadow: 0px 0px 12px 1px rgba(52, 52, 52, 0.08);
}
.product-event .event-item:hover .event-name {
  color: #E2491B !important;
}
.product-event .event-item .event-name {
  font-size: 22px;
  color: #000000;
  font-weight: 400;
}
.product-event .event-item .event-des {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.product-event .event-item .event-buy {
  margin-top: 46px;
}
.product-event .event-item .event-btn {
  width: 120px;
  height: 40px;
  background: linear-gradient(85deg, #FF832D 0%, #FF550A 100%);
  border-radius: 3px 3px 3px 3px;
  font-size: 16px;
  color: #FFFFFF;
}
.more-pro {
  text-align: center;
  margin-top: 40px;
  color: #FF6739;
  font-size: 16px;
}
.more-pro .link-rule {
  color: #FF6739;
}
.domain-buy {
  background: #F7F8FA;
}
.domain-buy .section-content {
  padding-top: 25px;
}
.domain-buy .buy-tip {
  background: #FFF3E6;
  display: flex;
  align-items: center;
  padding: 13px 16px;
  margin-top: 4px;
}
.domain-buy .buy-tip .tip-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FFFFFF;
  margin-right: 9px;
}
.domain-buy .buy-tip .tip-icon img {
  width: 20px;
  height: 18px;
}
.domain-buy .buy-tip .tip-text {
  font-size: 14px;
  color: #C83508;
  line-height: 24px;
}
.domain-buy .select-tem {
  margin-top: 20px;
  background: #FFFFFF;
  padding: 20px 0 40px 0;
}
.domain-buy .select-tem .select-title {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
  position: relative;
  padding-left: 40px;
}
.domain-buy .select-tem .select-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -8px;
  width: 2px;
  height: 16px;
  background: #FF6739;
}
.domain-buy .select-tem .select-content {
  padding: 24px 60px 0 60px;
}
.domain-buy .select-tem .select-content .select-type {
  display: flex;
  align-items: center;
}
.domain-buy .select-tem .select-content .select-type .net-type {
  margin-right: 44px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.domain-buy .select-tem .select-content .select-type #company {
  margin-left: 20px;
}
.domain-buy .select-tem .select-content .select-type input[type=radio] {
  margin: 0;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #DCDCDC;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}
.domain-buy .select-tem .select-content .select-type input[type=radio]:checked {
  border: 1px solid #FF6739;
}
.domain-buy .select-tem .select-content .select-type input[type=radio]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background: #FF6739;
  border-radius: 50%;
}
.domain-buy .select-tem .select-content .select-type label {
  margin-bottom: 0px;
  margin-left: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
}
.domain-buy .select-tem .select-content .tem-box {
  margin-top: 30px;
}
.domain-buy .select-tem .select-content .tem-box .tem-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.domain-buy .select-tem .select-content .tem-box .title-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
}
.domain-buy .select-tem .select-content .tem-box .creat-text {
  font-size: 14px;
  color: #FF6739;
  cursor: pointer;
}
.domain-buy .select-tem .select-content .tem-box .tem-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 148px;
  background: #F2F6FA;
}
.domain-buy .select-tem .select-content .tem-box .tem-list .no-tem {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
.domain-buy .select-tem .select-content .agree-box {
  margin-top: 50px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}
.domain-buy .select-tem .select-content .agree-box a {
  color: #FF6739;
}
.domain-buy .select-tem .select-content .btn-box {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.domain-buy .select-tem .select-content .btn-box .ok-btn,
.domain-buy .select-tem .select-content .btn-box .back-btn {
  width: 112px;
  height: 46px;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  line-height: 46px;
  cursor: pointer;
}
.domain-buy .select-tem .select-content .btn-box .ok-btn {
  background: #FF6739;
  color: #FFFFFF;
}
.domain-buy .select-tem .select-content .btn-box .back-btn {
  margin-left: 12px;
  background: #E7E7E7;
  color: #1e2736;
}
.domain-buy .creat-template-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.domain-buy .creat-template-box .creat-form {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 9999;
}
.domain-buy .creat-template-box .a-text:hover {
  cursor: pointer;
  text-decoration: underline;
}
.domain-buy .creat-template-box .form-top {
  box-sizing: border-box;
  padding: 0 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E6EAED;
}
.domain-buy .creat-template-box .form-top span {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
}
.domain-buy .creat-template-box .form-top img {
  width: 12px;
  height: 12px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.domain-buy .creat-template-box .form-content {
  width: 100%;
  height: calc(100% - 60px - 75px);
  overflow-y: auto;
  padding-left: 30px;
}
.domain-buy .creat-template-box .form-content .form-box {
  width: 100%;
  display: flex;
}
.domain-buy .creat-template-box .form-content .form-box .form-title {
  margin-top: 33px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
  position: relative;
  padding-left: 10px;
  margin-bottom: 30px;
}
.domain-buy .creat-template-box .form-content .form-box .form-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -8px;
  width: 2px;
  height: 16px;
  background: #FF6739;
}
.domain-buy .creat-template-box .form-info {
  width: 940px;
  flex-shrink: 0;
}
.domain-buy .creat-template-box .form-info .origin-text {
  color: #FF6739;
}
.domain-buy .creat-template-box .form-info .origin-text:hover {
  cursor: pointer;
}
.domain-buy .creat-template-box .form-info .form-item {
  margin-bottom: 20px;
  display: flex;
}
.domain-buy .creat-template-box .form-info .form-item:nth-last-of-type(1) {
  margin-bottom: 0px;
}
.domain-buy .creat-template-box .form-info .form-item .form-label {
  width: 150px;
  flex-shrink: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.domain-buy .creat-template-box .form-info .form-item .form-value input {
  width: 400px;
  height: 32px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #E6EAED;
  padding-left: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  outline: none;
}
.domain-buy .creat-template-box .form-info .form-item .form-value input:focus {
  border: 1px solid rgba(255, 103, 57, 0.6);
}
.domain-buy .creat-template-box .form-info .form-item .form-value select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 400px;
  height: 32px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #E6EAED;
  padding-left: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  outline: none;
  background: url("../assets/img/comment/down.svg") no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 25px;
  transition: all 0.1s;
}
.domain-buy .creat-template-box .form-info .form-item .form-value select:focus {
  border: 1px solid rgba(255, 103, 57, 0.6);
  background: url("../assets/img/comment/up.svg") no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.domain-buy .creat-template-box .form-info .form-item .form-value .styled {
  width: auto;
}
.domain-buy .creat-template-box .form-info .value-tips {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.domain-buy .right-tip {
  flex: 1;
  background: #F7F8FA;
}
.domain-buy .tip-text-box {
  position: relative;
  display: flex;
  justify-content: center;
}
.domain-buy .tip-text-box .no-tips {
  position: fixed;
  padding-top: 207px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.domain-buy .tip-text-box .no-tips .no-tips-img {
  margin-bottom: 20px;
  text-align: center;
}
.domain-buy .tip-text-box .no-tips .no-tips-img img {
  width: 40px;
  height: 40px;
}
.domain-buy .tip-text-box .input-tip {
  display: none;
  position: fixed;
  padding: 57px 30px 0 30px;
}
.domain-buy .tip-text-box .input-tip h4 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
}
.domain-buy .tip-text-box .input-tip p {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px;
}
.domain-buy .use-label {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}
.domain-buy .use-label .use-tips {
  color: rgba(0, 0, 0, 0.4);
}
.domain-buy .user-type {
  box-sizing: border-box;
  width: 208px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2F6FA;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #E6EAED;
}
.domain-buy .user-type .user-item {
  width: 100px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}
.domain-buy .user-type .user-item.active {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.08);
  color: #FF6739;
  background: #FFFFFF;
  border-radius: 50px 50px 50px 50px;
}
.domain-buy .upload-box .upload-top {
  display: flex;
  align-items: end;
}
.domain-buy .upload-box .upload-view {
  margin-left: 12px;
  padding-bottom: 10px;
}
.domain-buy .upload-box .view-box {
  width: 90px;
  height: 54px;
  border-radius: 3px 3px 3px 3px;
  background: #DBDBDB;
  margin-top: 6px;
}
.domain-buy .upload-box .upload-content {
  width: 270px;
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px 3px 3px 3px;
  border: 1px dashed #DDDDDD;
}
.domain-buy .upload-box .up-img {
  width: 66px;
  height: 66px;
}
.domain-buy .upload-box .up-text {
  margin-top: 14px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px;
}
.domain-buy .upload-box .upload-bommtom {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  line-height: 20px;
}
.domain-buy .agree-label {
  font-size: 14px;
  color: #000000;
}
.domain-buy .agree-label a {
  color: #FF6739;
}
.domain-buy .form-bottom {
  box-sizing: border-box;
  height: 75px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-top: 1px solid #E6EAED;
}
.domain-buy .form-bottom .creat-ok,
.domain-buy .form-bottom .creat-cancel {
  width: 112px;
  height: 46px;
  font-size: 16px;
  border-radius: 3px;
  text-align: center;
  line-height: 46px;
  cursor: pointer;
}
.domain-buy .form-bottom .creat-ok {
  background: #FF6739;
  color: #FFFFFF;
}
.domain-buy .form-bottom .creat-cancel {
  margin-left: 12px;
  border: 1px solid #E6EAED;
  color: rgba(0, 0, 0, 0.6);
}
.product-help .help-head {
  align-items: center;
}
#suffix-box .select-box-item.active {
  border-color: #ff6739;
}
