.addon .common-look {
  margin-right: 16px;
}
.addon .common-look:last-child {
  margin-right: 0;
}
.addon .version div {
  display: flex;
  align-items: center;
}
.addon .version .upgrade img {
  width: 16px;
  cursor: pointer;
  display: block;
  margin-left: 10px;
}
.addon .common-header {
  justify-content: flex-start;
}
