.main-card .main-card-title {
  font-size: 0.28rem;
  line-height: 0.28rem;
}
.main-card .main-card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.4rem;
  align-items: flex-end;
}
.main-card .main-card-top ul li {
  list-style: none;
  font-size: 0.16rem;
  line-height: 0.16rem;
  color: #1E2736;
  padding-left: 0.11rem;
  border-left: 3px solid #E6E7EB;
  cursor: pointer;
}
.main-card .main-card-top ul li:last-child {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.main-card .main-card-top ul .top-menu-item-active {
  color: #0058FF;
  border-left: 3px solid #0058FF;
}
.main-card .main-card-content {
  margin-top: 0.2rem;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}
.main-card .main-card-content .content-item {
  width: 4.47rem;
  height: 1.88rem;
  background: #FFFFFF;
  border: 1px solid #E6E7EB;
  opacity: 1;
  border-radius: 3px;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
}
.main-card .main-card-content .content-item .content-item-title {
  font-size: 0.2rem;
  line-height: 0.25rem;
  color: #171725;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
}
.main-card .main-card-content .content-item .content-item-link {
  margin-top: 0.1rem;
  margin-left: 0.3rem;
}
.main-card .main-card-content .content-item .content-item-link .link-item {
  font-size: 0.14rem;
  line-height: 0.25rem;
  color: #0058FF;
  margin-top: 0.1rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
