.content-box {
  padding: 24px;
  padding-top: 56px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 0;
  min-height: calc(100% - 72px);
}
.childAccount-box {
  height: 100%;
  background-color: #fff;
  padding: 24px;
  width: 100%;
}
.childAccount-box .title {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  line-height: 25px;
  color: #1e2736;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-left: 3px solid #0058ff;
  margin-bottom: 20px;
}
.childAccount-box .top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.childAccount-box .bom {
  display: grid;
  grid-template-columns: 1fr;
}
.childAccount-box .tree-box {
  margin-top: 40px;
  display: flex;
}
.childAccount-box .tree-box .t-form__item {
  width: 75%;
}
.childAccount-box .tree-box .tree-title {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 22px;
  color: #1e2736;
  margin-right: 20px;
}
.childAccount-box .tree-box .tree {
  flex: 1;
  border: 1px solid #e6e7eb;
  opacity: 1;
  border-radius: 3px;
  display: flex;
}
.childAccount-box .tree-box .tree .tree-left {
  box-sizing: border-box;
  padding: 0 20px;
  width: 50%;
  border-right: 1px solid #e6e7eb;
}
.childAccount-box .tree-box .tree .tree-right {
  box-sizing: border-box;
  padding: 0 20px;
  width: 600px;
  border-left: 1px solid #e6e7eb;
}
.childAccount-box footer {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}
.childAccount-box footer :nth-child(2) {
  margin-left: 20px;
}
.childAccount-box .t-form__item {
  margin-right: 16px;
}
.childAccount-box .t-form__label--left {
  font-size: 16px;
  color: #1e2736;
}
