/* client */
.client .status {
  padding: 0 18px !important;
}
.client .client-search {
  display: flex;
}
.client .client-search .t-select,
.client .client-search .t-input {
  width: 280px;
  margin-right: 4px;
}
.client .client-search .t-button {
  margin-left: 10px;
}
.client .client-search .t-select__wrap,
.client .client-search .t-input__wrap {
  width: auto;
}
.client .bg {
  padding: 2px 4px;
  border-radius: 3px;
}
.client table tbody tr:hover {
  cursor: pointer;
}
/* client-detail */
.client-detail .list-card-container.stop {
  background-color: rgba(0, 0, 0, 0.01);
}
.client-detail .list-card-container.stop .t-input,
.client-detail .list-card-container.stop .t-textarea__inner,
.client-detail .list-card-container.stop .t-table,
.client-detail .list-card-container.stop .t-table tr,
.client-detail .list-card-container.stop .t-select {
  background-color: transparent;
}
.client-detail .t-row {
  width: auto;
}
.client-detail .box {
  padding: 13px 38px 0 20px;
  box-sizing: border-box;
}
.client-detail .t-card__body {
  height: 100%;
}
.client-detail .t-form.stop {
  position: relative;
  background: url(../img/stop.png) center center;
  background-repeat: no-repeat;
}
.client-detail .list-card-container .t-form__item {
  flex-direction: column;
  flex-wrap: wrap;
  width: 48%;
}
.client-detail .list-card-container .t-col {
  margin-bottom: 24px;
}
.client-detail .list-card-container .item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.client-detail .list-card-container .t-form__label,
.client-detail .list-card-container .t-form__controls {
  width: 100% !important;
  flex: 1;
  margin-left: 0 !important;
  text-align: left;
}
.client-detail .textarea {
  margin-top: 25px !important;
  width: 100% !important;
}
.client-detail .footer-btn {
  width: 100%;
  margin-top: 26px;
}
.client-detail .footer-btn .t-button,
.client-detail .footer-btn .com-transparent {
  margin-left: 20px;
}
.client-detail .footer-btn .t-button:first-child,
.client-detail .footer-btn .com-transparent:first-child {
  margin-left: 0;
}
.client-detail .dis-box {
  margin-bottom: 48px;
}
.client-detail .dis-box p {
  margin: 0;
  line-height: 32px;
}
.client-detail .dis-box p.com-tit {
  margin-bottom: 25px;
}
.client-detail .header-btn {
  margin-bottom: 32px;
}
.client-detail .header-btn .t-button,
.client-detail .header-btn .com-transparent {
  margin-left: 20px;
}
.client-detail .header-btn .t-button:first-child,
.client-detail .header-btn .com-transparent:first-child {
  margin-left: 0;
}
/* transaction */
.transaction .t-table__tree-op-icon {
  display: none;
}
.transaction .user label:before {
  color: var(--td-error-color);
  content: "*";
  display: inline-block;
  line-height: 22px;
  margin-right: 4px;
}
.transaction .common-look {
  position: relative;
}
/* client-order */
.client-order .icon-width {
  padding: 12px 0;
}
.client-order .common-dialog {
  margin-top: 30px;
}
.client-order .t-table__tree-col {
  position: relative;
}
.client-order .t-table__tree-op-icon {
  display: none;
}
.client-order .order-id {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  margin-left: -6px;
}
.client-order .order-id .t-icon {
  margin-left: -5px;
}
.client-order .checkDelete {
  margin: 10px 0 0 100px;
}
.client-order .checkDelete .t-checkbox__label {
  color: var(--td-text-color-placeholder);
}
.client-order .child {
  margin-left: -20px;
}
.client-order .host-name {
  color: #b1b1bc;
}
.client-order .tool-content {
  white-space: pre-line;
}
.delDialog .t-dialog__body {
  color: #333;
}
.delDialog .check {
  display: flex;
  align-items: baseline;
}
.delDialog .check .t-checkbox {
  position: relative;
  top: 3px;
}
.delDialog .check .t-checkbox .t-checkbox__label {
  margin-left: 3px;
}
.delDialog .check .tips {
  margin-bottom: 30px;
}
.delDialog .check .tips p {
  margin: 0;
}
.delDialog .check .tips .tip {
  color: var(--td-text-color-placeholder);
}
.sign_pay .t-input.t-input--prefix > .t-input__prefix {
  margin-right: 3px;
}
.order-canceled {
  background: #888888 !important;
}
.order-paid {
  background: #067945 !important;
}
.order-refunded {
  background: #B52619 !important;
}
.order-unpaid {
  background: #2F4484 !important;
}
/* create-order */
.create-order .t-col {
  display: flex;
  justify-content: space-between;
}
.create-order .item {
  width: 45%;
}
.create-order .p-tit {
  width: 100%;
  display: flex;
  line-height: 44px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  background: var(--td-bg-color-page);
  padding: 0 10px;
  margin-bottom: 26px;
}
.create-order .p-tit .t-icon {
  color: #999;
  cursor: pointer;
}
.create-order .artificial .t-card__body {
  padding: 9px 30px 26px 30px;
}
.create-order .artificial textarea {
  height: 70px;
}
.create-order .artificial .t-button {
  margin-top: 30px;
}
.create-order .artificial .bot {
  margin-top: 100px;
}
.create-order .new-order .t-col {
  flex-wrap: wrap;
}
.create-order .new-order .pro-item {
  width: 100%;
  margin-bottom: 30px;
}
.create-order .new-order .pro-item .price .t-select__wrap {
  width: 70%;
  margin-right: 40px;
}
.create-order .new-order .pro-item .com-tit {
  font-size: 16px;
  font-weight: bold;
}
.create-order .config-show {
  position: sticky;
  top: 0;
}
.create-order .config-show .t-card {
  padding: 30px;
}
.create-order .config-show .t-card__body {
  padding: 0;
}
.create-order .config-show .com-tit {
  font-size: 16px;
  font-weight: bold;
}
.create-order .config-show .total {
  display: flex;
  justify-content: space-between;
}
.create-order .config-show .total p {
  margin: 0;
  line-height: 32px;
}
.create-order .config-show .total .total-price {
  font-weight: bold;
}
.create-order .config-show .submit-new {
  margin-top: 30px;
}
.create-order .price .t-form__controls-content > span {
  width: 100%;
}
.create-order .price .t-form__controls-content .t-popup {
  width: 100%;
  transform: translate(0, 0) !important;
}
.create-order .price .t-form__controls-content .t-popup__content {
  height: 300px;
  overflow-y: auto;
}
.create-order .t-input__suffix .t-icon {
  transition: all 0.2s cubic-bezier(0.38, 0, 0.24, 1);
}
.create-order .t-input__suffix .t-icon.active {
  color: var(--td-brand-color);
  transform: rotateX(180deg);
}
.no-empty + ul + .t-select__empty {
  display: none;
}
/* order */
.order .common-dialog {
  margin-top: 30px;
}
.order .t-table__tree-col {
  position: relative;
}
.order .t-table__tree-op-icon {
  display: none;
}
.order .icon-width {
  padding: 12px 0;
}
.order .order-id {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  margin-left: -6px;
}
.order .order-id .t-icon {
  margin-left: -5px;
}
.order .hover,
.order .child-name {
  cursor: pointer;
}
.order .checkDelete {
  margin: 10px 0 0 100px;
}
.order .checkDelete .t-checkbox__label {
  color: var(--td-text-color-placeholder);
}
.order .child {
  margin-left: -20px;
}
.order .host-name {
  color: #b1b1bc;
}
.order .text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.order .canceled {
  background: #c4c4c4;
}
/* host-detail */
.host-detail .t-row {
  width: auto;
}
.host-detail .t-table td,
.host-detail .t-table th {
  padding: 12px 24px;
}
.host-detail .jump {
  color: var(--td-brand-color-active);
  cursor: pointer;
}
.host-detail .renew-dialog .t-dialog {
  width: 720px !important;
}
.host-detail .renew-dialog .box {
  display: flex;
}
.host-detail .renew-dialog .swiper {
  display: flex;
  align-items: center;
}
.host-detail .renew-dialog .swiper .t-icon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.host-detail .renew-dialog .m-box {
  display: flex;
}
.host-detail .renew-dialog .swiper-item {
  width: 180px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  margin: 0 10px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  align-items: center;
  height: 110px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "PingFang SC";
}
.host-detail .renew-dialog .swiper-item p {
  margin: 0;
}
.host-detail .renew-dialog .swiper-item.active {
  border-color: #0052d9;
}
.host-detail .renew-dialog .swiper-item.card {
  display: flex;
}
.host-detail .renew-dialog .price {
  font-size: 26px;
  color: #333;
  font-weight: bold;
  margin-top: 10px !important;
}
.host-detail .renew-dialog .price span {
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
}
.host-detail .com-f-btn .price {
  font-size: 18px;
  color: #ff0000;
}
.host-detail .com-f-btn .price span {
  color: #ff0000;
  font-size: 16px;
}
.host-detail .renew-btn {
  margin-bottom: 20px;
}
.host-detail .item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.host-detail .item .t-form__item {
  width: 45%;
}
.host-detail .t-card__body {
  height: 100%;
}
.host-detail .t-select {
  height: 30px;
}
.host-detail .footer-btn {
  margin-top: 30px;
}
.host-detail .footer-btn .t-button {
  margin-right: 20px;
}
.host-detail .t-form:not(.t-form-inline) .t-form__item:last-of-type {
  margin-bottom: 24px;
}
.host-detail .t-date-picker {
  width: 100%;
}
.host-detail textarea {
  height: 70px;
}
.com-no-child {
  margin-left: 5px !important;
}
.chlid-box .t-table__header tr {
  background-color: #eeeeee;
}
.chlid-box .t-table th,
.chlid-box .t-table thead td {
  color: black;
}
.chlid-box .edit-text {
  color: #1482c5;
  cursor: pointer;
}
/* module-opt */
.module-opt .t-icon {
  color: #fff;
  margin-left: 0;
  position: relative;
  z-index: 2;
}
.module-opt .t-button {
  margin-right: 20px;
}
.pack-tip {
  font-size: 16px;
}
.tool-content {
  white-space: pre-line;
}
.cer-status {
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
}
.is-cer {
  background: #EEEEEE;
  color: #757575;
}
.no-cer {
  background: rgba(249, 149, 0, 0.12);
  color: #F99600;
}
.green-icon {
  color: #03B193;
}
/* order-details */
.order-details .initiate_refund {
  margin-bottom: 10px;
}
.order-details .top-info {
  background: #F3F5F8;
  padding: 10px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.order-details .left-box {
  background: #fff;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
.order-details .left-box .aHover {
  color: var(--td-brand-color-8);
}
.order-details .left-box .item {
  width: 50%;
  line-height: 30px;
  font-size: 14px;
  color: #333;
}
.order-details .left-box .item .txt {
  width: 90px;
  display: inline-block;
  text-align: right;
  margin-right: 90px;
}
.order-details .left-box .item .btn {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid var(--td-brand-color-8);
  color: var(--td-brand-color-8);
  border-radius: 3px;
  line-height: 1;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
}
.order-details .r-box {
  flex: 1;
  display: flex;
  justify-content: center;
}
.order-details .r-box .con {
  text-align: center;
  max-width: 240px;
}
.order-details .order-pay {
  width: 240px;
  margin: 10px 0;
}
.order-details .signPay {
  border: 1px solid #DCDCDC;
  line-height: 32px;
  padding: 0 14px;
  display: inline-block;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin: 0;
  font-size: 12px;
}
.order-details .signPay:hover {
  background: #F3F3F3;
}
.order-details .time,
.order-details .gateway {
  margin: 0;
  line-height: 1;
  margin-top: 10px;
}
.order-details .checkDelete {
  margin: 10px 0 0 100px;
  color: var(--td-text-color-placeholder);
}
.order-details thead tr {
  background: #F3F5F8;
}
