/* 管理相关 */
.log-system .common-header {
  justify-content: flex-end;
  margin-bottom: 14px;
}
.log-system .common-header .search {
  width: 360px;
}
/* log-notice-sms */
.log-notice-sms .common-header,
.log-notice-email .common-header {
  margin-bottom: 14px;
}
.log-notice-sms .common-header .t-button,
.log-notice-email .common-header .t-button {
  margin-right: 20px;
}
.log-notice-sms .common-header .search,
.log-notice-email .common-header .search {
  width: 360px;
}
.messagePop .t-dialog {
  max-height: 80% !important;
  overflow-y: auto;
  transform: translate(-50%, -10%) !important;
}
.messagePop .t-dialog__header {
  position: sticky;
  top: -28px;
  line-height: 40px;
  background: #fff;
  z-index: 10;
}
.messagePop .t-dialog__header .messageHeader {
  justify-content: space-between;
  width: 100%;
  display: flex;
}
.messagePop .t-dialog__header .messageHeader .t-icon {
  cursor: pointer;
}
/* task */
.task .t-form .t-form__label {
  width: auto !important;
  padding-right: 10px !important;
}
.task .t-form .t-form__controls {
  width: 280px;
  margin-left: 0 !important;
}
.task .t-form .t-form__item {
  margin-right: 40px !important;
}
.task .t-form .search .t-form__controls {
  width: 360px;
}
.task .t-form .f-btn {
  margin-left: 40px;
}
.task .t-form .f-btn .t-button {
  margin-right: 20px;
}
