.table {
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20px;
}

.navigation_all {
    display: flex;
    flex-direction: column;
    background-color: var(--td-bg-color-container);

}

.navigation_all {
    width: 100%;
    height: 100%;
}

.nav_radio_group {
    width: 280px;
    height: 40px !important;
}

.nav_radio_btn {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new_menu_btn {
    width: 92px;
    height: 32px;
    background: rgba(0, 82, 217, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 40px;
}

.nav_main {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-left: 40px;
}

.nav_left {
    width: 230px;
    border: 1px solid rgba(220, 220, 220, 1);
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav_right {
    width: 100%;
    margin-left: 5px;
    position: relative;
}

.menu_set {
    width: 401px;
    height: 580px;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    padding: 30px 40px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.sure_sub {
    position: absolute;
    bottom: 0;
    left: 0;
}

.before {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 6px;

}

.lv1-padding {
    padding-left: 6px;
}

.lv2-padding {
    padding-left: 22px;
}

.circle {
    width: 12px;
    height: 12px;
    border: 1px solid #03B193;
    border-radius: 50%;
}

.line {
    height: 1px;
    width: 100%;
    opacity: 0.48;
    border-radius: 2px 2px 0px 0px;
    background: #03B193;
}

.level_1,
.level_2 {
    height: 40px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    line-height: 40px;
    margin-left: 6px;
    margin-right: 6px;
}

.level_1:hover,
.level_2:hover {
    cursor: move;
}

.chosen {
    margin-left: 6px;
    margin-right: 6px;
    background: rgb(233, 233, 233);
    border: 1px dashed #03B193;
}

/* .chosen>.before{
    display: none;
} */

/* .ghost>.level_1{
    display: none;
} */

.level_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 17px;
}

.level_icon {
    width: 16px;
    height: 16px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.4);
    opacity: 1;
    margin-right: 8px;
}

.back-icon {
    margin-right: 9px;
}

.level_2 {
    padding-left: 42px;
}

.active {
    background: rgb(233, 233, 233);
}

.form-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


.btn-ok {
    margin-right: 20px;
}

.new_menu_checkbox {
    margin-left: 120px;
    margin-bottom: 20px;
}

.t-dialog__footer>div {
    display: flex;
    flex-direction: row-reverse;
}

.lv1-text,
.lv2-text {
    /* width: 100px; */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.front-icon {
    margin-right: 9px;
    filter: invert(100%);
}