.re-config .config {
  max-width: 1129px;
}
.re-config .config .length-item {
  display: flex;
  flex-direction: column;
}
.re-config .config .length-item .t-input-number {
  width: 320px;
}
.re-config .config .length-item .text {
  margin-top: 4px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.re-config .config .amount-item .t-input-number {
  width: 320px;
}
.re-config .config .item-row {
  display: flex;
}
.re-config .config .item-row .time-item {
  display: flex;
  align-items: center;
}
.re-config .config .cycle-table {
  display: flex;
  flex-direction: column;
}
.re-config .config .cycle-table .add-row {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #DBDBDB;
  border-radius: 3px;
  margin: 20px;
}
.re-config .config thead tr {
  background: #FAFAFA;
}
.re-config .config .operation .operation-icon {
  cursor: pointer;
  color: #1962DC;
  font-size: 16px;
  margin-right: 24px;
}
