<!DOCTYPE html>
<html lang="en" theme-color="default" theme-mode>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title></title>
    <!-- element-css -->
    <link rel="stylesheet" href="./css/common/element.css">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="./css/common/common.css">
    <!-- 页面独有样式 -->
    <link rel="stylesheet" href="./css/client.css">
</head>

<body>
    <div id="mainLoading">
        <div class="ddr ddr1"></div>
        <div class="ddr ddr2"></div>
        <div class="ddr ddr3"></div>
        <div class="ddr ddr4"></div>
        <div class="ddr ddr5"></div>
    </div>
    <div id="content" v-cloak>
        <el-container style="flex-direction: column;">
            <top-menu @authorizechange="authorizeChange"></top-menu>
            <el-container>
                <aside-menu></aside-menu>
                <el-main>
                    <!-- 自己的 -->
                    <div class="client">
                        <el-tabs v-model="activeName" @tab-click="handleClick">
                            <el-tab-pane label="我的应用" name="1">
                                <div class="top-search">
                                    <el-select placeholder="请选择类别" v-model="params1.type" clearable>
                                        <el-option value="addon" label="插件"></el-option>
                                        <el-option value="captcha" label="验证码接口"></el-option>
                                        <el-option value="certification" label="实名接口"></el-option>
                                        <el-option value="gateway" label="支付接口"></el-option>
                                        <el-option value="mail" label="邮件接口"></el-option>
                                        <el-option value="sms" label="短信接口"></el-option>
                                        <el-option value="server" label="模块"></el-option>
                                        <el-option value="template" label="主题"></el-option>
                                        <!-- <el-option value="service" label="服务"></el-option> -->
                                    </el-select>
                                    <el-select placeholder="请选择域名" clearable v-model="params1.host_id">
                                        <el-option v-for="item in authorizeData" :key="item.id" :value="item.id"
                                            :label="item.domain"></el-option>
                                    </el-select>
                                    <el-input placeholder="请输入应用名称" v-model="params1.keywords"></el-input>
                                    <el-button class="search-btn" @click="search1">查询</el-button>
                                </div>

                                <el-table :data="dataList1" v-loading="loading1"
                                    style="width: 100%;margin-bottom: .2rem;">
                                    <el-table-column prop="id" label="序号" width="72" :show-overflow-tooltip="true"
                                        align="center">
                                    </el-table-column>
                                    <el-table-column prop="name" label="应用名称" min-width="350"
                                        :show-overflow-tooltip="true" align="center">
                                    </el-table-column>
                                    <el-table-column prop="create_time" label="购买时间" min-width="180"
                                        :show-overflow-tooltip="true" align="center">
                                        <template slot-scope="scope">
                                            {{scope.row.create_time | formateTime}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="due_time" label="到期时间" width="180"
                                        :show-overflow-tooltip="true" align="center">
                                        <template slot-scope="scope">
                                            <span
                                                :class="Number(scope.row.due_time*1000) < Number(Date.now())?'red':null">
                                                {{scope.row.due_time | formateTime}}
                                            </span>

                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="amount" label="购买金额" width="160"
                                        :show-overflow-tooltip="true" align="center">
                                        <template slot-scope="scope">
                                            {{commontData.currency_prefix}}{{scope.row.amount}}/{{payType[scope.row.pay_type]}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="domain" label="关联域名" width="200"
                                        :show-overflow-tooltip="true" align="center">
                                    </el-table-column>
                                    <el-table-column prop="date" label="操作" width="174" align="center">
                                        <template slot-scope="scope">
                                            <div class="operation-4">
                                                <span class="red-btn" v-if="scope.row.status == 'Unpaid'"
                                                    @click="appPay(scope.row.order_id)">去支付</span>
                                                <span class="blue-btn"
                                                    v-if="scope.row.status != 'Unpaid' && !scope.row.domain"
                                                    @click="downloadApp(scope.row.product_id)">下载安装包</span>
                                                <div class="column-line" v-if="scope.row.status != 'Unpaid'"></div>
                                                <span class="blue-btn" @click="showRenew(scope.row.id)"
                                                    v-if="scope.row.status != 'Unpaid'">续费</span>
                                            </div>
                                        </template>
                                    </el-table-column>
                                </el-table>

                                <pagination :page-data="params1" @sizechange="sizeChange1"
                                    @currentchange="currentChange1">
                                </pagination>
                            </el-tab-pane>
                            <el-tab-pane label="我的服务" name="2">
                                <div class="top-search">
                                    <el-select placeholder="是否已使用" clearable v-model="params2.used">
                                        <el-option label="是" value="1"></el-option>
                                        <el-option label="否" value="0"></el-option>
                                    </el-select>
                                    <el-select placeholder="请选择域名" clearable v-model="params2.host_id">
                                        <el-option v-for="item in authorizeData" :key="item.id" :value="item.id"
                                            :label="item.domain"></el-option>
                                    </el-select>
                                    <el-input placeholder="请输入名称" v-model="params2.keywords"></el-input>
                                    <el-button class="search-btn" @click="search2">查询</el-button>
                                </div>
                                <el-table :data="dataList2" v-loading="loading2"
                                    style="width: 100%;margin-bottom: .2rem;">
                                    <el-table-column prop="id" label="序号" width="72" :show-overflow-tooltip="true"
                                        align="center">
                                    </el-table-column>
                                    <el-table-column prop="name" label="服务名称" min-width="444"
                                        :show-overflow-tooltip="true" align="center">
                                    </el-table-column>
                                    <el-table-column prop="create_time" label="购买时间" width="160"
                                        :show-overflow-tooltip="true" align="center">
                                        <template slot-scope="scope">
                                            {{scope.row.create_time | formateTime}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="due_time" label="到期时间" width="160"
                                        :show-overflow-tooltip="true" align="center">
                                        <template slot-scope="scope">
                                            <span
                                                :class="Number(scope.row.due_time*1000) < Number(Date.now())?'red':null">
                                                {{scope.row.due_time | formateTime}}
                                            </span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="amount" label="购买金额" width="160"
                                        :show-overflow-tooltip="true" align="center">
                                        <template slot-scope="scope">
                                            {{commontData.currency_prefix}}{{scope.row.amount}}/{{payType[scope.row.pay_type]}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="used" label="是否已使用" width="140" :show-overflow-tooltip="true"
                                        align="center">
                                        <template slot-scope="scope">
                                            {{scope.row.used=='0'?'否':'是'}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="domain" label="关联域名" width="200"
                                        :show-overflow-tooltip="true" align="center">
                                    </el-table-column>
                                    <el-table-column prop="date" label="操作" width="140" align="center">
                                        <template slot-scope="scope">
                                            <div class="operation-4">
                                                <span class="red-btn" v-if="scope.row.status == 'Unpaid'"
                                                    @click="servicePay(scope.row.order_id)">去支付</span>
                                                <span class="blue-btn" v-if="scope.row.used == 1">再次购买</span>
                                                <span class="blue-btn" v-if="
                                                (scope.row.pay_type != 'onetime' || scope.row.pay_type != 'free') 
                                                    && scope.row.status != 'Unpaid' 
                                                    && scope.row.used == 0" @click="showRenew(scope.row.id)">续费</span>
                                            </div>
                                        </template>
                                    </el-table-column>
                                </el-table>

                                <pagination :page-data="params2" @sizechange="sizeChange2"
                                    @currentchange="currentChange2">
                                </pagination>
                            </el-tab-pane>
                            <el-tab-pane label="我的订单" name="3">
                                <div class="top-search">
                                    <el-select placeholder="请选择类别" v-model="params3.type" clearable>
                                        <el-option value="addon" label="插件"></el-option>
                                        <el-option value="captcha" label="验证码接口"></el-option>
                                        <el-option value="certification" label="实名接口"></el-option>
                                        <el-option value="gateway" label="支付接口"></el-option>
                                        <el-option value="mail" label="邮件接口"></el-option>
                                        <el-option value="sms" label="短信接口"></el-option>
                                        <el-option value="server" label="模块"></el-option>
                                        <el-option value="template" label="主题"></el-option>
                                        <el-option value="service" label="服务"></el-option>
                                    </el-select>
                                    <el-select placeholder="请选择状态" v-model="params3.status" clearable>
                                        <el-option value="Unpaid" label="待支付"></el-option>
                                        <el-option value="Wait" label="等待服务"></el-option>
                                        <el-option value="Inservice" label="服务中"></el-option>
                                        <el-option value="Refunding" label="退款中"></el-option>
                                        <el-option value="Refunded" label="已退款"></el-option>
                                        <el-option value="Finish" label="已完成"></el-option>
                                        <el-option value="Paid" label="已支付"></el-option>
                                        <el-option value="Cancelled" label="已取消"></el-option>
                                    </el-select>
                                    <el-input placeholder="请输入名称" v-model="params3.keywords"></el-input>
                                    <el-button class="search-btn" @click="search3">查询</el-button>
                                </div>
                                <el-table :data="dataList3" v-loading="loading3"
                                    style="width: 100%;margin-bottom: .2rem;">
                                    <el-table-column prop="id" label="订单ID" width="72" :show-overflow-tooltip="true"
                                        align="center">
                                    </el-table-column>
                                    <el-table-column prop="name" label="商品名称" min-width="350"
                                        :show-overflow-tooltip="true" align="center">
                                    </el-table-column>
                                    <el-table-column prop="type" label="商品类别" width="120" :show-overflow-tooltip="true"
                                        align="center">
                                        <template slot-scope="scope">
                                            {{type[scope.row.type]}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="create_time" label="购买时间" width="160"
                                        :show-overflow-tooltip="true" align="center">
                                        <template slot-scope="scope">
                                            {{scope.row.create_time | formateTime}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="amount" label="购买金额" width="160"
                                        :show-overflow-tooltip="true" align="center">
                                        <template slot-scope="scope">
                                            {{commontData.currency_prefix}}{{scope.row.amount}}/{{payType[scope.row.pay_type]}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="domain" label="关联域名" width="200"
                                        :show-overflow-tooltip="true" align="center">
                                    </el-table-column>
                                    <el-table-column prop="status" label="当前状态" width="150"
                                        :show-overflow-tooltip="true" align="center">
                                        <template slot-scope="scope">
                                            <div class="order-status">
                                                <span>{{status[scope.row.status]}}</span>
                                                <span
                                                    v-if="scope.row.status == 'Refunding' || scope.row.status == 'Refunded'">({{commontData.currency_prefix}}{{scope.row.refund}})</span>
                                            </div>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="date" label="操作" width="250" align="center">
                                        <template slot-scope="scope">
                                            <div class="operation-4">
                                                <span class="red-btn"
                                                    v-if="scope.row.status == 'Unpaid' && scope.row.type !='service'"
                                                    @click="showPayDialog(scope.row.id)">立即支付</span>
                                                <span class="blue-btn" v-if="scope.row.status == 'Paid'"
                                                    @click="showOrderFinish(scope.row.id)">确认收货</span>
                                                <span class="blue-btn" v-if="scope.row.status =='Finish'"
                                                    @click="showAppraise(scope.row.id)">发表评价</span>
                                                <span class="blue-btn" v-if="scope.row.status == 'Inservice'"
                                                    @click="showServiceFinish(scope.row.id)">服务完成</span>
                                                <span class="blue-btn" v-if="scope.row.status == 'Refunding'"
                                                    @click="showRefundDetail(scope.row.id,scope.row.refund)">查看申请</span>

                                                <div class="column-line" v-if="
                                                    (scope.row.status == 'Unpaid' && scope.row.type != 'service') ||
                                                    scope.row.status == 'Paid' ||
                                                    scope.row.status == 'Inservice' ||
                                                    scope.row.status == 'Refunding' ||
                                                    scope.row.status == 'Finish'
                                                "></div>

                                                <span class="blue-btn" v-if="scope.row.status == 'Refunding'"
                                                    @click="showEditRefund(scope.row.id,scope.row.refund)">修改退款金额</span>
                                                <span class="red-btn" v-if="
                                                scope.row.status == 'Paid' ||
                                                scope.row.status == 'Finish' ||
                                                scope.row.status == 'Wait' ||
                                                scope.row.status == 'Inservice'
                                                " @click="showRefund(scope.row.id)">申请退款</span>
                                                <span class="red-btn" v-if="scope.row.status == 'Unpaid'"
                                                    @click="showOrderDel(scope.row.id)">关闭订单</span>

                                                <span
                                                    v-if="scope.row.status == 'Refunded' || scope.row.status == 'Cancelled'">--</span>

                                                <div class="column-line" v-if="scope.row.status=='Refunding'"></div>
                                                <span class="red-btn" v-if="scope.row.status=='Refunding'"
                                                    @click="orderComplaints(scope.row.id)">投诉</span>
                                            </div>
                                        </template>
                                    </el-table-column>
                                </el-table>

                                <pagination :page-data="params3" @sizechange="sizeChange3"
                                    @currentchange="currentChange3">
                                </pagination>
                            </el-tab-pane>
                            <el-tab-pane label="投诉举报" name="4">
                                <div class="top-search" style="justify-content: space-between;">
                                    <span>
                                        <el-select placeholder="请选择状态" v-model="params4.status" clearable>
                                            <el-option value="0" label="待受理"></el-option>
                                            <el-option value="1" label="处理中"></el-option>
                                            <el-option value="2" label="处理完成"></el-option>
                                        </el-select>
                                        <el-input placeholder="请输入名称" v-model="params4.keywords"></el-input>
                                        <el-button class="search-btn" @click="search4">查询</el-button>
                                    </span>
                                    <el-button class="complaints-btn" @click="showComplaints()">我要投诉</el-button>
                                </div>
                                <el-table :data="dataList4" v-loading="loading4"
                                    style="width: 100%;margin-bottom: .2rem;">
                                    <el-table-column prop="id" label="序号" width="72" :show-overflow-tooltip="true"
                                        align="center">
                                    </el-table-column>
                                    <el-table-column prop="name" label="投诉产品/订单" width="310"
                                        :show-overflow-tooltip="true" align="center">
                                        <template slot-scope="scope">
                                            <span>{{scope.row.name}}</span>
                                            <span>{{scope.row.order_id}}</span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="content" label="投诉详情" min-width="200"
                                        :show-overflow-tooltip="true" align="center">
                                    </el-table-column>
                                    <el-table-column prop="status" label="当前状态" width="120" align="center">
                                        <template slot-scope="scope">
                                            <span v-if="scope.row.status == 0">待受理</span>
                                            <span v-if="scope.row.status == 1">处理中</span>
                                            <span v-if="scope.row.status == 2">处理完成</span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="date" label="操作" width="208" align="center">
                                        <template slot-scope="scope">
                                            <div class="operation-4">
                                                <span class="see-btn"
                                                    @click="showComplaintDetail(scope.row.id)">查看投诉</span>
                                                <div class="column-line"></div>
                                                <span class="back-btn" @click="retract(scope.row.id)">撤回</span>
                                            </div>
                                        </template>
                                    </el-table-column>
                                    </el-table-column>
                                </el-table>

                                <pagination :page-data="params4" @sizechange="sizeChange4"
                                    @currentchange="currentChange2">
                                </pagination>
                            </el-tab-pane>
                        </el-tabs>





                        <!-- 发表评价 -->
                        <el-dialog :visible.sync="appraiseVisible" width="5.8rem" custom-class="appraise-dialog">
                            <div slot="title" class="dialog-title">
                                <p>发表评价</p>
                            </div>
                            <div class="dialog-main">
                                <el-form label-position="top" ref="appraiseForm" :model="appraiseForm"
                                    :rules="appraiseRules">
                                    <el-form-item label="评价内容" prop="content">
                                        <el-input type="textarea" placeholder="请输入评价内容" v-model="appraiseForm.content"
                                            maxlength="500" show-word-limit :autosize="{minRows: 4, maxRows: 4}"
                                            resize="none">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item prop="score">
                                        <el-rate v-model="appraiseForm.score"></el-rate>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button class="sub-btn" @click="appraiseSub" v-loading="appraiseLoading">发表
                                </el-button>
                                <el-button class="close-btn" @click="appraiseVisible=false">取消</el-button>
                            </div>
                        </el-dialog>

                        <!-- 申请退款 -->
                        <el-dialog :visible.sync="refundVisible" width="5.8rem" custom-class="comon-dialog"
                            @close="refundClose">
                            <div slot="title" class="dialog-title">
                                <p>申请退款</p>
                                <p v-show="isRefund">(订单ID:{{orderId}})</p>
                                <p v-show="!isRefund">(退款金额:{{commontData.currency_prefix}}{{refundMoney}})</p>
                            </div>
                            <div class="dialog-main">
                                <el-form label-position="top" ref="refundForm" :model="refundForm" :rules="refundRules">
                                    <el-form-item label="退款金额" prop="amount" v-if="isRefund">
                                        <el-input-number class="number-input" v-model="refundForm.amount" :precision="2"
                                            :step="0.01" :controls="false">
                                        </el-input-number>
                                    </el-form-item>
                                    <el-form-item v-if="!isRefund">
                                        <div class="content">
                                            <div class="content-item" v-for="item in refundDetailData" :key="item.id">
                                                <div class="name">
                                                    <span
                                                        v-if="item.user_type == 'client'">用户回复({{item.username}})</span>
                                                    <span
                                                        v-if="item.user_type == 'developer'">商家回复({{item.username}})</span>
                                                    <span
                                                        v-if="item.user_type == 'official'">官方回复({{item.username}})</span>
                                                </div>
                                                <div class="text">{{item.content}}</div>
                                                <div class="images">
                                                    <img :src="url" alt="" v-for="(url,index) in item.attachment"
                                                        :key="index" @click="imgClick(url)">
                                                </div>
                                                <div class="time">
                                                    {{item.create_time | formateTime2}}
                                                </div>
                                            </div>
                                        </div>
                                    </el-form-item>
                                    <el-form-item label="退款理由" prop="content">
                                        <el-input type="textarea" placeholder="请输入内容" v-model="refundForm.content"
                                            maxlength="500" show-word-limit :autosize="{minRows: 4, maxRows: 4}"
                                            resize="none">
                                    </el-form-item>
                                    <el-form-item label="投诉附件" prop="attachment">
                                        <el-upload action="http://kfc.idcsmart.com/console/v1/upload"
                                            list-type="picture-card" :on-preview="handlePictureCardPreview"
                                            ref="refundFileupload" :before-remove="beforeRemove" :file-list="fileList"
                                            :on-success="handleSuccess" :before-upload="beforeUpload">
                                            <i class="el-icon-plus"></i>
                                        </el-upload>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button class="sub-btn" @click="refundSub" v-loading="refundLoading">确定
                                </el-button>
                                <el-button class="close-btn" @click="refundClose">取消</el-button>
                            </div>
                        </el-dialog>

                        <!-- 修改退款金额 -->
                        <el-dialog :visible.sync="editRefundVisible" width="5.8rem" custom-class="comon-dialog"
                            :close-on-click-modal="false">
                            <div slot="title" class="dialog-title">
                                <p>修改退款金额</p>
                                <p>(订单ID:{{orderId}})</p>
                            </div>
                            <div class="dialog-main">
                                <el-form label-position="top" ref="editRefundForm" :model="editRefundForm"
                                    :rules="editRefundRules">
                                    <el-form-item label="退款金额" prop="amount">
                                        <el-input-number class="number-input" v-model="editRefundForm.amount"
                                            :precision="2" :step="0.01" :controls="false">
                                        </el-input-number>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button class="sub-btn" @click="editRefundSub" v-loading="editRefundLoading">确定
                                </el-button>
                                <el-button class="close-btn" @click="editRefundVisible=false">取消</el-button>
                            </div>
                        </el-dialog>

                        <!-- 服务完成 二次确认弹窗 -->
                        <el-dialog :visible.sync="serviceFinishVisible" width="5.8rem" custom-class="comon-dialog"
                            :close-on-click-modal="false">
                            <div slot="title" class="dialog-title">
                                <p>服务完成</p>
                                <p>(订单ID:{{orderId}})</p>
                            </div>
                            <div class="dialog-main">
                                您将确认服务完成，是否继续？
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button class="sub-btn" @click="serviceFinishSub" v-loading="serviceFinishLoading">确定
                                </el-button>
                                <el-button class="close-btn" @click="serviceFinishVisible=false">取消</el-button>
                            </div>
                        </el-dialog>

                        <!-- 确认收货 二次确认弹窗 -->
                        <el-dialog :visible.sync="orderFinishVisible" width="5.8rem" custom-class="comon-dialog"
                            :close-on-click-modal="false">
                            <div slot="title" class="dialog-title">
                                <p>确认收货</p>
                                <p>(订单ID:{{orderId}})</p>
                            </div>
                            <div class="dialog-main">
                                您将确认收货，是否继续？
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button class="sub-btn" @click="orderFinishSub" v-loading="orderFinishLoading">确定
                                </el-button>
                                <el-button class="close-btn" @click="orderFinishVisible=false">取消</el-button>
                            </div>
                        </el-dialog>

                        <!-- 关闭订单二次确认弹窗 -->
                        <el-dialog :visible.sync="orderDelVisible" width="5.8rem" custom-class="comon-dialog"
                            :close-on-click-modal="false">
                            <div slot="title" class="dialog-title">
                                <p>关闭订单</p>
                                <p>(订单ID:{{orderId}})</p>
                            </div>
                            <div class="dialog-main">
                                您将关闭订单，是否继续？
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button class="sub-btn" @click="orderDelSub" v-loading="orderDelLoading">确定
                                </el-button>
                                <el-button class="close-btn" @click="orderDelVisible=false">取消</el-button>
                            </div>
                        </el-dialog>

                        <!-- 投诉弹窗/查看投诉弹窗 -->
                        <el-dialog :visible.sync="complaintsVisible" width="5.8rem" custom-class="complaints-dialog"
                            :close-on-click-modal="false" @close="closeComplaints">
                            <div slot="title" class="dialog-title">
                                <img v-show="!isComplaintView" src="./img/common/waring.png" class="title-icon">
                                <p v-show="!isComplaintView">投诉</p>
                                <p v-show="isComplaintView">查看投诉</p>

                            </div>
                            <div class="dialog-main">
                                <el-form ref="complaintsform" :model="complaintsForm" label-position="top"
                                    :rules="complaintsRules">
                                    <el-form-item label="投诉订单" prop="id" v-if="!isComplaintView">
                                        <div>
                                            <el-select v-model="complaintsForm.id">
                                                <el-option v-for="item in orderSelectList" :key="item.id"
                                                    :value="item.id" :label="item.name"></el-option>
                                            </el-select>
                                            <p>若要投诉商品，请到商品详情页进行投诉</p>
                                        </div>
                                    </el-form-item>
                                    <el-form-item label="投诉内容" v-if="isComplaintView">
                                        <div class="content">
                                            <div class="content-item" v-for="item in complaintDetailData"
                                                :key="item.id">
                                                <div class="name">
                                                    <span
                                                        v-if="item.user_type == 'client'">用户回复({{item.username}})</span>
                                                    <span
                                                        v-if="item.user_type == 'developer'">商家回复({{item.username}})</span>
                                                    <span
                                                        v-if="item.user_type == 'official'">官方回复({{item.username}})</span>
                                                </div>
                                                <div class="text">{{item.content}}</div>
                                                <div class="images">
                                                    <img :src="url" alt="" v-for="(url,index) in item.attachment"
                                                        :key="index" @click="imgClick(url)">
                                                </div>
                                                <div class="time">
                                                    {{item.create_time | formateTime2}}
                                                </div>
                                            </div>
                                        </div>
                                    </el-form-item>
                                    <el-form-item :label="isComplaintView?'补充投诉':'投诉内容'" prop="content">
                                        <el-input type="textarea" placeholder="请输入内容" v-model="complaintsForm.content"
                                            maxlength="500" show-word-limit :autosize="{minRows: 4, maxRows: 4}"
                                            resize="none">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="投诉附件" prop="attachment">
                                        <el-upload action="http://kfc.idcsmart.com/console/v1/upload"
                                            list-type="picture-card" :on-preview="handlePictureCardPreview"
                                            ref="fileupload" :before-remove="beforeRemove" :file-list="fileList"
                                            :on-success="handleSuccess" :before-upload="beforeUpload">
                                            <i class="el-icon-plus"></i>
                                        </el-upload>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button class="sub-btn" @click="subComplaints" v-loading="complaintsLoading">提交
                                </el-button>
                                <el-button class="close-btn" @click="closeComplaints">取消</el-button>
                            </div>
                        </el-dialog>

                        <!-- 撤回投诉弹窗 -->
                        <el-dialog :visible.sync="retractVisible" width="5.8rem" custom-class="comon-dialog">
                            <div slot="title" class="dialog-title">
                                <p>撤回投诉</p>
                            </div>
                            <div class="dialog-main">
                                您将撤回投诉，是否继续？
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button class="sub-btn" @click="retractSub" v-loading="retractLoading">确定</el-button>
                                <el-button class="close-btn" @click="retractVisible=false">取消</el-button>
                            </div>
                        </el-dialog>

                        <!-- 图片查看 -->
                        <el-dialog :visible.sync="imgVisible">
                            <img width="100%" :src="dialogImageUrl" alt="">
                        </el-dialog>

                        <!-- 支付弹窗 -->
                        <pay-dialog ref="payDialog" @payok="paySuccess" @paycancel="payCancel"></pay-dialog>

                        <!-- 续费弹窗 -->
                        <el-dialog width="6.9rem" :visible.sync="isShowRenew" :show-close=false @close="renewDgClose"
                            custom-class="renew-dialog">
                            <div slot="title" class="dialog-title">
                                <p>续费</p>
                            </div>
                            <div class="dialog-main">
                                <div class="renew-content">
                                    <div class="renew-item" :class="renewForm.billing_cycle==item.id?'renew-active':''"
                                        v-for="item in renewData" :key="item.id" @click="renewItemChange(item)">
                                        <div class="item-top">{{item.billing_cycle}}</div>
                                        <div class="item-bottom">{{commontData.currency_prefix + item.price}}</div>
                                        <i class="el-icon-check check" v-show="renewForm.billing_cycle==item.id"></i>
                                    </div>
                                </div>
                                <div class="pay-content">
                                    <div class="pay-price">
                                        <div class="money">
                                            <span class="text">合计:</span>
                                            <span
                                                class="num">{{commontData.currency_prefix}}{{renewForm.totalPrice}}</span>
                                            <el-popover placement="top-start" width="200" trigger="hover">
                                                <div class="show-config-list">
                                                    优惠的信息
                                                </div>
                                                <i class="el-icon-warning-outline total-icon" slot="reference"></i>
                                            </el-popover>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button class="sub-btn" @click="renewSub" v-loading="renewLoading">
                                    确认续费
                                </el-button>
                                <el-button class="close-btn" @click="isShowRenew=false">取消</el-button>
                            </div>
                        </el-dialog>

                        <!-- 后台地址弹窗 -->
                        <el-dialog width="4.8rem" :visible.sync="addressVisible" custom-class="comon-dialog">
                            <div slot="title" class="dialog-title">
                                <p>请输入您的后台地址</p>
                            </div>
                            <div class="dialog-main">
                                <el-form :model="addressForm" ref="addressForm" :rules="addressRules">
                                    <el-form-item label="请输入您的后台地址" prop="admin_address">
                                        <el-input v-model="addressForm.admin_address"></el-input>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button class="sub-btn" @click="address">立即安装</el-button>
                                <el-button class="close-btn" @click="addressVisible = false">取消</el-button>
                            </div>
                        </el-dialog>

                        <!-- 安装失败 -->
                        <!-- 安装中 -->
                        <!-- 安装成功 -->

                    </div>
                </el-main>
            </el-container>
        </el-container>
    </div>
    <!-- =======页面独有======= -->
    <script src="./api/shop.js"></script>
    <script src="./js/client.js"></script>
    <script src="./components/pagination/pagination.js"></script>
    <script src="./components/payDialog/payDialog.js"></script>
    <!-- =======公共======= -->
    <script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="./components/captchaDialog/captchaDialog.js"></script>
    <script src="./components/countDownButton/countDownButton.js"></script>
    <script src="./components/loginDialog/loginDialog.js"></script>
    <script src="./components/topMenu/topMenu.js"></script>
    <script src="./components/asideMenu/asideMenu.js"></script>
    <script src="./utils/util.js"></script>
    <script src="./js/common/common.js"></script>
    <script src="./js/common/vue.js"></script>
    <script src="./js/common/element.js"></script>
    <script src="./js/common/axios.min.js"></script>
    <script src="./utils/request.js"></script>
</body>

</html>