.el-main {
  padding-left: 1.02rem;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box img {
  margin-bottom: 0.2rem;
}
.box p {
  font-size: 0.18rem;
  color: #848585;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1rem 0;
}
.box p .el-button {
  font-size: 0.18rem;
}
