.addon .common-look {
  margin-right: 16px;
}
.addon .common-look:last-child {
  margin-right: 0;
}
.addon .version div {
  display: flex;
  align-items: center;
}
.addon .version .upgrade img {
  width: 16px;
  cursor: pointer;
  display: block;
  margin-left: 10px;
}
.addon .common-header {
  flex-direction: column;
}
.addon .top-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.addon .top-btn .left {
  display: flex;
  align-items: center;
}
.addon .bot-search {
  display: flex;
  margin-top: 20px;
}
.addon .bot-search .t-input__wrap,
.addon .bot-search .t-select__wrap {
  width: auto;
  margin-right: 10px;
}
.addon .bot-search .t-input {
  width: 240px;
  justify-content: flex-start;
}
.addon .s-tip {
  margin-top: 0;
}
