.recording-title {
    height: 22px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-text {
    width: 86px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 16px;
    color: #333333;
}

.title-line {
    height: 22px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #DCDCDC;

}

.limit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.limit-icon {
    width: 18px;
    color: var(--td-brand-color);
    cursor: pointer;
    margin-left: 10px;
}

.limit-input {
    border: none;
    background: none;
}

.limit-input>.t-input {
    border: none;
    border-radius: 0px;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    background: none;
}

.t-input--focused {
    box-shadow: none;
}
