.feedback .com-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  margin-bottom: 10px;
}
.feedback .com-top .add-btn {
  cursor: pointer;
  line-height: 32px;
  height: 32px;
  background: var(--td-brand-color-8);
  font-size: 14px;
  color: #fff;
  padding: 0 14px;
  border-radius: 4px;
}
.feedback .com-top .tit {
  margin: 0;
}
.feedback .limit-table {
  max-width: 900px;
}
.feedback .limit-table .com-top {
  margin-top: 30px;
}
.feedback .limit-table thead tr th {
  background: #f3f5f8;
}
.feedback .limit-table th,
.feedback .limit-table td {
  padding: 12px 24px;
}
.feedback .com-opt .t-icon {
  color: var(--td-brand-color-active);
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}
.feedback .type-table {
  margin-top: 30px;
}
.feedback .type-table thead tr th {
  background: #f3f5f8;
}
.feedback .type-table th,
.feedback .type-table td {
  padding: 12px 24px;
}
.feedback .attachment {
  display: flex;
}
.feedback .attachment .down {
  flex: 1;
}
.feedback .attachment .down p {
  margin: 0;
}
.feedback .attachment .down span {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.feedback .attachment .down span:hover {
  color: var(--td-brand-color-active);
}
.feedback .info-form {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
}
.feedback .info-form .t-form__item {
  width: 330px;
  margin-right: 20px;
}
.feedback .info-form .t-form__item:nth-child(2n + 2) {
  margin-right: 0;
}
.feedback .info-form .qrcode {
  width: 100%;
}
.feedback .info-form .info-btn {
  margin-top: 20px;
}
.feedback .t-upload .t-dialog {
  width: 800px !important;
  min-height: 500px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  position: relative;
}
.feedback .t-upload .t-dialog__header {
  display: none;
}
.feedback .t-upload .t-dialog__close {
  z-index: 10;
}
.feedback .t-upload .t-dialog__body {
  height: 100%;
  top: 0;
  left: 0;
  padding: 40px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
.feedback .t-upload .t__dialog-body-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.feedback .t-upload .t__dialog-body-img-box img {
  max-width: 100%;
  max-height: 100%;
}
.feedback .web-logo .t-upload__card-content,
.feedback .web-logo .t-upload__card-container {
  width: 260px;
  height: 68px;
}
#viewer {
  width: 0;
  height: 0;
}
.viewer-container {
  z-index: 20000 !important;
}
.viewer-navbar {
  display: none !important;
}
.class-dialog .t-input__wrap {
  width: 360px;
}
.class-dialog .des {
  padding: 10px;
  background: #f3f5f8;
  border-radius: 3px;
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
}
